Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update build-ai-plugin-for-copilot.md
  powerapps-docs/maker/common/build-ai-plugin-for-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

tweaks
  powerapps-docs/maker/common/build-ai-plugin-for-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update commanding-use-powerfx.md
  powerapps-docs/maker/model-driven-apps/commanding-use-powerfx.md
Owners: @Mattp123, @KumarVivek

Revised for style and link fix
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Revised for style and link fix
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update send-card-with-flow.md
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

Update send-card-with-flow.md
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

Update send-card-with-flow.md
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

Add files via upload
  powerapps-docs/cards/media/send-a-card/Send_from_flow.png
Owners: @KumarVivek

Update send-card-with-flow.md
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

Update send-card-with-flow.md
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

Removing preview indicators per 3677188
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Update send-card-with-flow.md
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

Update send-card-with-flow.md
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

Update send-card-with-flow.md
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

Update send-card-with-flow.md
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

Update send-card-with-flow.md
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

Update send-card-with-flow.md
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

Add files via upload
  powerapps-docs/cards/media/send-a-card/Send_card_to_a_Teams_user.png
Owners: @KumarVivek

Update send-card-with-flow.md
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

Update send-card-with-flow.md
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

Add files via upload
  powerapps-docs/cards/media/send-a-card/Send_card_to_a_Teams_user.png
Owners: @KumarVivek

Revised per PM feedback
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Numbering in proc fix
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Numbering in proc fix
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Create Azure-Synapse-Link-Build-Apps-with-Fabric.md
  powerapps-docs/maker/data-platform/powerapps-checker/rules/web/Azure-Synapse-Link-Build-Apps-with-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-Build-Apps-with-Fabric.md
  powerapps-docs/maker/data-platform/powerapps-checker/rules/web/Azure-Synapse-Link-Build-Apps-with-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-Build-Apps-with-Fabric.md
  powerapps-docs/maker/data-platform/powerapps-checker/rules/web/Azure-Synapse-Link-Build-Apps-with-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-Build-Apps-with-Fabric.md
  powerapps-docs/maker/data-platform/powerapps-checker/rules/web/Azure-Synapse-Link-Build-Apps-with-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-Build-Apps-with-Fabric.md
  powerapps-docs/maker/data-platform/powerapps-checker/rules/web/Azure-Synapse-Link-Build-Apps-with-Fabric.md
Owners: @Mattp123, @KumarVivek

Update embed-teams-tab.md
  powerapps-docs/teams/embed-teams-tab.md
Owners: @tapanm-msft, @KumarVivek

Removing preview indicators since feature is now GA
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @KumarVivek, @Mattp123

Revised for style
  powerapps-docs/maker/model-driven-apps/form-component-control.md
Owners: @Mattp123, @KumarVivek

Adding FAQ per PM feedback
  powerapps-docs/maker/common/faqs-excel-to-table-app.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Add article to help app makers avoid pitfalls in working with Galleries
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/canvas-apps/gallery-pitfalls.md
Owners: @KumarVivek, @tapanm-msft

Update mobile-deep-links.md
  powerapps-docs/mobile/mobile-deep-links.md
Owners: @KumarVivek

Update data-retention-view.md
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

check edits
  powerapps-docs/developer/component-framework/fluent-modern-theming.md
  powerapps-docs/developer/component-framework/reference/theming.md
  powerapps-docs/developer/component-framework/sample-controls/modern-theming-api-control.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix links
  powerapps-docs/developer/component-framework/fluent-modern-theming.md
  powerapps-docs/developer/component-framework/react-controls-platform-libraries.md
  powerapps-docs/developer/component-framework/reference/theming.md
  powerapps-docs/developer/component-framework/sample-controls/modern-theming-api-control.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx updates
  powerapps-docs/developer/component-framework/react-controls-platform-libraries.md
Owners: @PHecke, @KumarVivek, @JimDaly

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
