Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Adding geo-availability note in the correct place
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Update implement-all-types-of-queries-when-filtering-preoperation-retrievemultiple.md
  powerapps-docs/developer/data-platform/best-practices/business-logic/implement-all-types-of-queries-when-filtering-preoperation-retrievemultiple.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Revising per 3590784
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Revised for style and date update
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Revised for style and date update
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Update table-settings-for-copilot.md
  powerapps-docs/maker/data-platform/table-settings-for-copilot.md
Owners: @Mattp123, @KumarVivek

Revised for style and date update
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Revised for style and date update
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Writing feature content
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Revised for style and clarity
  powerapps-docs/maker/data-platform/limits-tshoot-virtual-tables.md
Owners: @Mattp123, @KumarVivek

Acrolinx revisions
  powerapps-docs/maker/data-platform/limits-tshoot-virtual-tables.md
Owners: @Mattp123, @KumarVivek

Update setSubmitMode.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/attributes/setSubmitMode.md
Owners: @JimDaly, @KumarVivek

Update intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
Owners: @tapanm-msft, @KumarVivek

Update intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
Owners: @tapanm-msft, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update openAlertDialog.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Navigation/openAlertDialog.md
Owners: @JimDaly, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update openConfirmDialog.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Navigation/openConfirmDialog.md
Owners: @JimDaly, @KumarVivek

edits to wording
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Navigation/openAlertDialog.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Navigation/openConfirmDialog.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @JimDaly, @KumarVivek, @mduelae

acrolinx
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Navigation/openAlertDialog.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Navigation/openConfirmDialog.md
Owners: @JimDaly, @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update offline-capabilities.md
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Update display-custom-icons-instead.md
  powerapps-docs/maker/data-platform/display-custom-icons-instead.md
Owners: @Mattp123, @KumarVivek

Update intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
Owners: @tapanm-msft, @KumarVivek

Incorporating dev feedback
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Acrolinx revisions
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Fixed typo
  powerapps-docs/maker/data-platform/migrate-access-to-dataverse.md
Owners: @Mattp123, @KumarVivek

Remove attachment button in toolbar list
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
Owners: @Mattp123, @KumarVivek

Adding preview indicator to TOC entry
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Adding preview indicator to TOC entry
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

edits and remove item of developer interest only
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek
