Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update azure-devops.md
  powerapps-docs/maker/canvas-apps/connections/azure-devops.md
Owners: @tapanm-msft, @KumarVivek

example and acrolinx
  powerapps-docs/developer/data-platform/org-service/generate-early-bound-classes.md
Owners: @PHecke, @KumarVivek, @JimDaly

fit-n-finish
  powerapps-docs/developer/data-platform/org-service/generate-early-bound-classes.md
Owners: @PHecke, @KumarVivek, @JimDaly

delete redirect extend code gen
  .openpublishing.redirection.json
  powerapps-docs/developer/data-platform/download-tools-nuget.md
  powerapps-docs/developer/data-platform/org-service/TOC.yml
  powerapps-docs/developer/data-platform/org-service/early-bound-programming.md
  powerapps-docs/developer/data-platform/org-service/extend-code-generation-tool.md
Owners: @PHecke, @KumarVivek, @JimDaly

fit-n-finish
  powerapps-docs/developer/data-platform/org-service/generate-early-bound-classes.md
Owners: @PHecke, @KumarVivek, @JimDaly

final tweaks
  powerapps-docs/developer/data-platform/media/pac-modelbuilder-build-output-example-visual-studio.png
  powerapps-docs/developer/data-platform/org-service/generate-early-bound-classes.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Include information about latest change for environment variables.
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek

Editing in progress
  powerapps-docs/includes/responsible-ai-features.md
  powerapps-docs/includes/responsible-ai-intro.md
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/common/faqs-email-assist-rte.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @KumarVivek, @Mattp123, @tapanm-msft

Update getstring.md
  powerapps-docs/developer/component-framework/reference/resources/getstring.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update compose-http-requests-handle-errors.md
  powerapps-docs/developer/data-platform/webapi/compose-http-requests-handle-errors.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Max URL length
  powerapps-docs/developer/data-platform/webapi/compose-http-requests-handle-errors.md
  powerapps-docs/developer/data-platform/webapi/execute-batch-operations-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/use-fetchxml-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/webapi/execute-batch-operations-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add files via upload
  powerapps-docs/maker/common/media/learn/learnhub-experiencelevel.png
  powerapps-docs/maker/common/media/learn/learnhub-landingpage.png
  powerapps-docs/maker/common/media/learn/learnhub-overviewpivot.png
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update get-started-test-drive.md
  powerapps-docs/maker/canvas-apps/get-started-test-drive.md
Owners: @tapanm-msft, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/azure-synapse-link-delta-lake.md
Owners: @Mattp123, @KumarVivek

Update date and Acrolinx
  powerapps-docs/maker/data-platform/limits-tshoot-virtual-tables.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/export-data-lake-faq.yml
Owners: @Mattp123, @KumarVivek

Additional sentence per RAI champs feedback
  powerapps-docs/maker/common/faqs-excel-to-table-app.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

edit
  powerapps-docs/developer/component-framework/reference/resources/getstring.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Update learn-hub.md
  powerapps-docs/maker/common/learn-hub.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update learn-hub.md
  powerapps-docs/maker/common/learn-hub.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update learn-hub.md
  powerapps-docs/maker/common/learn-hub.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update learn-hub.md
  powerapps-docs/maker/common/learn-hub.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Update file-column-data.md
  powerapps-docs/developer/data-platform/file-column-data.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update collaboration.md
  powerapps-docs/user/collaboration.md
Owners: @mduelae, @KumarVivek

feedback comments
  powerapps-docs/developer/data-platform/org-service/generate-early-bound-classes.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/community-tools.md
  powerapps-docs/developer/data-platform/download-tools-nuget.md
  powerapps-docs/developer/data-platform/org-service/early-bound-programming.md
  powerapps-docs/developer/data-platform/virtual-entities/enable-virtual-table-event-support.md
  powerapps-docs/developer/data-platform/workflow-custom-actions.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update limits-and-config.md
  powerapps-docs/limits-and-config.md
Owners: @KumarVivek

Update limits-and-config.md
  powerapps-docs/limits-and-config.md
Owners: @KumarVivek

Update getting-started.md
  powerapps-docs/maker/canvas-apps/getting-started.md
Owners: @tapanm-msft, @KumarVivek

adds mobile ui differences
  powerapps-docs/maker/model-driven-apps/add-calendar-control.md
Owners: @Mattp123, @KumarVivek

Updates
  powerapps-docs/user/add-activities.md
  powerapps-docs/user/media/add-activities/bookmark-icon.png
  powerapps-docs/user/media/add-activities/edit-bookmark.png
  powerapps-docs/user/media/add-activities/filled-bookmark-icon.png
  powerapps-docs/user/media/add-activities/reset-default.png
  powerapps-docs/user/media/add-activities/star-icon.png
Owners: @mduelae, @KumarVivek
