Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/add-move-or-delete-fields-on-form.md
Owners: @Mattp123, @KumarVivek

Update connections-list.md
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Clarified maximum on NumberOfSeries property
  powerapps-docs/maker/canvas-apps/controls/control-column-line-chart.md
Owners: @tapanm-msft, @KumarVivek

Update: user settings
  powerapps-docs/developer/component-framework/reference/usersettings.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Revising for current experience
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

RetrieveAccessOrigin message
  powerapps-docs/developer/data-platform/security-sharing-assigning.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised per PM feedback
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
  powerapps-docs/maker/data-platform/media/view-entities-portal.png
Owners: @Mattp123, @KumarVivek

Adding preview tagging for public preview features
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @KumarVivek, @Mattp123

Adding preview tagging for public preview features
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Incorporating PM feedback
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Update use-line-pie-bar-chart.md
  powerapps-docs/maker/canvas-apps/use-line-pie-bar-chart.md
Owners: @tapanm-msft, @KumarVivek

edits
  powerapps-docs/developer/data-platform/configure-entity-relationship-cascading-behavior.md
  powerapps-docs/maker/data-platform/create-edit-entity-relationships.md
Owners: @PHecke, @KumarVivek, @JimDaly, @Mattp123

pull from main
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Overview updated
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

dates update
  powerapps-docs/maker/model-driven-apps/copilot-control.md
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
  powerapps-docs/maker/model-driven-apps/use-copilot-email-assist.md
Owners: @Mattp123, @KumarVivek

Revised for style and Acrolinx
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Updating author metadata to set feature PM
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
  powerapps-docs/maker/data-platform/data-retention-manage.md
  powerapps-docs/maker/data-platform/data-retention-overview.md
  powerapps-docs/maker/data-platform/data-retention-set.md
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

Acrolinx fixes
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

Adding message on geo availability
  powerapps-docs/maker/common/performance-insights-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update for PowerFx support for offline
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update use-line-pie-bar-chart.md
  powerapps-docs/maker/canvas-apps/use-line-pie-bar-chart.md
Owners: @tapanm-msft, @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Revising preview indicators per PM
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
  powerapps-docs/maker/data-platform/update-forms-and-views.md
Owners: @KumarVivek, @Mattp123

Update for ONECRM bug 3552370.
  powerapps-docs/mobile/mobile-offline-guidelines.md
Owners: @KumarVivek

Update use-line-pie-bar-chart.md
  powerapps-docs/maker/canvas-apps/use-line-pie-bar-chart.md
Owners: @tapanm-msft, @KumarVivek

Update send-in-app-notifications.md
  powerapps-docs/developer/model-driven-apps/clientapi/send-in-app-notifications.md
Owners: @JimDaly, @KumarVivek

aggregation
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/count-rows.md
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/order-rows.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-link-type-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update customized-editable-grid-control.md
  powerapps-docs/developer/component-framework/sample-controls/customized-editable-grid-control.md
Owners: @PHecke, @KumarVivek, @JimDaly

tweaks
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update mobile-offline-guidelines.md
  powerapps-docs/mobile/mobile-offline-guidelines.md
Owners: @KumarVivek

Update mobile-offline-guidelines.md
  powerapps-docs/mobile/mobile-offline-guidelines.md
Owners: @KumarVivek

acrolinx
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
Owners: @PHecke, @KumarVivek, @JimDaly

toc acrolinx
  powerapps-docs/developer/data-platform/best-practices/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Update use-webhooks.md on irreversible webhook executions
  powerapps-docs/developer/data-platform/use-webhooks.md
Owners: @PHecke, @KumarVivek, @JimDaly

added web api paging and more
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/page-results.md
Owners: @PHecke, @KumarVivek, @JimDaly

sync webhook
  powerapps-docs/developer/data-platform/register-web-hook.md
  powerapps-docs/developer/data-platform/use-webhooks.md
  powerapps-docs/developer/data-platform/work-data-azure-solution.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove original note
  powerapps-docs/developer/data-platform/use-webhooks.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/register-web-hook.md
Owners: @PHecke, @KumarVivek, @JimDaly
