Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update working-with-variables.md
  powerapps-docs/maker/canvas-apps/working-with-variables.md
Owners: @tapanm-msft, @KumarVivek

Corrected example, minor edits
  powerapps-docs/maker/data-platform/behavior-format-date-time-field.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update working-with-variables.md
  powerapps-docs/maker/canvas-apps/working-with-variables.md
Owners: @tapanm-msft, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/behavior-format-date-time-field.md
Owners: @Mattp123, @KumarVivek

Add TSG for form selection issues
  powerapps-docs/developer/model-driven-apps/media/form-checker-form-selector.png
  powerapps-docs/developer/model-driven-apps/media/form-selector.png
  powerapps-docs/developer/model-driven-apps/troubleshoot-forms.md
Owners: @JimDaly, @KumarVivek

Remove section involving FCBs
  powerapps-docs/developer/model-driven-apps/media/form-checker-form-selector.png
  powerapps-docs/developer/model-driven-apps/troubleshoot-forms.md
Owners: @JimDaly, @KumarVivek

Added more info
  powerapps-docs/developer/data-platform/email-activity-entities.md
Owners: @PHecke, @KumarVivek, @JimDaly

Committing suggested change
  powerapps-docs/maker/data-platform/use-powerapps-checker.md
Owners: @Mattp123, @KumarVivek

Update access-checker.md
  powerapps-docs/user/access-checker.md
Owners: @mduelae, @KumarVivek

Adding back supportability column from merge issue
  powerapps-docs/maker/data-platform/use-powerapps-checker.md
Owners: @Mattp123, @KumarVivek

Update data-retention-view.md
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

Update access-checker.md
  powerapps-docs/user/access-checker.md
Owners: @mduelae, @KumarVivek

Delete powerapps-docs/mobile/media/mobile-offline-first-update-notification.PNG
  powerapps-docs/mobile/media/mobile-offline-first-update-notification.PNG
Owners: @KumarVivek

Add files via upload
  powerapps-docs/mobile/media/mobile-offline-first-update-notification.PNG
Owners: @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

Add TSGs for related menu items and default form selection
  powerapps-docs/developer/model-driven-apps/media/form-related-menu-non-customizable-relationship.png
  powerapps-docs/developer/model-driven-apps/media/form-related-menu-not-enabled-uci.png
  powerapps-docs/developer/model-driven-apps/media/form-related-tab.png
  powerapps-docs/developer/model-driven-apps/troubleshoot-forms.md
Owners: @JimDaly, @KumarVivek

Revised based on PM feedback
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

Correct links and style warnings
  powerapps-docs/developer/model-driven-apps/troubleshoot-forms.md
  powerapps-docs/maker/model-driven-apps/monitor-form-checker.md
Owners: @JimDaly, @KumarVivek, @Mattp123

Remove xMultiple Optimistic Concurrency Known Issue (Now-Resolved)
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  powerapps-docs/developer/model-driven-apps/media/form-related-menu-non-customizable-relationship.png
  powerapps-docs/developer/model-driven-apps/troubleshoot-forms.md
Owners: @JimDaly, @KumarVivek

Added more information
  powerapps-docs/developer/data-platform/dependent-assembly-plugins.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update formula-columns.md
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Update formula-columns.md
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Update formula-columns.md
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Update formula-columns.md
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Update formula-columns.md
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Update formula-columns.md
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Update offline-file-images.md
  powerapps-docs/mobile/offline-file-images.md
Owners: @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Update windows-app-use.md
  powerapps-docs/mobile/windows-app-use.md
Owners: @KumarVivek

Update powerapps-mobile-troubleshoot.md
  powerapps-docs/mobile/powerapps-mobile-troubleshoot.md
Owners: @KumarVivek

Update faq.yml
  powerapps-docs/maker/common/wrap/faq.yml
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update powerapps-mobile-troubleshoot.md
  powerapps-docs/mobile/powerapps-mobile-troubleshoot.md
Owners: @KumarVivek

Update windows-app-use.md
  powerapps-docs/mobile/windows-app-use.md
Owners: @KumarVivek

Delete powerapps-docs/mobile/media/mobile-offline-device-status-page.png
  powerapps-docs/mobile/media/mobile-offline-device-status-page.png
Owners: @KumarVivek

Add files via upload
  powerapps-docs/mobile/media/mobile-offline-device-status-page.png
Owners: @KumarVivek

Delete powerapps-docs/mobile/media/mobile-offline-first-notification-2.PNG
  powerapps-docs/mobile/media/mobile-offline-first-notification-2.PNG
Owners: @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
