Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

delete redirect composite-attributes.md
  .openpublishing.redirection.json
  powerapps-docs/developer/model-driven-apps/TOC.yml
  powerapps-docs/developer/model-driven-apps/clientapi/reference/attributes.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/attributes/setValue.md
  powerapps-docs/maker/data-platform/data-platform-create-business-rule.md
Owners: @JimDaly, @KumarVivek, @Mattp123

update links and acrolinx
  powerapps-docs/developer/model-driven-apps/clientapi/reference/attributes/setValue.md
Owners: @JimDaly, @KumarVivek

build warnings and delete file
  powerapps-docs/developer/model-driven-apps/clientapi/reference/composite-attributes.md
  powerapps-docs/maker/data-platform/data-platform-create-business-rule.md
Owners: @JimDaly, @KumarVivek, @Mattp123

fix typo
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Fixing property names in YAML
  powerapps-docs/developer/test-engine/yaml.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised for style
  powerapps-docs/maker/model-driven-apps/model-app-page-issues.md
Owners: @Mattp123, @KumarVivek

Revised for style and merge from main
  powerapps-docs/maker/monitor-modelapps.md
Owners: @KumarVivek

Update app-properties.md
  powerapps-docs/maker/model-driven-apps/app-properties.md
Owners: @Mattp123, @KumarVivek

Update app-properties.md
  powerapps-docs/maker/model-driven-apps/app-properties.md
Owners: @Mattp123, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

check
  powerapps-docs/developer/data-platform/media/blazor-webassembly-walkthrough-aad-admin-center.png
  powerapps-docs/developer/data-platform/media/blazor-webassembly-walkthrough-add-permissions.png
  powerapps-docs/developer/data-platform/media/blazor-webassembly-walkthrough-navigate-AAD-from-admin-center.png
  powerapps-docs/developer/data-platform/media/blazor-webassembly-walkthrough-search-common-data-service-api.png
  powerapps-docs/developer/data-platform/walkthrough-blazor-webassembly-single-tenant.md
Owners: @PHecke, @KumarVivek, @JimDaly

test instructions
  powerapps-docs/developer/data-platform/media/blazor-webassembly-walkthrough-application-files-folder.png
  powerapps-docs/developer/data-platform/media/blazor-webassembly-walkthrough-application-solution-explorer.png
  powerapps-docs/developer/data-platform/media/blazor-webassembly-walkthrough-register-application.png
  powerapps-docs/developer/data-platform/walkthrough-blazor-webassembly-single-tenant.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/walkthrough-blazor-webassembly-single-tenant.md
Owners: @PHecke, @KumarVivek, @JimDaly

edit
  powerapps-docs/developer/data-platform/walkthrough-blazor-webassembly-single-tenant.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update Cards docs for Adaptive Cards 1.5
  powerapps-docs/cards/controls/button.md
  powerapps-docs/cards/controls/control-reference.md
  powerapps-docs/cards/controls/table.md
Owners: @KumarVivek

Update language to support Microsoft's style guide
  powerapps-docs/cards/controls/button.md
  powerapps-docs/cards/controls/control-reference.md
Owners: @KumarVivek

Adding new content for new UI experience per 3553815
  powerapps-docs/maker/common/faqs-build-apps-conversation.md
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update button.md
  powerapps-docs/cards/controls/button.md
Owners: @KumarVivek

Update control-reference.md
  powerapps-docs/cards/controls/control-reference.md
Owners: @KumarVivek

Update table.md
  powerapps-docs/cards/controls/table.md
Owners: @KumarVivek

Update table.md
  powerapps-docs/cards/controls/table.md
Owners: @KumarVivek

Add Cards Table info to table of contents
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update table.md
  powerapps-docs/cards/controls/table.md
Owners: @KumarVivek

Update control-reference.md
  powerapps-docs/cards/controls/control-reference.md
Owners: @KumarVivek

Update control-reference.md
  powerapps-docs/cards/controls/control-reference.md
Owners: @KumarVivek

Adding new content for new UI experience per 3553815
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Adding new content for new UI experience per 3553815
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Adding new content for new UI experience per 3553815
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/add-move-or-delete-fields-on-form.md
Owners: @Mattp123, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
