Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update provision-portal-add-on.md
  powerapps-docs/maker/portals/provision-portal-add-on.md
Owners: @nickdoelman, @KumarVivek

Update security-sharing-assigning.md
  powerapps-docs/developer/data-platform/security-sharing-assigning.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised per Dev feedback
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Update 03-building-low-code-prototype.md
  powerapps-docs/guidance/fusion-dev-ebook/03-building-low-code-prototype.md
Owners: @KumarVivek

Update update-solutions.md
  powerapps-docs/maker/data-platform/update-solutions.md
Owners: @Mattp123, @KumarVivek

edits
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/select-columns.md
Owners: @PHecke, @KumarVivek, @JimDaly

add/fix links
  powerapps-docs/maker/data-platform/update-solutions.md
Owners: @Mattp123, @KumarVivek

Update working-with-formulas.md
  powerapps-docs/maker/canvas-apps/working-with-formulas.md
Owners: @tapanm-msft, @KumarVivek

fix link
  powerapps-docs/maker/data-platform/update-solutions.md
Owners: @Mattp123, @KumarVivek

Update working-with-formulas.md
  powerapps-docs/maker/canvas-apps/working-with-formulas.md
Owners: @tapanm-msft, @KumarVivek

Update configure-entity-relationship-cascading-behavior.md
  powerapps-docs/developer/data-platform/configure-entity-relationship-cascading-behavior.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

check
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/reference/attribute.md
  powerapps-docs/developer/data-platform/fetchxml/reference/entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/aggregate-function-table.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/all-attributes-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update gateway-management.md
  powerapps-docs/maker/canvas-apps/gateway-management.md
Owners: @tapanm-msft, @KumarVivek

check
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/attribute.md
  powerapps-docs/developer/data-platform/fetchxml/reference/condition.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-intersect-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/operators.md
  powerapps-docs/developer/data-platform/fetchxml/reference/order.md
  powerapps-docs/developer/data-platform/fetchxml/reference/value.md
Owners: @PHecke, @KumarVivek, @JimDaly

Acrolinx fixes to meet threshold
  powerapps-docs/maker/data-platform/update-solutions.md
Owners: @Mattp123, @KumarVivek

check
  powerapps-docs/developer/data-platform/fetchxml/page-results.md
Owners: @PHecke, @KumarVivek, @JimDaly

Delete timeline-pin-unpin-activity.png
  powerapps-docs/user/media/timeline-pin-unpin-activity.png
Owners: @mduelae, @KumarVivek

Add files via upload
  powerapps-docs/user/media/timeline-pin-unpin-activity.png
Owners: @mduelae, @KumarVivek

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Create modern-control-table.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-table.md
Owners: @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update modern-controls-reference.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-reference.md
Owners: @tapanm-msft, @KumarVivek

Update modern-controls-reference.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-reference.md
Owners: @tapanm-msft, @KumarVivek

Adding definitive list of tables per 3566321
  powerapps-docs/maker/model-driven-apps/configure-bing-maps-legacy.md
Owners: @Mattp123, @KumarVivek

Update modern-control-table.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-table.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-table.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-table.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-table.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-table.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-table.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-table.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-table.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-table.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-table.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-table.md
Owners: @tapanm-msft, @KumarVivek

update samples
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/page-results.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/data-platform/media/Fabric/Azure-Syunapse-Link--Maker-Portal-with-View-In-Fabric.png
  powerapps-docs/maker/data-platform/media/Fabric/Fabric-SQL-endpoint-for-defining-virtual-tables.png
  powerapps-docs/maker/data-platform/media/Fabric/Fabric-SQL-endpoint-shortcuts-shown.png
  powerapps-docs/maker/data-platform/media/Fabric/Fabric-autocreated-PBI-report.png
  powerapps-docs/maker/data-platform/media/Fabric/Fabric-choose-SQL-endpoint-new-experience.png
  powerapps-docs/maker/data-platform/media/Fabric/Fabric-choose-SQL-endpoint.png
  powerapps-docs/maker/data-platform/media/Fabric/Fabric-with-DV-shortcuts-shown.png
  powerapps-docs/maker/data-platform/media/Fabric/Maker-experience-view-in-Fabric.png
  powerapps-docs/maker/data-platform/media/Fabric/Managed-store-with-Analytical-tables-usage-shown.png
  powerapps-docs/maker/data-platform/media/Fabric/PBI-premium-capacity-selected.png
  powerapps-docs/maker/data-platform/media/Fabric/Synapse-Link-UI-with-managed-store-view-in-Fabric.png
  powerapps-docs/maker/data-platform/media/Fabric/Synapse-Link-add-remove-tables-in-Manage-tables-option.png
  powerapps-docs/maker/data-platform/media/Fabric/Synapse-Link-managed-store-detailed-status.png
  powerapps-docs/maker/data-platform/media/Fabric/SynapseLink-with-view-in-Fabric.png
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
