Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update copresence-power-apps-studio.md
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update copresence-power-apps-studio.md
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

Update copresence-power-apps-studio.md
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

updates for views and first
  powerapps-docs/maker/canvas-apps/connections/connection-common-data-service.md
Owners: @tapanm-msft, @KumarVivek

Update create-site-map-app.md
  powerapps-docs/maker/model-driven-apps/create-site-map-app.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/create-site-map-app.md
Owners: @Mattp123, @KumarVivek

Editing complete
  powerapps-docs/maker/common/request-licenses-for-users.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Policheck update - June 30 | Bulk Update
  powerapps-docs/maker/canvas-apps/geospatial-component-input-address.md
  powerapps-docs/maker/canvas-apps/how-to/mobile-apps-address-map.md
  powerapps-docs/maker/canvas-apps/sample-crisis-communication-app.md
  powerapps-docs/maker/data-platform/types-of-fields.md
  powerapps-docs/teams/localizing-sample-apps.md
  powerapps-docs/teams/table-columns.md
Owners: @tapanm-msft, @KumarVivek, @Mattp123

Update execute-multiple-requests.md
  powerapps-docs/developer/data-platform/org-service/samples/execute-multiple-requests.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update define-calculated-fields.md
  powerapps-docs/maker/data-platform/define-calculated-fields.md
Owners: @Mattp123, @KumarVivek

Update grid-onrecordselect.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/grid-onrecordselect.md
Owners: @JimDaly, @KumarVivek

Additional changes
  powerapps-docs/developer/data-platform/activitypointer-activity-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Removed editor's comment
  powerapps-docs/developer/data-platform/activitypointer-activity-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Create moderncontrols-tabs
  powerapps-docs/maker/canvas-apps/media/moderncontrols-tabs
Owners: @tapanm-msft, @KumarVivek

Delete moderncontrols-tabs
  powerapps-docs/maker/canvas-apps/media/moderncontrols-tabs
Owners: @tapanm-msft, @KumarVivek

Created folder moderncontrol-tabs
  powerapps-docs/maker/canvas-apps/media/moderncontrol-tabs/dummy
Owners: @tapanm-msft, @KumarVivek

Media for tabs list
  powerapps-docs/maker/canvas-apps/media/moderncontrol-tabs/onSelectTabs.png
Owners: @tapanm-msft, @KumarVivek

Delete dummy
  powerapps-docs/maker/canvas-apps/media/moderncontrol-tabs/dummy
Owners: @tapanm-msft, @KumarVivek

Update modern-control-tabs-or-tabs-list.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-tabs-or-tabs-list.md
Owners: @tapanm-msft, @KumarVivek

edits
  powerapps-docs/maker/search.md
Owners: @KumarVivek

Update grid-onrecordselect.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/grid-onrecordselect.md
Owners: @JimDaly, @KumarVivek

description
  powerapps-docs/maker/search.md
Owners: @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/common/wrap/media/how-to-v2/CreateVaultAccessPolicy.png
  powerapps-docs/maker/common/wrap/media/how-to-v2/CreateVaultAccessPolicy_Principal.png
  powerapps-docs/maker/common/wrap/media/how-to-v2/ReviewandCreateVaultPolicy.png
  powerapps-docs/maker/common/wrap/media/how-to-v2/VaultAccessPolicy.png
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/common/wrap/media/how-to-v2/AddTag.png
  powerapps-docs/maker/common/wrap/media/how-to-v2/CopyOrganizationID.png
  powerapps-docs/maker/common/wrap/media/how-to-v2/SelectEnvironment.png
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/common/wrap/media/how-to-v2/CertificateName.png
  powerapps-docs/maker/common/wrap/media/how-to-v2/CertificateTag.png
  powerapps-docs/maker/common/wrap/media/how-to-v2/ImportCertificate.png
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/common/wrap/media/how-to-v2/CertificateNameiOS.png
  powerapps-docs/maker/common/wrap/media/how-to-v2/CertificateTagiOS.png
Owners: @Mattp123, @tapanm-msft, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
