Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

combine status and statistics
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/search/autocomplete.md
  powerapps-docs/developer/data-platform/search/legacy.md
  powerapps-docs/developer/data-platform/search/overview.md
  powerapps-docs/developer/data-platform/search/query.md
  powerapps-docs/developer/data-platform/search/statistics-status.md
  powerapps-docs/developer/data-platform/search/statistics.md
  powerapps-docs/developer/data-platform/search/suggest.md
Owners: @PHecke, @KumarVivek, @JimDaly

Adding modern controls as a test engine limitation
  powerapps-docs/developer/test-engine/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

fixing url to be relative without en-us
  powerapps-docs/developer/test-engine/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update ai-conversations-create-app.md
  powerapps-docs/maker/canvas-apps/ai-conversations-create-app.md
Owners: @tapanm-msft, @KumarVivek

Delete powerapps-docs/maker/canvas-apps/media/artificial-intelligence/create-app-using-ai-1.png
  powerapps-docs/maker/canvas-apps/media/artificial-intelligence/create-app-using-ai-1.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/artificial-intelligence/create-app-using-ai-1.png
Owners: @tapanm-msft, @KumarVivek

Delete powerapps-docs/maker/canvas-apps/media/artificial-intelligence/describe-your-app.png
  powerapps-docs/maker/canvas-apps/media/artificial-intelligence/describe-your-app.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/artificial-intelligence/describe-your-app.png
Owners: @tapanm-msft, @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/faqs-timeline-control.md
Owners: @Mattp123, @KumarVivek

fix links
  powerapps-docs/developer/data-platform/search/overview.md
  powerapps-docs/developer/data-platform/search/query.md
  powerapps-docs/developer/data-platform/search/statistics-status.md
Owners: @PHecke, @KumarVivek, @JimDaly

Delete powerapps-docs/maker/canvas-apps/media/artificial-intelligence/table-created.png
  powerapps-docs/maker/canvas-apps/media/artificial-intelligence/table-created.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/artificial-intelligence/table-created.png
Owners: @tapanm-msft, @KumarVivek

Update file-column-data.md
  powerapps-docs/developer/data-platform/file-column-data.md
Owners: @PHecke, @KumarVivek, @JimDaly

Delete powerapps-docs/maker/canvas-apps/media/artificial-intelligence/create-app-using-ai-1.png
  powerapps-docs/maker/canvas-apps/media/artificial-intelligence/create-app-using-ai-1.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/artificial-intelligence/create-app-using-ai-1.png
Owners: @tapanm-msft, @KumarVivek

Update data-retention-faq.yml
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

Update faqs-build-apps-conversation.md
  powerapps-docs/maker/common/faqs-build-apps-conversation.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update faqs-build-apps-conversation.md
  powerapps-docs/maker/common/faqs-build-apps-conversation.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Adding additional limitation to alert
  powerapps-docs/maker/data-platform/preferred-solution.md
Owners: @Mattp123, @KumarVivek

Revised for style and completeness
  powerapps-docs/maker/model-driven-apps/create-edit-app.md
Owners: @Mattp123, @KumarVivek

Revised for style and completeness
  powerapps-docs/maker/model-driven-apps/form-editor-user-interface-legacy.md
Owners: @Mattp123, @KumarVivek

Revised for style and completeness
  powerapps-docs/maker/model-driven-apps/build-first-model-driven-app-classic.md
Owners: @Mattp123, @KumarVivek

Revised for style and completeness
  powerapps-docs/maker/model-driven-apps/add-edit-app-components.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/form-properties-legacy.md
Owners: @Mattp123, @KumarVivek

Adding missing link text
  powerapps-docs/maker/model-driven-apps/create-edit-app.md
Owners: @Mattp123, @KumarVivek

Adding missing link text
  powerapps-docs/maker/model-driven-apps/form-editor-user-interface-legacy.md
Owners: @Mattp123, @KumarVivek

Adding missing link text
  powerapps-docs/maker/model-driven-apps/build-first-model-driven-app-classic.md
Owners: @Mattp123, @KumarVivek

Refining absolute to relative link and style
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Update faqs-build-apps-conversation.md
  powerapps-docs/maker/common/faqs-build-apps-conversation.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

check
  powerapps-docs/developer/data-platform/search/includes/cmkstatus.description.md
  powerapps-docs/developer/data-platform/search/includes/entitystatusinfo.description.md
  powerapps-docs/developer/data-platform/search/includes/lockboxstatus.description.md
  powerapps-docs/developer/data-platform/search/includes/manytomanyrelationshipsyncstatus.description.md
  powerapps-docs/developer/data-platform/search/includes/status.description.md
  powerapps-docs/developer/data-platform/search/statistics-status.md
Owners: @PHecke, @KumarVivek, @JimDaly

almost there..
  powerapps-docs/developer/data-platform/search/autocomplete.md
  powerapps-docs/developer/data-platform/search/query.md
  powerapps-docs/developer/data-platform/search/statistics-status.md
  powerapps-docs/developer/data-platform/search/suggest.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updated the text
  powerapps-docs/developer/data-platform/sdk-client-transition.md
Owners: @PHecke, @KumarVivek, @JimDaly

Rebranding
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/aad-group-team.md
  powerapps-docs/developer/data-platform/authenticate-oauth.md
  powerapps-docs/developer/data-platform/authenticate-office365-deprecation.md
  powerapps-docs/developer/data-platform/authentication.md
  powerapps-docs/developer/data-platform/build-web-applications-server-server-s2s-authentication.md
  powerapps-docs/developer/data-platform/data-export-service.md
  powerapps-docs/developer/data-platform/dataverse-odata-dataflows-migration.md
  powerapps-docs/developer/data-platform/dataverse-sql-query.md
  powerapps-docs/developer/data-platform/discovery-service.md
  powerapps-docs/developer/data-platform/impersonate-another-user.md
  powerapps-docs/developer/data-platform/index.yml
  powerapps-docs/developer/data-platform/oauth-cross-origin-resource-sharing-connect-single-page-application.md
  powerapps-docs/developer/data-platform/org-service/samples/disable-a-user.md
  powerapps-docs/developer/data-platform/quick-start-register-configure-simplespa-application-msal-js.md
  powerapps-docs/developer/data-platform/sample-blazor-web-assembly-global-discovery.md
  powerapps-docs/developer/data-platform/sdk-client-transition.md
  powerapps-docs/developer/data-platform/use-multi-tenant-server-server-authentication.md
  powerapps-docs/developer/data-platform/use-single-tenant-server-server-authentication.md
  powerapps-docs/developer/data-platform/user-team-entities.md
  powerapps-docs/developer/data-platform/walkthrough-blazor-webassembly-single-tenant.md
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
  powerapps-docs/developer/data-platform/webapi/compose-http-requests-handle-errors.md
  powerapps-docs/developer/data-platform/webapi/impersonate-another-user-web-api.md
  powerapps-docs/developer/data-platform/webapi/quick-start-blazor-server-app.md
  powerapps-docs/developer/data-platform/webapi/quick-start-console-app-csharp.md
  powerapps-docs/developer/data-platform/webapi/setup-postman-environment.md
  powerapps-docs/developer/data-platform/xrm-tooling/use-connection-strings-xrm-tooling-connect.md
  powerapps-docs/developer/model-driven-apps/clientapi/send-in-app-notifications.md
Owners: @PHecke, @KumarVivek, @JimDaly

removing duplicate information
  powerapps-docs/developer/data-platform/search/autocomplete.md
  powerapps-docs/developer/data-platform/search/query.md
  powerapps-docs/developer/data-platform/search/suggest.md
Owners: @PHecke, @KumarVivek, @JimDaly

Reverted changes in code
  powerapps-docs/developer/data-platform/aad-group-team.md
Owners: @PHecke, @KumarVivek, @JimDaly

Reverting change in code
  powerapps-docs/developer/data-platform/aad-group-team.md
Owners: @PHecke, @KumarVivek, @JimDaly

Tweaks
  powerapps-docs/developer/data-platform/quick-start-register-configure-simplespa-application-msal-js.md
Owners: @PHecke, @KumarVivek, @JimDaly

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
