Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Added redirect
  .openpublishing.redirection.json
  powerapps-docs/maker/common/formula-repair.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Adding missing ms.date
  powerapps-docs/maker/model-driven-apps/form-editor-user-interface-legacy.md
Owners: @Mattp123, @KumarVivek

acrolinx
  powerapps-docs/developer/data-platform/configure-entity-relationship-cascading-behavior.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update connector info to note that Service Principals for AD is not yet supported
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Update rich-text-editor-control.md
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
Owners: @Mattp123, @KumarVivek

Clean up for clarity
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
Owners: @Mattp123, @KumarVivek

Clean up clarity to improve score
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
Owners: @Mattp123, @KumarVivek

Update connections-list.md
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Update connections-list.md
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

check
  powerapps-docs/developer/data-platform/auditing/configure.md
  powerapps-docs/developer/data-platform/auditing/delete-audit-data.md
  powerapps-docs/developer/data-platform/auditing/overview.md
  powerapps-docs/developer/data-platform/auditing/retrieve-audit-data.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix link
  powerapps-docs/developer/data-platform/auditing/retrieve-audit-data.md
Owners: @PHecke, @KumarVivek, @JimDaly

move links after examples
  powerapps-docs/developer/data-platform/auditing/configure.md
  powerapps-docs/developer/data-platform/auditing/delete-audit-data.md
  powerapps-docs/developer/data-platform/auditing/retrieve-audit-data.md
Owners: @PHecke, @KumarVivek, @JimDaly

bold more information.
  powerapps-docs/developer/data-platform/auditing/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

move mobile app comment
  powerapps-docs/developer/data-platform/auditing/retrieve-audit-data.md
Owners: @PHecke, @KumarVivek, @JimDaly

fit-n-finish
  powerapps-docs/developer/data-platform/auditing/configure.md
  powerapps-docs/developer/data-platform/auditing/retrieve-audit-data.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added readme
  shared/transparency-notes-includes/readme.md
Owners: none

Terminology change
  powerapps-docs/developer/data-platform/reference/entities/datalakeworkspace.md
  powerapps-docs/developer/data-platform/reference/entities/datalakeworkspacepermission.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update object-output.md
  powerapps-docs/developer/component-framework/sample-controls/object-output.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update offline-capabilities.md
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Update offline-capabilities.md
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Update offline-capabilities.md
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Update offline-capabilities.md
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Update offline-capabilities.md
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

tidy up
  powerapps-docs/developer/component-framework/sample-controls/object-output.md
Owners: @PHecke, @KumarVivek, @JimDaly

double-space
  powerapps-docs/developer/component-framework/sample-controls/object-output.md
Owners: @PHecke, @KumarVivek, @JimDaly

set date
  powerapps-docs/developer/data-platform/background-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update connections-list.md
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

clarify 2 minute timeout
  powerapps-docs/developer/data-platform/background-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revising and removing preview tags per 3412889
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/model-driven-apps/coauthoring.md
Owners: @KumarVivek, @Mattp123

api/data/v9.2
  powerapps-docs/developer/data-platform/background-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revising for style and pull from main
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
Owners: @Mattp123, @KumarVivek

Fix Checker PS module link
  powerapps-docs/maker/data-platform/use-powerapps-checker.md
Owners: @Mattp123, @KumarVivek

new topic
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/canvas-apps/ai-edit-app.md
  powerapps-docs/maker/canvas-apps/media/artificial-intelligence/copilot-pane.png
Owners: @KumarVivek, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
