Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update offline-apps to refer to built-in experience
  powerapps-docs/maker/canvas-apps/offline-apps.md
Owners: @tapanm-msft, @KumarVivek

Link fixes
  powerapps-docs/maker/canvas-apps/offline-apps.md
Owners: @tapanm-msft, @KumarVivek

add note and specify standard tables
  powerapps-docs/developer/data-platform/org-service/use-createmultiple-updatemultiple.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update offline-apps.md with Dataverse note
  powerapps-docs/maker/canvas-apps/offline-apps.md
Owners: @tapanm-msft, @KumarVivek

note on elastic tables
  powerapps-docs/developer/data-platform/org-service/use-createmultiple-updatemultiple.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update files-images-overview.md
  powerapps-docs/developer/data-platform/files-images-overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Latest schema
  powerapps-docs/developer/data-platform/fetchxml-schema.md
Owners: @PHecke, @KumarVivek, @JimDaly

Replace tabs with 2 spaces
  powerapps-docs/developer/data-platform/fetchxml-schema.md
Owners: @PHecke, @KumarVivek, @JimDaly

fixing link
  powerapps-docs/developer/data-platform/files-images-overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

don't need twice
  powerapps-docs/developer/data-platform/org-service/use-createmultiple-updatemultiple.md
Owners: @PHecke, @KumarVivek, @JimDaly

Tweaks
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Style updates
  powerapps-docs/developer/data-platform/create-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Style and SEO changes
  powerapps-docs/developer/data-platform/create-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Style changes
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Style updates
  powerapps-docs/developer/data-platform/query-json-columns-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updates
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Style updates
  powerapps-docs/developer/data-platform/bulk-operations-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Trinath's edit
  powerapps-docs/developer/data-platform/files-images-overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Style updates
  powerapps-docs/developer/data-platform/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

fix links
  powerapps-docs/developer/data-platform/file-attributes.md
  powerapps-docs/developer/data-platform/files-images-overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix link
  powerapps-docs/developer/data-platform/files-images-overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update write-plugin-multiple-operation.md
  powerapps-docs/developer/data-platform/write-plugin-multiple-operation.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update write-plugin-multiple-operation.md
  powerapps-docs/developer/data-platform/write-plugin-multiple-operation.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update write-plugin-multiple-operation.md
  powerapps-docs/developer/data-platform/write-plugin-multiple-operation.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update query-data-web-api.md
  powerapps-docs/developer/data-platform/webapi/query-data-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update query-data-web-api.md
  powerapps-docs/developer/data-platform/webapi/query-data-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update write-plugin-multiple-operation.md
  powerapps-docs/developer/data-platform/write-plugin-multiple-operation.md
Owners: @PHecke, @KumarVivek, @JimDaly

add link to create-edit-elastic-tables
  powerapps-docs/developer/data-platform/elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  powerapps-docs/developer/data-platform/write-plugin-multiple-operation.md
Owners: @PHecke, @KumarVivek, @JimDaly

corrections
  powerapps-docs/developer/data-platform/bulk-operations-elastic-tables.md
  powerapps-docs/developer/data-platform/elastic-tables.md
  powerapps-docs/developer/data-platform/optional-parameters.md
  powerapps-docs/developer/data-platform/query-json-columns-elastic-tables.md
  powerapps-docs/developer/data-platform/use-elastic-tables.md
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly, @Mattp123

acrolinx
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix tab
  powerapps-docs/developer/data-platform/optional-parameters.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update create-app-side-panes.md
  powerapps-docs/developer/model-driven-apps/clientapi/create-app-side-panes.md
Owners: @JimDaly, @KumarVivek

Update create-app-side-panes.md
  powerapps-docs/developer/model-driven-apps/clientapi/create-app-side-panes.md
Owners: @JimDaly, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Style updates
  powerapps-docs/developer/data-platform/elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Style and SEO updates
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Style updates
  powerapps-docs/developer/data-platform/create-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updated node heading to align with other nodes
  powerapps-docs/developer/data-platform/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly
