Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Added new topic
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/build-and-package.md
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating screenshot per 36198325
  powerapps-docs/maker/data-platform/create-and-use-dataflows.md
  powerapps-docs/maker/data-platform/media/choose-data-source.png
Owners: @Mattp123, @KumarVivek

Update modern-controls-header.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-header.md
Owners: @tapanm-msft, @KumarVivek

Update modern-controls-reference.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-reference.md
Owners: @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Updating screenshot per 36198325
  powerapps-docs/maker/data-platform/create-and-use-dataflows.md
Owners: @Mattp123, @KumarVivek

Update modern-controls-reference.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-reference.md
Owners: @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Updating screenshot per 36198325
  powerapps-docs/maker/data-platform/create-and-use-dataflows.md
Owners: @Mattp123, @KumarVivek

Update modern-controls-header.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-header.md
Owners: @tapanm-msft, @KumarVivek

Update modern-controls-header.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-header.md
Owners: @tapanm-msft, @KumarVivek

Updating screenshot per 36198325
  powerapps-docs/maker/data-platform/create-and-use-dataflows.md
Owners: @Mattp123, @KumarVivek

Minor changes
  powerapps-docs/developer/data-platform/build-and-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update modern-controls-header.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-header.md
Owners: @tapanm-msft, @KumarVivek

Update modern-controls-header.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-header.md
Owners: @tapanm-msft, @KumarVivek

Update modern-controls-header.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-header.md
Owners: @tapanm-msft, @KumarVivek

Update modern-controls-header.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-header.md
Owners: @tapanm-msft, @KumarVivek

Update add-data-connection.md
  powerapps-docs/maker/canvas-apps/add-data-connection.md
Owners: @tapanm-msft, @KumarVivek

Update modern-controls-header.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-header.md
Owners: @tapanm-msft, @KumarVivek

Update mixed-reality-cgtrader.md
  powerapps-docs/maker/canvas-apps/mixed-reality-cgtrader.md
Owners: @tapanm-msft, @KumarVivek

Minor changes
  powerapps-docs/developer/data-platform/build-and-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Moved images to another repo
  powerapps-docs/developer/data-platform/media/prt-display-by-package-view.png
  powerapps-docs/developer/data-platform/media/prt-import-new-plugin-package-dialog.png
  powerapps-docs/developer/data-platform/media/prt-new-plug-in package-view.png
  powerapps-docs/developer/data-platform/media/prt-pluginpackage-unregister-command.png
  powerapps-docs/developer/data-platform/media/prt-pluginpackage-update-command.png
  powerapps-docs/developer/data-platform/media/prt-register-new-package-command.png
  powerapps-docs/developer/data-platform/media/prt-show-pluginpackage-assembly-display-by-assembly-view.png
  powerapps-docs/developer/data-platform/media/prt-update-pluginpackage-dialog.png
Owners: @PHecke, @KumarVivek, @JimDaly

Added connector sample and updated images
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
  powerapps-docs/maker/data-platform/media/low-code-plugin-automated-create.png
  powerapps-docs/maker/data-platform/media/low-code-plugin-instant-create.png
  powerapps-docs/maker/data-platform/media/low-code-plugin-instant-integrate.png
  powerapps-docs/maker/data-platform/media/low-code-plugin-instant-newform.png
  powerapps-docs/maker/data-platform/media/low-code-plugin-msn-action.png
  powerapps-docs/maker/data-platform/media/low-code-plugin-msn-createconnectionref.png
  powerapps-docs/maker/data-platform/media/low-code-plugin-msn-definition.png
  powerapps-docs/maker/data-platform/media/low-code-plugin-test-home.png
  powerapps-docs/maker/data-platform/media/low-code-plugin-test.png
Owners: @Mattp123, @KumarVivek

image update
  powerapps-docs/maker/data-platform/media/low-code-plugin-msn-definition.png
Owners: @Mattp123, @KumarVivek

Updated links
  powerapps-docs/developer/data-platform/build-and-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update lowcode-plug-ins-examples.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Update lowcode-plug-ins-examples.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

aisummarize pics
  powerapps-docs/maker/data-platform/media/low-code-plugin-aisummarize-definition.png
  powerapps-docs/maker/data-platform/media/low-code-plugin-aisummarize-edit-account.png
  powerapps-docs/maker/data-platform/media/low-code-plugin-aisummarize-notes.png
Owners: @Mattp123, @KumarVivek

Update lowcode-plug-ins-examples.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Update lowcode-plug-ins-examples.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Replacing experimental monikoring with preview
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/low-code-plug-ins-powerfx.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @KumarVivek, @Mattp123

Link fixes
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Updated link
  powerapps-docs/developer/data-platform/build-and-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised for style
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Fixing build warnings
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Formatting
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
