Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update asynchronous-service.md
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Mention that PDFs will not run complex objects
  powerapps-docs/maker/canvas-apps/controls/control-pdf-viewer.md
Owners: @tapanm-msft, @KumarVivek

make it easier to discover file & image columns don't use SQL.
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/customize-entity-metadata.md
  powerapps-docs/developer/data-platform/entity-attribute-metadata.md
  powerapps-docs/developer/data-platform/entity-metadata.md
  powerapps-docs/developer/data-platform/file-attributes.md
  powerapps-docs/developer/data-platform/file-column-data.md
  powerapps-docs/developer/data-platform/files-images-overview.md
  powerapps-docs/developer/data-platform/image-attributes.md
  powerapps-docs/developer/data-platform/image-column-data.md
  powerapps-docs/developer/data-platform/org-service/samples/set-retrieve-entity-images.md
  powerapps-docs/developer/data-platform/webapi/samples/image-operations.md
  powerapps-docs/includes/cc_entity-changeable-options-table.md
  powerapps-docs/maker/canvas-apps/create-edit-tables.md
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
  powerapps-docs/maker/data-platform/types-of-fields.md
Owners: @PHecke, @KumarVivek, @JimDaly, @tapanm-msft, @Mattp123

acrolinx changes
  powerapps-docs/developer/data-platform/customize-entity-metadata.md
  powerapps-docs/includes/cc_entity-changeable-options-table.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix broken link
  powerapps-docs/maker/canvas-apps/create-edit-tables.md
Owners: @tapanm-msft, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Update advanced-find.md
  powerapps-docs/user/advanced-find.md
Owners: @mduelae, @KumarVivek

Adding new article to TOC
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Revised for proper naming
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Metadata and link fixes
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Date updated
  powerapps-docs/developer/test-engine/yaml.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Changes for doc feedback 5109
  powerapps-docs/developer/data-platform/org-service/entity-operations-create.md
  powerapps-docs/developer/data-platform/use-elastic-tables.md
  powerapps-docs/developer/data-platform/webapi/create-entity-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

apply changes for both
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Adding prereq per 3787865
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

try include for note bullet
  powerapps-docs/developer/data-platform/use-elastic-tables.md
  powerapps-docs/includes/cc_elastic-table-duplicate-primary-key.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove include
  powerapps-docs/developer/data-platform/org-service/entity-operations-create.md
  powerapps-docs/developer/data-platform/use-elastic-tables.md
  powerapps-docs/developer/data-platform/webapi/create-entity-web-api.md
  powerapps-docs/includes/cc_elastic-table-duplicate-primary-key.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Removing from TOC in preparation for removing article
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Bolding UI text
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

refactored
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update solutioncomponent.md
  powerapps-docs/developer/data-platform/reference/entities/solutioncomponent.md
Owners: @PHecke, @KumarVivek, @JimDaly

Adding copilot metadata for reporting for Dataverse and model-driven apps folders
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
  powerapps-docs/maker/data-platform/formula-columns.md
  powerapps-docs/maker/data-platform/table-settings-for-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/copilot-control.md
  powerapps-docs/maker/model-driven-apps/create-a-model-driven-app.md
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
  powerapps-docs/maker/model-driven-apps/use-copilot-email-assist.md
Owners: @Mattp123, @KumarVivek

Attempting to improve Acrolinx scores
  powerapps-docs/maker/common/ai-app-descriptions-faq.md
  powerapps-docs/maker/common/faqs-copilot-panel.md
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
  powerapps-docs/maker/data-platform/table-settings-for-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Adding AI and copilot metadata for reporting
  powerapps-docs/maker/common/faqs-copilot-model-driven-app.md
  powerapps-docs/maker/common/faqs-email-assist-rte.md
  powerapps-docs/maker/common/faqs-excel-to-table-app.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Added Combo box and Rich text editor
  powerapps-docs/maker/canvas-apps/controls/properties-core.md
Owners: @tapanm-msft, @KumarVivek

Fixed combobox link
  powerapps-docs/maker/canvas-apps/controls/properties-core.md
Owners: @tapanm-msft, @KumarVivek

discussion with team
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/count-rows.md
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/optimize-performance.md
  powerapps-docs/developer/data-platform/fetchxml/reference/condition.md
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update gallery-best-practice.md
  powerapps-docs/maker/canvas-apps/gallery-best-practice.md
Owners: @tapanm-msft, @KumarVivek

Update use-native-cds-connector.md
  powerapps-docs/maker/canvas-apps/use-native-cds-connector.md
Owners: @tapanm-msft, @KumarVivek

Update add-images-pictures-audio-video.md
  powerapps-docs/maker/canvas-apps/add-images-pictures-audio-video.md
Owners: @tapanm-msft, @KumarVivek

Update control-pdf-viewer.md
  powerapps-docs/maker/canvas-apps/controls/control-pdf-viewer.md
Owners: @tapanm-msft, @KumarVivek

Added examples of filter links in link-entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add sample pages
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/samples/basic-operations-powershell.md
  powerapps-docs/developer/data-platform/webapi/samples/toc.yml
  powerapps-docs/developer/data-platform/webapi/use-ps-and-vscode-web-api.md
  powerapps-docs/developer/data-platform/webapi/web-api-samples-powershell.md
Owners: @PHecke, @KumarVivek, @JimDaly

name change: remove 'metadata'
  powerapps-docs/developer/data-platform/file-attributes.md
  powerapps-docs/developer/data-platform/image-attributes.md
  powerapps-docs/developer/data-platform/webapi/TOC.yml
  powerapps-docs/developer/data-platform/webapi/create-update-column-definitions-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/create-update-entity-definitions-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/create-update-entity-relationships-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/multitable-lookup.md
  powerapps-docs/developer/data-platform/webapi/query-metadata-web-api.md
  powerapps-docs/developer/data-platform/webapi/retrieve-metadata-name-metadataid.md
  powerapps-docs/developer/data-platform/webapi/samples/basic-operations-powershell.md
  powerapps-docs/developer/data-platform/webapi/samples/retrievemetadatachanges.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice-basic-operations.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice-conditional-operations.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice-functions-and-actions.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice-metadata-operations.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice-parallel-operations.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice-query-data.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice-tpl-dataflow-parallel-operations.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice.md
  powerapps-docs/developer/data-platform/webapi/use-web-api-metadata.md
  powerapps-docs/developer/data-platform/webapi/web-api-metadata-operations-sample.md
  powerapps-docs/developer/data-platform/webapi/web-api-samples-csharp.md
  powerapps-docs/developer/data-platform/webapi/web-api-samples.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  powerapps-docs/developer/data-platform/webapi/samples/basic-operations-powershell.md
  powerapps-docs/developer/data-platform/webapi/web-api-samples-powershell.md
Owners: @PHecke, @KumarVivek, @JimDaly

update Postman articles
  powerapps-docs/developer/data-platform/webapi/setup-postman-environment.md
  powerapps-docs/developer/data-platform/webapi/use-postman-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
