Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Warn app makers about a common security pitfall for configuring forms
  powerapps-docs/maker/model-driven-apps/add-move-or-delete-fields-on-form.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Create faq-copilot-control.md
  powerapps-docs/maker/common/faq-copilot-control.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update faq-copilot-control.md
  powerapps-docs/maker/common/faq-copilot-control.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update ai-app-descriptions-faq.md
  powerapps-docs/maker/common/ai-app-descriptions-faq.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update faqs-copilot-panel.md
  powerapps-docs/maker/common/faqs-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update ai-app-descriptions-faq.md
  powerapps-docs/maker/common/ai-app-descriptions-faq.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update faq-copilot-control.md
  powerapps-docs/maker/common/faq-copilot-control.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update faq-copilot-control.md
  powerapps-docs/maker/common/faq-copilot-control.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update faq-copilot-control.md
  powerapps-docs/maker/common/faq-copilot-control.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Add example
  powerapps-docs/developer/model-driven-apps/clientapi/reference/controls/addPreSearch.md
Owners: @JimDaly, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

acrolinx
  powerapps-docs/developer/model-driven-apps/clientapi/reference/controls/addPreSearch.md
Owners: @JimDaly, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Incorporating tech review feedback
  powerapps-docs/maker/common/faqs-copilot-model-driven-app.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update attributemetadata.md
  powerapps-docs/developer/component-framework/reference/attributemetadata.md
Owners: @PHecke, @KumarVivek, @JimDaly

updates
  powerapps-docs/cards/manage-cards/manage-cards.md
Owners: @KumarVivek

updates
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

Update data-loss-prevention.md
  powerapps-docs/cards/manage-cards/data-loss-prevention.md
Owners: @KumarVivek

Update delete-cards.md
  powerapps-docs/cards/manage-cards/delete-cards.md
Owners: @KumarVivek

updates
  powerapps-docs/cards/manage-cards/delete-cards.md
Owners: @KumarVivek

updates
  powerapps-docs/cards/manage-cards/data-loss-prevention.md
  powerapps-docs/cards/manage-cards/delete-cards.md
  powerapps-docs/cards/manage-cards/manage-access.md
Owners: @KumarVivek

tweaks
  powerapps-docs/cards/manage-cards/manage-cards.md
Owners: @KumarVivek

Update delete-cards.md
  powerapps-docs/cards/manage-cards/delete-cards.md
Owners: @KumarVivek

updates
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

Update send-in-app-notifications.md
  powerapps-docs/developer/model-driven-apps/clientapi/send-in-app-notifications.md
Owners: @JimDaly, @KumarVivek

toc updates
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/retrieve-field-sharing-records.md
  powerapps-docs/developer/data-platform/org-service/samples/retrieve-license-information.md
  powerapps-docs/developer/data-platform/org-service/samples/retrieve-multiple-querybyattribute-class.md
  powerapps-docs/developer/data-platform/org-service/samples/retrieve-multiple-queryexpression-class.md
  powerapps-docs/developer/data-platform/org-service/samples/retrieve-records-intersect-table.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/retrieve-roles-for-organization.md
  powerapps-docs/developer/data-platform/org-service/samples/retrieve-time-zone-information.md
  powerapps-docs/developer/data-platform/org-service/samples/retrieve-valid-status-transitions.md
  powerapps-docs/developer/data-platform/org-service/samples/rollup-goal-data-custom-period-target-revenue.md
  powerapps-docs/developer/data-platform/org-service/samples/rollup-goal-data-fiscal-period-stretch-target-count.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/rollup-records-related-to-specificed-record.md
  powerapps-docs/developer/data-platform/org-service/samples/send-bulk-email-monitor-results.md
  powerapps-docs/developer/data-platform/org-service/samples/send-email-template.md
  powerapps-docs/developer/data-platform/org-service/samples/send-email.md
  powerapps-docs/developer/data-platform/org-service/samples/serialize-deserialize-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/share-queue.md
  powerapps-docs/developer/data-platform/org-service/samples/share-record-using-access-team.md
  powerapps-docs/developer/data-platform/org-service/samples/share-records-using-grantaccess-modifyaccess-revokeaccess-messages.md
  powerapps-docs/developer/data-platform/org-service/samples/solution-stage-and-import.md
  powerapps-docs/developer/data-platform/org-service/samples/specify-queue-item-work-early-bound.md
Owners: @PHecke, @KumarVivek, @JimDaly

removing controlsupport.md
  powerapps-docs/developer/test-engine/controlsupport.md
  powerapps-docs/developer/test-engine/overview.md
  powerapps-docs/developer/test-engine/powerfx.md
  powerapps-docs/developer/test-engine/yaml.md
  powerapps-docs/maker/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Added per PM
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

GA Updates
  powerapps-docs/user/media/modern-command-bar.png
  powerapps-docs/user/media/modern-form-page.png
  powerapps-docs/user/media/modern-view-page.png
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Doc feedback 4555
  powerapps-docs/developer/component-framework/reference/entityrecord.md
Owners: @PHecke, @KumarVivek, @JimDaly
