Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Rename modern-slider-control to modern-control-slider
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-slider
Owners: @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Rename modern-control-slider to modern-control-slider.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-slider.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-link.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-link.md
Owners: @tapanm-msft, @KumarVivek

Revised for correct Dataverse table name and placeholder link warning
  powerapps-docs/maker/data-platform/export-to-data-lake-data-powerbi.md
  powerapps-docs/maker/data-platform/limits-tshoot-virtual-tables.md
Owners: @Mattp123, @KumarVivek

Update modern-control-progress-bar.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-progress-bar.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-tabs-or-tabs-list.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-tabs-or-tabs-list.md
Owners: @tapanm-msft, @KumarVivek

Update overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Update modern-controls-reference.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-reference.md
Owners: @tapanm-msft, @KumarVivek

Update limitations-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/limitations-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/channel-overview.md
Owners: @Mattp123, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update fluent-modern-theming.md
  powerapps-docs/developer/component-framework/fluent-modern-theming.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update theming-description.md
  powerapps-docs/developer/component-framework/reference/includes/theming-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix mistake
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Revised for style including removal of future feature mention
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

update for property of entity on LHS
  powerapps-docs/maker/canvas-apps/delegation-overview.md
Owners: @tapanm-msft, @KumarVivek

Fixing malformed video syntax
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Create enable-copilot-for-model-driven-apps
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps
Owners: @Mattp123, @KumarVivek

Rename enable-copilot-for-model-driven-apps to enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Adding intro text for video
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/model-driven-apps/media/Environment_settings.png
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/model-driven-apps/media/Environment_features.png
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/model-driven-apps/media/Copilot_for_apps_users_ON.png
Owners: @Mattp123, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
