Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update limits-and-config.md
  powerapps-docs/limits-and-config.md
Owners: @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/copilot/Copilot_for_apps_users_ON.png
  powerapps-docs/maker/canvas-apps/media/copilot/Environment_features.png
  powerapps-docs/maker/canvas-apps/media/copilot/Environment_settings.png
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update create-edit-elastic-tables.md
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Update overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Revised for style and duplicated proc
  powerapps-docs/maker/data-platform/table-settings-for-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

check
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

try code snippet
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

try different path
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

paste code in
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

try different path
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

try align code block
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update
  powerapps-docs/developer/component-framework/toc.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Update
  powerapps-docs/developer/component-framework/media/modern-theming-api-control-blue.png
  powerapps-docs/developer/component-framework/media/modern-theming-api-control-green.png
  powerapps-docs/developer/component-framework/media/modern-theming-api-control-red.png
  powerapps-docs/developer/component-framework/media/modern-theming-api-control.png
  powerapps-docs/developer/component-framework/sample-controls/modern-theming-api-control.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update
  powerapps-docs/developer/component-framework/fluent-modern-theming.md
  powerapps-docs/developer/component-framework/sample-controls/modern-theming-api-control.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update
  powerapps-docs/developer/component-framework/reference/theming.md
Owners: @PHecke, @KumarVivek, @JimDaly

try code snippet
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix code snippet indent
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

try full URL
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

try full URL
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

try 'correct' url
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update bulk-operations.md
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove branch mapping
  .openpublishing.publish.config.json
Owners: none

Revert "remove branch mapping"
  .openpublishing.publish.config.json
Owners: none

remove branch mapping
  .openpublishing.publish.config.json
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

different URL
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly
