Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update grid-onrecordselect.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/grid-onrecordselect.md
Owners: @JimDaly, @KumarVivek

Update create-app-side-panes.md
  powerapps-docs/developer/model-driven-apps/clientapi/create-app-side-panes.md
Owners: @JimDaly, @KumarVivek

check
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/grid-onrecordselect.md
Owners: @JimDaly, @KumarVivek

reduce steps
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/grid-onrecordselect.md
Owners: @JimDaly, @KumarVivek

Revised for style and relative links
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update search.md
  powerapps-docs/maker/search.md
Owners: @KumarVivek

Note on tag
  powerapps-docs/developer/data-platform/optional-parameters.md
Owners: @PHecke, @KumarVivek, @JimDaly

Dataverse > Microsoft
  powerapps-docs/developer/data-platform/optional-parameters.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update grid-onrecordselect.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/grid-onrecordselect.md
Owners: @JimDaly, @KumarVivek

Update grid-onrecordselect.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/grid-onrecordselect.md
Owners: @JimDaly, @KumarVivek

Update collaboration.md
  powerapps-docs/user/collaboration.md
Owners: @mduelae, @KumarVivek

Update collaboration.md
  powerapps-docs/user/collaboration.md
Owners: @mduelae, @KumarVivek

Update collaboration.md
  powerapps-docs/user/collaboration.md
Owners: @mduelae, @KumarVivek

Update collaboration.md
  powerapps-docs/user/collaboration.md
Owners: @mduelae, @KumarVivek

Editing complete
  powerapps-docs/developer/data-platform/background-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Create create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update copresence-power-apps-studio.md
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

tidy up
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/grid-onrecordselect.md
Owners: @JimDaly, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Editing complete
  powerapps-docs/index.yml
Owners: @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek
