Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Update ai-conversations-create-app.md
  powerapps-docs/maker/canvas-apps/ai-conversations-create-app.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-screen-context-variables.md
  powerapps-docs/maker/canvas-apps/add-screen-context-variables.md
Owners: @tapanm-msft, @KumarVivek

Update create-blank-app.md
  powerapps-docs/maker/canvas-apps/create-blank-app.md
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/controls/modern-controls/media/modern-controls-list.png
  powerapps-docs/maker/canvas-apps/controls/modern-controls/media/modern-themes-pane.png
  powerapps-docs/maker/canvas-apps/controls/modern-controls/media/settings-panel.png
Owners: @tapanm-msft, @KumarVivek

Update data-platform-create-app-scratch.md
  powerapps-docs/maker/canvas-apps/data-platform-create-app-scratch.md
Owners: @tapanm-msft, @KumarVivek

Update overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Create modern-theming.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-theming.md
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/controls/modern-controls/media/modern-themes-color-ramp.png
Owners: @tapanm-msft, @KumarVivek

Update overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

updated with adding rte to form
  powerapps-docs/maker/model-driven-apps/copilot-control.md
Owners: @Mattp123, @KumarVivek

Update powerapps-mobile-troubleshoot.md
  powerapps-docs/mobile/powerapps-mobile-troubleshoot.md
Owners: @KumarVivek

Update relevance-faq.md
  powerapps-docs/user/relevance-faq.md
Owners: @mduelae, @KumarVivek

Update relevance-faq.md
  powerapps-docs/user/relevance-faq.md
Owners: @mduelae, @KumarVivek

Update powerapps-mobile-troubleshoot.md
  powerapps-docs/mobile/powerapps-mobile-troubleshoot.md
Owners: @KumarVivek

Update powerapps-mobile-troubleshoot.md
  powerapps-docs/mobile/powerapps-mobile-troubleshoot.md
Owners: @KumarVivek

Update connection-excel.md
  powerapps-docs/maker/canvas-apps/connections/connection-excel.md
Owners: @tapanm-msft, @KumarVivek

Update connection-azure-sqldatabase.md
  powerapps-docs/maker/canvas-apps/connections/connection-azure-sqldatabase.md
Owners: @tapanm-msft, @KumarVivek

Update data-platform-create-app.md
  powerapps-docs/maker/canvas-apps/data-platform-create-app.md
Owners: @tapanm-msft, @KumarVivek

Update get-started-create-from-data.md
  powerapps-docs/maker/canvas-apps/get-started-create-from-data.md
Owners: @tapanm-msft, @KumarVivek

Update app-from-sharepoint.md
  powerapps-docs/maker/canvas-apps/app-from-sharepoint.md
Owners: @tapanm-msft, @KumarVivek

Update connection-excel.md
  powerapps-docs/maker/canvas-apps/connections/connection-excel.md
Owners: @tapanm-msft, @KumarVivek

17958770: HTML element does not render list's markers inside of the custom page
  powerapps-docs/maker/canvas-apps/controls/control-html-text.md
Owners: @tapanm-msft, @KumarVivek

Update powerapps-mobile-troubleshoot.md
  powerapps-docs/mobile/powerapps-mobile-troubleshoot.md
Owners: @KumarVivek

update instructions
  powerapps-docs/developer/component-framework/use-sample-components.md
Owners: @PHecke, @KumarVivek, @JimDaly

edit
  powerapps-docs/developer/component-framework/use-sample-components.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update modern-theming.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-theming.md
Owners: @tapanm-msft, @KumarVivek

Removing solution tshoot content that's been migrated to troubleshoot repo and adding link to that content
  powerapps-docs/maker/data-platform/import-update-export-solutions.md
  powerapps-docs/maker/data-platform/solutions-overview.md
Owners: @Mattp123, @KumarVivek

Fixing broken links due to tshoot content migration
  powerapps-docs/maker/model-driven-apps/model-app-faq.md
Owners: @Mattp123, @KumarVivek

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Update modern-theming.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-theming.md
Owners: @tapanm-msft, @KumarVivek

Update modern-theming.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-theming.md
Owners: @tapanm-msft, @KumarVivek

Update modern-theming.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-theming.md
Owners: @tapanm-msft, @KumarVivek

Update overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Delete modern-themes-color-ramp.png
  powerapps-docs/maker/canvas-apps/controls/modern-controls/media/modern-themes-color-ramp.png
Owners: @tapanm-msft, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
