Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Added link
  powerapps-docs/developer/data-platform/build-and-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Formatting
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Update timeline known issues
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update timeline known issues
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Add files via upload
  powerapps-docs/maker/model-driven-apps/media/timeline-what-you-missed-display-view.png
Owners: @Mattp123, @KumarVivek

Update set-up-timeline-control.md
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Update set-up-timeline-control.md
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Update timeline FAQs
  powerapps-docs/maker/model-driven-apps/faqs-timeline-control.md
Owners: @Mattp123, @KumarVivek

Moved images to another repo
  powerapps-docs/developer/data-platform/media/power-platform-create-pluginpackage-dialog.png
  powerapps-docs/developer/data-platform/media/power-platform-create-pluginpackage.png
  powerapps-docs/developer/data-platform/media/power-platform-delete-pluginpackage.png
  powerapps-docs/developer/data-platform/media/power-platform-deploy-pluginpackage.png
  powerapps-docs/developer/data-platform/media/power-platform-explorer-plug-in-packages.png
  powerapps-docs/developer/data-platform/media/power-platform-tools-options.png
  powerapps-docs/developer/data-platform/media/power-platform-update-pluginpackage.png
Owners: @PHecke, @KumarVivek, @JimDaly

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update get-started-test-drive.md
  powerapps-docs/maker/canvas-apps/get-started-test-drive.md
Owners: @tapanm-msft, @KumarVivek

Update azure-ad-to-microsoft-entra-id.md
  shared/azure-ad-to-microsoft-entra-id.md
Owners: none

Tweaks
  powerapps-docs/developer/data-platform/dataverse-sql-query.md
Owners: @PHecke, @KumarVivek, @JimDaly

Deleted article
  powerapps-docs/developer/data-platform/dependent-assembly-plugins.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added redirect
  .openpublishing.redirection.json
Owners: none

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Build fixes
  powerapps-docs/developer/data-platform/duplicaterule-entities.md
  powerapps-docs/developer/data-platform/impersonate-a-user.md
  powerapps-docs/developer/data-platform/org-service/subscribe-sdk-assembly-updates-using-nuget.md
  powerapps-docs/developer/data-platform/tools/devtools-create-plugin.md
  powerapps-docs/developer/data-platform/use-metadata-generate-entity-diagrams.md
  powerapps-docs/developer/data-platform/workflow/workflow-extensions.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update the-power-apps-grid-control.md
  powerapps-docs/maker/model-driven-apps/the-power-apps-grid-control.md
Owners: @Mattp123, @KumarVivek

Update power-apps-grid-control.md
  powerapps-docs/maker/model-driven-apps/power-apps-grid-control.md
Owners: @Mattp123, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update create-edit-app.md
  powerapps-docs/maker/model-driven-apps/create-edit-app.md
Owners: @Mattp123, @KumarVivek

Update form-editor-user-interface-legacy.md
  powerapps-docs/maker/model-driven-apps/form-editor-user-interface-legacy.md
Owners: @Mattp123, @KumarVivek

Explain duplicate posts sorting issue
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Refresh all - troubleshoot topic migration - DO NOT MERGE
  powerapps-docs/user/export-excel-dynamic-worksheet.md
Owners: @mduelae, @KumarVivek

Update build-first-model-driven-app-classic.md
  powerapps-docs/maker/model-driven-apps/build-first-model-driven-app-classic.md
Owners: @Mattp123, @KumarVivek

Update add-edit-app-components.md
  powerapps-docs/maker/model-driven-apps/add-edit-app-components.md
Owners: @Mattp123, @KumarVivek

Update form-properties-legacy.md
  powerapps-docs/maker/model-driven-apps/form-properties-legacy.md
Owners: @Mattp123, @KumarVivek

Revised for style and clarity
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Acrolinx score improvements
  powerapps-docs/developer/data-platform/duplicaterule-entities.md
  powerapps-docs/developer/data-platform/tools/devtools-create-plugin.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixing broken link
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/faqs-timeline-control.md
  powerapps-docs/maker/model-driven-apps/media/command-checker-url-param.png
  powerapps-docs/maker/model-driven-apps/media/find-group-id.png
  powerapps-docs/maker/model-driven-apps/media/related-activities.png
  powerapps-docs/maker/model-driven-apps/media/select-related-activity.png
  powerapps-docs/maker/model-driven-apps/media/start-command-checker.png
Owners: @Mattp123, @KumarVivek

Fixing incorrect link
  powerapps-docs/maker/model-driven-apps/faqs-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
