Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update copilot-chat-in-webplayer.md
  powerapps-docs/user/copilot-chat-in-webplayer.md
Owners: @mduelae, @KumarVivek

address review comments
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-intersect-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update asynchronous-service.md
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

Improved data experience now default
  powerapps-docs/maker/canvas-apps/use-native-cds-connector.md
Owners: @tapanm-msft, @KumarVivek

deleted reference to no support for spn. we now support it.
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

revisions per comments
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/count-rows.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added redirect
  .openpublishing.redirection.json
  powerapps-docs/maker/canvas-apps/performance-tips.md
Owners: @tapanm-msft, @KumarVivek

Update overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Update asynchronous-service.md
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

refactor
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update faqs-copilot-panel.md
  powerapps-docs/maker/common/faqs-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update export-data-lake-faq.yml
  powerapps-docs/maker/data-platform/export-data-lake-faq.yml
Owners: @Mattp123, @KumarVivek

Fixed typo in create-edit-powerbi-report-dataset-components.md
  powerapps-docs/maker/model-driven-apps/create-edit-powerbi-report-dataset-components.md
Owners: @Mattp123, @KumarVivek

Update export-data-lake-faq.yml
  powerapps-docs/maker/data-platform/export-data-lake-faq.yml
Owners: @Mattp123, @KumarVivek

add cross table mention
  powerapps-docs/developer/data-platform/column-comparison.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update use-custom-model-driven-app-on-mobile.md
  powerapps-docs/mobile/use-custom-model-driven-app-on-mobile.md
Owners: @KumarVivek

Update optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-controls.md
Owners: @KumarVivek

Update optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-controls.md
Owners: @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-controls.md
Owners: @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-controls.md
Owners: @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update embedded-canvas-app-guidelines.md
  powerapps-docs/maker/model-driven-apps/embedded-canvas-app-guidelines.md
Owners: @Mattp123, @KumarVivek

Revisions to meet Acrolinx threshold
  powerapps-docs/maker/model-driven-apps/embedded-canvas-app-guidelines.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update save-publish-app.md
  powerapps-docs/maker/canvas-apps/save-publish-app.md
Owners: @tapanm-msft, @KumarVivek

Update save-publish-app.md
  powerapps-docs/maker/canvas-apps/save-publish-app.md
Owners: @tapanm-msft, @KumarVivek

Update asynchronous-service.md
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update asynchronous-service.md
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly
