Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

users/sanjeevgoyal/updateFormulaFieldDoc changes
  powerapps-docs/developer/data-platform/calculated-rollup-attributes.md
  powerapps-docs/maker/data-platform/define-calculated-fields.md
  powerapps-docs/maker/data-platform/define-rollup-fields.md
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @PHecke, @KumarVivek, @JimDaly, @Mattp123

Update limits-tshoot-virtual-tables.md
  powerapps-docs/maker/data-platform/limits-tshoot-virtual-tables.md
Owners: @Mattp123, @KumarVivek

Fix rollup section
  powerapps-docs/developer/data-platform/calculated-rollup-attributes.md
Owners: @PHecke, @KumarVivek, @JimDaly

Redirect Dataverse search in portals
  .openpublishing.redirection.json
  powerapps-docs/maker/portals/configure/dataverse-search.md
Owners: @nickdoelman, @KumarVivek

pac cli name change
  powerapps-docs/developer/test-engine/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update reference-properties.md
  powerapps-docs/maker/canvas-apps/reference-properties.md
Owners: @tapanm-msft, @KumarVivek

Committing change
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Update page-large-result-sets-with-fetchxml.md
  powerapps-docs/developer/data-platform/org-service/page-large-result-sets-with-fetchxml.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised for style and terminology
  powerapps-docs/maker/data-platform/display-custom-icons-instead.md
  powerapps-docs/mobile/offline-capabilities.md
Owners: @Mattp123, @KumarVivek

Update aad-group-team.md
  powerapps-docs/developer/data-platform/aad-group-team.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update send-in-app-notifications.md
  powerapps-docs/developer/model-driven-apps/clientapi/send-in-app-notifications.md
Owners: @JimDaly, @KumarVivek

Update offline-capabilities.md
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Review, and minor changes
  powerapps-docs/developer/data-platform/aad-group-team.md
Owners: @PHecke, @KumarVivek, @JimDaly

Due to lack of validation in some repos, bad ms.topic values have been added to content. This is to remove invalid values and replace with valid ms.topic values.
  powerapps-docs/developer/data-platform/virtual-entities/enable-virtual-table-event-support.md
Owners: @PHecke, @KumarVivek, @JimDaly

Due to lack of validation in some repos, bad ms.topic values have been added to content. This is to remove invalid values and replace with valid ms.topic values.
  powerapps-docs/maker/data-platform/processes.md
  powerapps-docs/maker/model-driven-apps/build-first-model-driven-app-classic.md
  powerapps-docs/maker/model-driven-apps/create-and-edit-forms.md
  powerapps-docs/maker/model-driven-apps/create-edit-app.md
  powerapps-docs/maker/model-driven-apps/design-custom-business-apps-using-app-designer.md
Owners: @Mattp123, @KumarVivek

Due to lack of validation in some repos, bad ms.topic values have been added to content. This is to remove invalid values and replace with valid ms.topic values.
  powerapps-docs/includes/deploy-dynamics-365-app-for-outlook.md
Owners: @KumarVivek

Due to lack of validation in some repos, bad ms.topic values have been added to content. This is to remove invalid values and replace with valid ms.topic values.
  powerapps-docs/developer/data-platform/xrm-tooling/build-windows-client-applications-xrm-tools.md
  powerapps-docs/developer/data-platform/xrm-tooling/use-powershell-cmdlets-xrm-tooling-connect.md
Owners: @PHecke, @KumarVivek, @JimDaly

Due to lack of validation in some repos, bad ms.topic values have been added to content. This is to remove invalid values and replace with valid ms.topic values.
  powerapps-docs/maker/model-driven-apps/create-model-driven-app.md
  powerapps-docs/maker/model-driven-apps/create-remove-pages.md
Owners: @Mattp123, @KumarVivek

Update user-team-entities.md
  powerapps-docs/developer/data-platform/user-team-entities.md
Owners: @PHecke, @KumarVivek, @JimDaly

removing flow dependency auto-management from docs
  powerapps-docs/cards/manage-cards/manage-cards.md
Owners: @KumarVivek

update docs
  powerapps-docs/cards/manage-cards/manage-cards.md
Owners: @KumarVivek

remove old photo
  powerapps-docs/cards/media/manage-cards/flow-add-required-objects.png
Owners: @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

A
  powerapps-docs/limits-and-config.md
Owners: @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update manage-existing-portals.md
  powerapps-docs/maker/portals/manage-existing-portals.md
Owners: @nickdoelman, @KumarVivek

Update intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
Owners: @tapanm-msft, @KumarVivek

Update manage-existing-portals.md
  powerapps-docs/maker/portals/manage-existing-portals.md
Owners: @nickdoelman, @KumarVivek

Added Images to the image library
  powerapps-docs/maker/portals/media/active-sites.png
  powerapps-docs/maker/portals/media/edit-in-power-apps.png
  powerapps-docs/maker/portals/media/portal-site-options.png
Owners: @nickdoelman, @KumarVivek

Update manage-existing-portals.md
  powerapps-docs/maker/portals/manage-existing-portals.md
Owners: @nickdoelman, @KumarVivek

Creating new article per 3603920
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/common/faqs-excel-to-table-app.md
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @KumarVivek, @Mattp123, @tapanm-msft
