Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Style fix for TOC
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Adding preview indicator to TOC
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Acrolinx fixes
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/media/Fabric/Azure-Synapse-Link-two-experiences.png
Owners: @Mattp123, @KumarVivek

Update
  shared/cross-geo-support.md
Owners: none

updates
  powerapps-docs/maker/portals/control-portal-creation.md
  powerapps-docs/maker/portals/create-additional-portals.md
  powerapps-docs/maker/portals/manage-existing-portals.md
  powerapps-docs/maker/portals/portal-designer-anatomy.md
Owners: @nickdoelman, @KumarVivek

Remove deprecated redirect links
  powerapps-docs/maker/data-platform/use-powerapps-checker.md
Owners: @Mattp123, @KumarVivek

Revising for clarity
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

Restructuring absolute links to relative
  powerapps-docs/maker/data-platform/use-powerapps-checker.md
Owners: @Mattp123, @KumarVivek

updates for copresence
  powerapps-docs/maker/canvas-apps/edit-app.md
Owners: @tapanm-msft, @KumarVivek

Update copresence-power-apps-studio.md
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

Update copresence-power-apps-studio.md
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update copresence-power-apps-studio.md
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

Web videos update
  powerapps-docs/maker/data-platform/media/search-see-web-results.png
  powerapps-docs/maker/search.md
Owners: @Mattp123, @KumarVivek

fix links
  powerapps-docs/developer/data-platform/best-practices/business-logic/implement-all-types-of-queries-when-filtering-preoperation-retrievemultiple.md
  powerapps-docs/developer/data-platform/org-service/use-linq-construct-query.md
  powerapps-docs/developer/data-platform/query-schema-definitions.md
  powerapps-docs/developer/data-platform/webapi/impersonate-another-user-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update control-portal-creation.md
  powerapps-docs/maker/portals/control-portal-creation.md
Owners: @nickdoelman, @KumarVivek

Site creation blocked error jpg
  powerapps-docs/maker/portals/media/Site-creation-blocked-error.jpg
Owners: @nickdoelman, @KumarVivek

Update control-portal-creation.md
  powerapps-docs/maker/portals/control-portal-creation.md
Owners: @nickdoelman, @KumarVivek

Update create-additional-portals.md
  powerapps-docs/maker/portals/create-additional-portals.md
Owners: @nickdoelman, @KumarVivek

Update create-additional-portals.md
  powerapps-docs/maker/portals/create-additional-portals.md
Owners: @nickdoelman, @KumarVivek

Update create-additional-portals.md
  powerapps-docs/maker/portals/create-additional-portals.md
Owners: @nickdoelman, @KumarVivek

Update create-additional-portals.md
  powerapps-docs/maker/portals/create-additional-portals.md
Owners: @nickdoelman, @KumarVivek

ADO 15212
  .openpublishing.redirection.json
  powerapps-docs/maker/portals/contact-us-sample.md
  powerapps-docs/maker/portals/create-common-problems.md
  powerapps-docs/maker/portals/create-dynamics-portal.md
  powerapps-docs/maker/portals/create-portal.md
  powerapps-docs/maker/portals/portal-templates.md
Owners: @nickdoelman, @KumarVivek

Update cross-geo-support.md
  shared/cross-geo-support.md
Owners: none

Update to preview note for cross-geo copilot
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Update cross-geo-support.md
  shared/cross-geo-support.md
Owners: none

Update create-edit-entities-portal.md
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

updates
  powerapps-docs/maker/portals/control-portal-creation.md
  powerapps-docs/maker/portals/create-additional-portals.md
Owners: @nickdoelman, @KumarVivek

Update create-edit-entities-portal.md
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Update create-additional-portals.md
  powerapps-docs/maker/portals/create-additional-portals.md
Owners: @nickdoelman, @KumarVivek

Reconciling edits from review
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

updates
  powerapps-docs/maker/portals/control-portal-creation.md
  powerapps-docs/maker/portals/create-additional-portals.md
Owners: @nickdoelman, @KumarVivek

Update customized-editable-grid-control.md
  powerapps-docs/developer/component-framework/sample-controls/customized-editable-grid-control.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update customized-editable-grid-control.md
  powerapps-docs/developer/component-framework/sample-controls/customized-editable-grid-control.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update control-portal-creation.md
  powerapps-docs/maker/portals/control-portal-creation.md
Owners: @nickdoelman, @KumarVivek

update image
  powerapps-docs/maker/portals/control-portal-creation.md
  powerapps-docs/maker/portals/media/Site-creation-blocked-error.jpg
Owners: @nickdoelman, @KumarVivek

Format changes
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update limits-tshoot-virtual-tables.md
  powerapps-docs/maker/data-platform/limits-tshoot-virtual-tables.md
Owners: @Mattp123, @KumarVivek

TOC updates
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek
