Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update canvas-mobile-offline-working.md
  powerapps-docs/mobile/canvas-mobile-offline-working.md
Owners: @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Edited
  powerapps-docs/developer/data-platform/elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Edited
  powerapps-docs/developer/data-platform/create-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Edited
  powerapps-docs/developer/data-platform/elastic-table-samples.md
Owners: @PHecke, @KumarVivek, @JimDaly

attachment-annotation-files
  powerapps-docs/developer/data-platform/attachment-annotation-files.md
Owners: @PHecke, @KumarVivek, @JimDaly

Edited
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Edited
  powerapps-docs/developer/data-platform/query-json-columns-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Tweak
  powerapps-docs/developer/data-platform/elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

column comparison
  powerapps-docs/developer/data-platform/column-comparison.md
  powerapps-docs/developer/data-platform/org-service/use-conditionexpression-class.md
Owners: @PHecke, @KumarVivek, @JimDaly

includes
  powerapps-docs/developer/data-platform/includes/cc-generate-blockid-tip.md
  powerapps-docs/developer/data-platform/includes/cc-trygetcontenttype-note.md
Owners: @PHecke, @KumarVivek, @JimDaly

compose http requests...
  powerapps-docs/developer/data-platform/webapi/compose-http-requests-handle-errors.md
Owners: @PHecke, @KumarVivek, @JimDaly

create-entity-web-api
  powerapps-docs/developer/data-platform/webapi/create-entity-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Edited
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Tweak
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Tweak
  powerapps-docs/developer/data-platform/create-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Tweak
  powerapps-docs/developer/data-platform/elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updated links
  powerapps-docs/developer/data-platform/optional-parameters.md
Owners: @PHecke, @KumarVivek, @JimDaly

Tweak
  powerapps-docs/developer/data-platform/elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

query data web api
  powerapps-docs/developer/data-platform/attachment-annotation-files.md
  powerapps-docs/developer/data-platform/webapi/create-entity-web-api.md
  powerapps-docs/developer/data-platform/webapi/query-data-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

relavance search
  powerapps-docs/developer/data-platform/webapi/relevance-search.md
Owners: @PHecke, @KumarVivek, @JimDaly

use fetchxml-web-api
  powerapps-docs/developer/data-platform/webapi/query-data-web-api.md
  powerapps-docs/developer/data-platform/webapi/retrieve-entity-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/use-fetchxml-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

use-web-api-functions
  powerapps-docs/developer/data-platform/webapi/use-web-api-functions.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/webapi/use-web-api-functions.md
Owners: @PHecke, @KumarVivek, @JimDaly

Web API navigation properties
  powerapps-docs/developer/data-platform/webapi/web-api-navigation-properties.md
Owners: @PHecke, @KumarVivek, @JimDaly

Typo "Azure key vault"→"Azure Key Vault"
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Doc feedback 4608
  powerapps-docs/developer/data-platform/query-schema-definitions.md
Owners: @PHecke, @KumarVivek, @JimDaly

add topics and toc
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/count-rows.md
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/optimize-performance.md
  powerapps-docs/developer/data-platform/fetchxml/order-rows.md
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/page-results.md
  powerapps-docs/developer/data-platform/fetchxml/reference/all-attributes.md
  powerapps-docs/developer/data-platform/fetchxml/reference/attribute.md
  powerapps-docs/developer/data-platform/fetchxml/reference/condition.md
  powerapps-docs/developer/data-platform/fetchxml/reference/entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
  powerapps-docs/developer/data-platform/fetchxml/reference/index.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/operators.md
  powerapps-docs/developer/data-platform/fetchxml/reference/order.md
  powerapps-docs/developer/data-platform/fetchxml/reference/value.md
  powerapps-docs/developer/data-platform/fetchxml/select-columns.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/reference/all-attributes.md
  powerapps-docs/developer/data-platform/fetchxml/reference/attribute.md
  powerapps-docs/developer/data-platform/fetchxml/reference/condition.md
  powerapps-docs/developer/data-platform/fetchxml/reference/entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/all-attributes-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/attribute-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/condition-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/entity-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/fetch-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/filter-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/order-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/value-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/index.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/order.md
  powerapps-docs/developer/data-platform/fetchxml/reference/value.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/all-attributes-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/index.md
  powerapps-docs/developer/data-platform/fetchxml/select-columns.md
Owners: @PHecke, @KumarVivek, @JimDaly

EOD
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/all-attributes.md
  powerapps-docs/developer/data-platform/fetchxml/reference/attribute.md
  powerapps-docs/developer/data-platform/fetchxml/reference/condition.md
  powerapps-docs/developer/data-platform/fetchxml/reference/entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/operators.md
  powerapps-docs/developer/data-platform/fetchxml/reference/order.md
  powerapps-docs/developer/data-platform/fetchxml/reference/value.md
Owners: @PHecke, @KumarVivek, @JimDaly

copilot faqs added
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/common/faqs-email-assist-rte.md
  powerapps-docs/maker/model-driven-apps/copilot-control.md
  powerapps-docs/maker/model-driven-apps/use-copilot-email-assist.md
Owners: @KumarVivek, @Mattp123, @tapanm-msft

updated
  powerapps-docs/maker/common/faqs-email-assist-rte.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Update export-to-data-lake.md
  powerapps-docs/maker/data-platform/export-to-data-lake.md
Owners: @Mattp123, @KumarVivek

Delayed load - experimental to preview
  powerapps-docs/maker/canvas-apps/performance-tips.md
Owners: @tapanm-msft, @KumarVivek

Adding new article per 3528129
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/media/column-settings-for-copilot.png
  powerapps-docs/maker/data-platform/media/column-settings-for-copilot2.png
  powerapps-docs/maker/data-platform/media/table-settings-for-copilot.png
  powerapps-docs/maker/data-platform/table-settings-for-copilot.md
Owners: @KumarVivek, @Mattp123

web-api-properties
  powerapps-docs/developer/data-platform/webapi/web-api-properties.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix broken links
  powerapps-docs/developer/data-platform/use-alternate-key-reference-record.md
  powerapps-docs/developer/data-platform/webapi/web-api-entitytypes.md
  powerapps-docs/developer/data-platform/webapi/web-api-functions-actions-sample.md
  powerapps-docs/developer/data-platform/webapi/web-api-query-data-sample.md
Owners: @PHecke, @KumarVivek, @JimDaly
