Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

update
  powerapps-docs/maker/data-platform/media/formula-column-date-time-arg.png
Owners: @Mattp123, @KumarVivek

Update formula-columns.md
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

update
  powerapps-docs/maker/data-platform/media/formula-column-locale-specific-arg.png
Owners: @Mattp123, @KumarVivek

Update formula-columns.md
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Update keyboard-shortcuts.md
  powerapps-docs/user/keyboard-shortcuts.md
Owners: @mduelae, @KumarVivek

Limitations of business rules for grids
  powerapps-docs/maker/data-platform/data-platform-create-business-rule.md
Owners: @Mattp123, @KumarVivek

Halfway through "Configure files and images ..."
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
  powerapps-docs/mobile/media/files-images-offline-canvas-apps/edit-properties.png
  powerapps-docs/mobile/media/files-images-offline-canvas-apps/enable-dataverse-support.png
  powerapps-docs/mobile/media/files-images-offline-canvas-apps/existing-table.png
  powerapps-docs/mobile/media/files-images-offline-canvas-apps/new-table.png
  powerapps-docs/mobile/media/files-images-offline-canvas-apps/table-properties.png
Owners: @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
