Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Create sample.png
  powerapps-docs/maker/data-platform/media/Fabric/sample.png
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/data-platform/media/Fabric/Azure-Synapse-Link-two-experiences.png
  powerapps-docs/maker/data-platform/media/Fabric/Azure-Syunapse-Link-with-View-In-Fabric.png
  powerapps-docs/maker/data-platform/media/Fabric/Fabric - choose SQL endpoint.png
  powerapps-docs/maker/data-platform/media/Fabric/Fabric SQL endpoint for defining virtual tables.png
  powerapps-docs/maker/data-platform/media/Fabric/Fabric SQL endpoint shortcuts shown.png
  powerapps-docs/maker/data-platform/media/Fabric/Fabric autocreated PBI report.png
  powerapps-docs/maker/data-platform/media/Fabric/Fabric with DV shortcuts shown.png
  powerapps-docs/maker/data-platform/media/Fabric/Fabric-setting-up-connection.png
  powerapps-docs/maker/data-platform/media/Fabric/Fabric-trial-capacity.png
  powerapps-docs/maker/data-platform/media/Fabric/Maker portal - new table from external data.png
  powerapps-docs/maker/data-platform/media/Fabric/Maker-portal-view-in-fabric-2.png
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/data-platform/media/Fabric/Fabric-launch-connections-and-gateways.png
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

email assist added
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
  powerapps-docs/maker/model-driven-apps/use-copilot-email-assist.md
Owners: @KumarVivek, @Mattp123

acrocheck
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
Owners: @Mattp123, @KumarVivek

warnings fix
  powerapps-docs/maker/model-driven-apps/use-copilot-email-assist.md
Owners: @Mattp123, @KumarVivek

Revised for clarity replacing the with Copilot in second sentence
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
Owners: @Mattp123, @KumarVivek

plugintypeexportkey
  powerapps-docs/developer/data-platform/create-custom-api-solution.md
  powerapps-docs/developer/data-platform/dependent-assembly-plugins.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix build issues
  powerapps-docs/developer/data-platform/create-custom-api-solution.md
  powerapps-docs/developer/data-platform/dependent-assembly-plugins.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/create-custom-api-solution.md
  powerapps-docs/developer/data-platform/dependent-assembly-plugins.md
Owners: @PHecke, @KumarVivek, @JimDaly

add link to custom api doc
  powerapps-docs/developer/data-platform/dependent-assembly-plugins.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update formula-calculated-rollup-attributes.md
  powerapps-docs/developer/data-platform/calculated-rollup-attributes.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update mobile-offline-overview.md
  powerapps-docs/mobile/mobile-offline-overview.md
Owners: @KumarVivek

Update mobile-offline-overview.md
  powerapps-docs/mobile/mobile-offline-overview.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Adding additional preview indicators
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/model-driven-apps/use-copilot-email-assist.md
Owners: @KumarVivek, @Mattp123

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Mention common issue of misalignment in Gallery items because of minimum size
  powerapps-docs/maker/canvas-apps/controls/control-gallery.md
Owners: @tapanm-msft, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update configure-entity-relationship-cascading-behavior.md
  powerapps-docs/developer/data-platform/configure-entity-relationship-cascading-behavior.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add files via upload
  powerapps-docs/mobile/media/always-same.png
  powerapps-docs/mobile/media/no-toggle.png
  powerapps-docs/mobile/media/remember-to-disable.png
  powerapps-docs/mobile/media/skip.png
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

test
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly
