Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Add files via upload
  powerapps-docs/mobile/media/can-be-used-offline.png
Owners: @KumarVivek

Update powerapps-docs/mobile/canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Update modern-control-table.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-table.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-table.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-table.md
Owners: @tapanm-msft, @KumarVivek

Update access-checker.md
  powerapps-docs/user/access-checker.md
Owners: @mduelae, @KumarVivek

check
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/order-rows.md
  powerapps-docs/developer/data-platform/fetchxml/page-results.md
  powerapps-docs/developer/data-platform/fetchxml/reference/condition.md
  powerapps-docs/developer/data-platform/fetchxml/select-columns.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update access-checker.md
  powerapps-docs/user/access-checker.md
Owners: @mduelae, @KumarVivek

check
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/reference/attribute.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/dategrouping-table.md
  powerapps-docs/developer/data-platform/fetchxml/select-columns.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/fetchxml/count-rows.md
  powerapps-docs/developer/data-platform/fetchxml/optimize-performance.md
  powerapps-docs/developer/data-platform/fetchxml/page-results.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
Owners: @PHecke, @KumarVivek, @JimDaly

add include for contain-values
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-contain-values-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-not-contain-values-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

Terminology change
  powerapps-docs/developer/data-platform/reference/entities/datalakeworkspace.md
  powerapps-docs/developer/data-platform/reference/entities/datalakeworkspacepermission.md
Owners: @PHecke, @KumarVivek, @JimDaly

add sample instructions
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/page-results.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/page-results.md
  powerapps-docs/developer/data-platform/fetchxml/select-columns.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/count-rows.md
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/fetchxml/optimize-performance.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/fetch-options-table.md
  powerapps-docs/developer/data-platform/fetchxml/reference/index.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix link
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/fetchxml/reference/condition.md
  powerapps-docs/developer/data-platform/fetchxml/reference/operators.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/fetchxml/reference/operators.md
Owners: @PHecke, @KumarVivek, @JimDaly

fit-n-finish
  powerapps-docs/developer/data-platform/fetchxml/reference/operators.md
Owners: @PHecke, @KumarVivek, @JimDaly

more fit-n-finish
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/order-rows.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-last-fiscal-period-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-last-fiscal-year-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-last-month-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-last-seven-days-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-last-x-days-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-last-x-fiscal-periods-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-last-x-fiscal-years-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-last-x-hours-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-last-x-months-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-last-x-weeks-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-last-x-years-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-next-fiscal-year-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-next-x-days-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-next-x-fiscal-periods-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-next-x-fiscal-years-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-next-x-hours-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-next-x-months-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-next-x-weeks-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-next-x-years-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/operators.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-invalid-dateonly.md
  powerapps-docs/developer/data-platform/fetchxml/reference/operators.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/operator-invalid-dateonly.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/wildcard-string-operator.md
  powerapps-docs/developer/data-platform/fetchxml/reference/operators.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/reference/attribute.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/fetch-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/index.md
  powerapps-docs/developer/data-platform/fetchxml/reference/operators.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update limits-tshoot-virtual-tables.md
  powerapps-docs/maker/data-platform/limits-tshoot-virtual-tables.md
Owners: @Mattp123, @KumarVivek

changes
  powerapps-docs/maker/portals/media/provision-portal-add-on/add-on-available.png
  powerapps-docs/maker/portals/provision-portal-add-on.md
Owners: @nickdoelman, @KumarVivek

Update provision-portal-add-on.md
  powerapps-docs/maker/portals/provision-portal-add-on.md
Owners: @nickdoelman, @KumarVivek

Update provision-portal-add-on.md
  powerapps-docs/maker/portals/provision-portal-add-on.md
Owners: @nickdoelman, @KumarVivek

Removed no longer relevant feature setting mentions per 3576796
  powerapps-docs/maker/model-driven-apps/copresence.md
Owners: @Mattp123, @KumarVivek

Acrolinx
  powerapps-docs/maker/model-driven-apps/copresence.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Adding article to TOC
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Adding article to TOC
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/media/Fabric/Fabric-setting-up-connection.png
  powerapps-docs/maker/data-platform/media/Fabric/Fabric-trial-capacity.png
Owners: @Mattp123, @KumarVivek

acrolinx
  powerapps-docs/developer/data-platform/configure-entity-relationship-cascading-behavior.md
  powerapps-docs/maker/data-platform/create-edit-entity-relationships.md
Owners: @PHecke, @KumarVivek, @JimDaly, @Mattp123

Revised for style
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/media/Fabric/Fabric-SQL-endpoint-shortcuts-shown.png
  powerapps-docs/maker/data-platform/media/Fabric/Fabric-with-DV-shortcuts-shown.png
Owners: @Mattp123, @KumarVivek

Update data-retention-view.md
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

Revised for style and clarity
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/media/Fabric/fabric-autocreated-report.png
Owners: @Mattp123, @KumarVivek

Bookmark fix
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek
