Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update production-ready-preview-powerplatform.md
  shared/preview-includes/production-ready-preview-powerplatform.md
Owners: none

Update production-ready-preview-dynamics365.md
  shared/preview-includes/production-ready-preview-dynamics365.md
Owners: none

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Manually creating to replace public repo fork PR 4908
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Update overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-slider.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-slider.md
Owners: @tapanm-msft, @KumarVivek

Update limitations-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/limitations-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-progress-bar.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-progress-bar.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/copilot/Copilot-Insert-menu.png
Owners: @tapanm-msft, @KumarVivek

Revised for style and metadata
  powerapps-docs/maker/data-platform/behavior-format-date-time-field.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Style, image structuring, and link fixes
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
  powerapps-docs/maker/data-platform/media/elastic-table-type.png
Owners: @Mattp123, @KumarVivek

Link fixes
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Link fixes
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update copilot-data-security-privacy.md
  shared/responsible-ai-faqs-includes/copilot-data-security-privacy.md
Owners: none

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Delete powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update provision-portal-add-on.md
  powerapps-docs/maker/portals/provision-portal-add-on.md
Owners: @nickdoelman, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
