Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update copresence-power-apps-studio.md
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

Update for GA of Dataverse actions
  powerapps-docs/maker/canvas-apps/connections/connection-common-data-service.md
Owners: @tapanm-msft, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

check
  powerapps-docs/developer/data-platform/webapi/TOC.yml
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update use-powerapps-checker.md
  powerapps-docs/maker/data-platform/use-powerapps-checker.md
Owners: @Mattp123, @KumarVivek

Update powerapps-overview.md
  powerapps-docs/powerapps-overview.md
Owners: @KumarVivek

type plus clarification
  powerapps-docs/maker/canvas-apps/add-manage-connections.md
Owners: @tapanm-msft, @KumarVivek

remove ref to experimental dynamic schema feature
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Update addPreSearch.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/controls/addPreSearch.md
Owners: @JimDaly, @KumarVivek

Set new owners
  powerapps-docs/developer/test-engine/overview.md
  powerapps-docs/developer/test-engine/powerfx.md
  powerapps-docs/developer/test-engine/yaml.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added events and pfx-default-value
  powerapps-docs/developer/component-framework/manifest-schema-reference/event.md
  powerapps-docs/developer/component-framework/manifest-schema-reference/includes/event-description.md
  powerapps-docs/developer/component-framework/manifest-schema-reference/includes/pfx-default-value-description.md
  powerapps-docs/developer/component-framework/manifest-schema-reference/property.md
  powerapps-docs/developer/component-framework/reference/context.md
  powerapps-docs/developer/component-framework/reference/events.md
  powerapps-docs/developer/component-framework/reference/includes/events-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

Draft
  powerapps-docs/includes/cc-portals-studio-deprecation.md
  powerapps-docs/maker/portals/add-breadcrumb.md
  powerapps-docs/maker/portals/add-chatbot.md
  powerapps-docs/maker/portals/add-custom-menu.md
  powerapps-docs/maker/portals/add-form.md
  powerapps-docs/maker/portals/add-iframe.md
  powerapps-docs/maker/portals/add-image.md
  powerapps-docs/maker/portals/add-list.md
  powerapps-docs/maker/portals/add-powerbi.md
  powerapps-docs/maker/portals/add-sections.md
  powerapps-docs/maker/portals/add-text.md
  powerapps-docs/maker/portals/compose-page.md
  powerapps-docs/maker/portals/create-manage-webpages.md
  powerapps-docs/maker/portals/edit-css.md
  powerapps-docs/maker/portals/portal-designer-anatomy.md
  powerapps-docs/maker/portals/theme-overview.md
  powerapps-docs/maker/portals/use-code-editor.md
  powerapps-docs/maker/portals/work-with-templates.md
Owners: @KumarVivek, @nickdoelman

toc and include fixes
  powerapps-docs/developer/component-framework/manifest-schema-reference/event.md
  powerapps-docs/developer/component-framework/manifest-schema-reference/includes/event-description.md
  powerapps-docs/developer/component-framework/manifest-schema-reference/includes/pfx-default-value-description.md
  powerapps-docs/developer/component-framework/manifest-schema-reference/property.md
  powerapps-docs/developer/component-framework/reference/includes/events-description.md
  powerapps-docs/developer/component-framework/toc.yml
  powerapps-docs/maker/canvas-apps/connections/connection-common-data-service.md
Owners: @PHecke, @KumarVivek, @JimDaly, @tapanm-msft

TOC and add to index.md
  powerapps-docs/developer/component-framework/manifest-schema-reference/event.md
  powerapps-docs/developer/component-framework/manifest-schema-reference/index.md
  powerapps-docs/developer/component-framework/reference/events.md
  powerapps-docs/developer/component-framework/reference/includes/events-description.md
  powerapps-docs/developer/component-framework/reference/index.md
  powerapps-docs/developer/component-framework/toc.yml
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/component-framework/manifest-schema-reference/includes/pfx-default-value-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

improve includes
  powerapps-docs/developer/component-framework/manifest-schema-reference/includes/type-table.md
  powerapps-docs/developer/component-framework/manifest-schema-reference/property.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/component-framework/manifest-schema-reference/includes/type-table.md
  powerapps-docs/developer/component-framework/reference/context.md
  powerapps-docs/maker/canvas-apps/connections/connection-common-data-service.md
Owners: @PHecke, @KumarVivek, @JimDaly, @tapanm-msft

one description change
  powerapps-docs/developer/component-framework/manifest-schema-reference/includes/pfx-default-value-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update open-and-run-a-sample-app.md
  powerapps-docs/maker/canvas-apps/open-and-run-a-sample-app.md
Owners: @tapanm-msft, @KumarVivek

Update help-desk-install.md
  powerapps-docs/maker/canvas-apps/help-desk-install.md
Owners: @tapanm-msft, @KumarVivek

Update expense-report-install.md
  powerapps-docs/maker/canvas-apps/expense-report-install.md
Owners: @tapanm-msft, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

direct to guidance article
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

adjust preview markings
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

check
  powerapps-docs/developer/data-platform/webapi/TOC.yml
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

Same region prerequisite update for Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

remove form support
  powerapps-docs/mobile/optimize-for-devices-controls.md
Owners: @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update set-personal-options.md
  powerapps-docs/user/set-personal-options.md
Owners: @mduelae, @KumarVivek

Update production-ready-preview-dynamics365.md
  shared/preview-includes/production-ready-preview-dynamics365.md
Owners: none

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Content updates
  powerapps-docs/developer/data-platform/media/azure-app-registrations-page.png
  powerapps-docs/developer/data-platform/media/new-app-registration-page.png
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Remove preview text from checker page
  powerapps-docs/maker/data-platform/use-powerapps-checker.md
Owners: @Mattp123, @KumarVivek

Update delegation-overview.md
  powerapps-docs/maker/canvas-apps/delegation-overview.md
Owners: @tapanm-msft, @KumarVivek

Update merge-duplicate-records.md
  powerapps-docs/user/merge-duplicate-records.md
Owners: @mduelae, @KumarVivek
