Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update data-retention-faq.yml
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

Adding example and a few Acrolinx tweaks
  powerapps-docs/maker/model-driven-apps/embed-powerbi-report-in-system-form.md
Owners: @Mattp123, @KumarVivek

Update create-responsive-layout.md
  powerapps-docs/maker/canvas-apps/create-responsive-layout.md
Owners: @tapanm-msft, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Content updates, added PluginBase class
  powerapps-docs/developer/data-platform/plug-ins.md
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Acrolinx corrections
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Replacing see with go to for more information links
  powerapps-docs/maker/data-platform/update-translated-text.md
Owners: @Mattp123, @KumarVivek

Adding see also link
  powerapps-docs/maker/data-platform/update-translated-text.md
Owners: @Mattp123, @KumarVivek

Review
  powerapps-docs/limits-and-config.md
  powerapps-docs/maker/canvas-apps/get-started-create-from-data.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/save-publish-app.md
  powerapps-docs/maker/common/ai-plugin.md
Owners: @KumarVivek, @tapanm-msft, @Mattp123

Stopping review and question back to PM about line 34 sys admin prereq
  powerapps-docs/maker/data-platform/azure-synapse-link-view-in-fabric.md
Owners: @Mattp123, @KumarVivek

Revised for style and correct syntax
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

Update activities-known-issues.md
  powerapps-docs/user/activities-known-issues.md
Owners: @mduelae, @KumarVivek

entityNamesFilter doesn't support wildcards
  powerapps-docs/developer/data-platform/org-service/generate-early-bound-classes.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update optimize-performance.md
  powerapps-docs/developer/data-platform/fetchxml/optimize-performance.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
Owners: @PHecke, @KumarVivek, @JimDaly

WIP
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
  powerapps-docs/developer/data-platform/quick-find-limit.md
  powerapps-docs/developer/data-platform/quick-find.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix broken table
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
Owners: @PHecke, @KumarVivek, @JimDaly

create includes for filter link types
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-all-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-any-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-not-all-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-not-any-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
Owners: @PHecke, @KumarVivek, @JimDaly

typo
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
Owners: @PHecke, @KumarVivek, @JimDaly

Documented link entities with no relationship in join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed relative links in join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added more content
  powerapps-docs/developer/data-platform/media/plugin-base-class-diagram.png
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed account and contact schema references in join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added more content
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

made the check box word consistent
  powerapps-docs/mobile/optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-overview.md
Owners: @KumarVivek

Improved Acrolinx
  powerapps-docs/mobile/optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-overview.md
Owners: @KumarVivek

check
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
  powerapps-docs/developer/data-platform/quick-find.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update set-up-timeline-control.md
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

edits
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/page-results.md
Owners: @PHecke, @KumarVivek, @JimDaly

links to fetchxml
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
  powerapps-docs/developer/data-platform/fetchxml/select-columns.md
  powerapps-docs/developer/data-platform/quick-find.md
Owners: @PHecke, @KumarVivek, @JimDaly

move union hint
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/optimize-performance.md
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  powerapps-docs/developer/data-platform/fetchxml/optimize-performance.md
  powerapps-docs/developer/data-platform/fetchxml/select-columns.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added example code
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek
