Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

remove toc update from settings
  .vscode/settings.json
Owners: none

Update create-edit-elastic-tables.md
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Added zoomed image
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

Removed images, updated text
  powerapps-docs/developer/data-platform/media/app-registration-delegate-permissions-page.png
  powerapps-docs/developer/data-platform/media/app-registration-manifest-page.png
  powerapps-docs/developer/data-platform/media/app-registration-select-api-page.png
  powerapps-docs/developer/data-platform/media/azure-api-permissions-page.png
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update data-retention-view.md
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

Update app-from-sharepoint.md
  powerapps-docs/maker/canvas-apps/app-from-sharepoint.md
Owners: @tapanm-msft, @KumarVivek

More changes
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

Minor text change
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/webapi/media/web-api-ps-continue-4.png
  powerapps-docs/developer/data-platform/webapi/media/web-api-ps-enter-code-1.png
  powerapps-docs/developer/data-platform/webapi/media/web-api-ps-enter-password-3.png
  powerapps-docs/developer/data-platform/webapi/media/web-api-ps-final-5.png
  powerapps-docs/developer/data-platform/webapi/media/web-api-ps-sign-in-2.png
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

Create well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/media/search/filter-1.png
  powerapps-docs/maker/canvas-apps/media/working-with-formulas/formula-bar.png
  powerapps-docs/maker/canvas-apps/media/working-with-formulas/label-hello-world.png
  powerapps-docs/maker/canvas-apps/media/working-with-formulas/label-sum-partial.png
  powerapps-docs/maker/canvas-apps/media/working-with-formulas/label-sum.png
  powerapps-docs/maker/canvas-apps/media/working-with-formulas/recalc1.png
  powerapps-docs/maker/canvas-apps/show-text-dates-times.md
  powerapps-docs/maker/canvas-apps/working-with-formulas.md
Owners: @tapanm-msft, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

check
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

updates
  powerapps-docs/maker/canvas-apps/media/working-with-formulas/label-sum-partial.png
  powerapps-docs/maker/canvas-apps/media/working-with-formulas/label-sum.png
  powerapps-docs/maker/canvas-apps/media/working-with-formulas/recalc1.png
Owners: @tapanm-msft, @KumarVivek

Check
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

Create files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Revised for style, Acrolinx pass, and date metadata
  powerapps-docs/maker/data-platform/define-alternate-keys-reference-records.md
Owners: @Mattp123, @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Revised for style, Acrolinx, and date metadata
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Update set-up-timeline-control.md
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Fixing media
  powerapps-docs/maker/data-platform/data-retention-view.md
  powerapps-docs/maker/data-platform/media/data-retention-grant-privileges.png
Owners: @Mattp123, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/formula-bar-find-replace.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/formula-bar-find-replace.md
Owners: @tapanm-msft, @KumarVivek

Removed Application ID URI instructions
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/webapi/media/web-api-ps-enter-code-1.png
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

add sample
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/samples/powershell-web-api-samples.md
  powerapps-docs/developer/data-platform/webapi/samples/toc.yml
Owners: @PHecke, @KumarVivek, @JimDaly

updates
  powerapps-docs/maker/canvas-apps/create-performant-apps-overview.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/app-performance-considerations.md
  powerapps-docs/maker/canvas-apps/conservative-use-of -collections.md
  powerapps-docs/maker/canvas-apps/efficient-calculations.md
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
  powerapps-docs/maker/canvas-apps/optimized-query-data-patterns.md
  powerapps-docs/maker/canvas-apps/small-data-payloads.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/canvas-apps/conservative-use-of-collections.md
Owners: @KumarVivek, @tapanm-msft

tweaks
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

tweaks
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek
