Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Removing prerelease article include and merge from main
  powerapps-docs/maker/data-platform/azure-synapse-link-delta-lake.md
Owners: @Mattp123, @KumarVivek

Monthly channel
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Monthly channel
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Monthly channel
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Update grid-onrecordselect.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/grid-onrecordselect.md
Owners: @JimDaly, @KumarVivek

Update grid-onrecordselect.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/grid-onrecordselect.md
Owners: @JimDaly, @KumarVivek

Update grid-onrecordselect.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/grid-onrecordselect.md
Owners: @JimDaly, @KumarVivek

Minor correction
  powerapps-docs/maker/canvas-apps/controls/control-form-detail.md
Owners: @tapanm-msft, @KumarVivek

Update about-dialog.md
  powerapps-docs/user/about-dialog.md
Owners: @mduelae, @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Tweaks
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Link fix
  powerapps-docs/maker/model-driven-apps/channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-overview.md
Owners: @Mattp123, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update unified-interface.md
  powerapps-docs/user/unified-interface.md
Owners: @mduelae, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/common/wrap/media/how-to-v2/Access_control_tab.png
  powerapps-docs/maker/common/wrap/media/how-to-v2/Add_members.png
  powerapps-docs/maker/common/wrap/media/how-to-v2/Add_role_assignment.png
  powerapps-docs/maker/common/wrap/media/how-to-v2/Add_role_for_wrap_signing.png
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/common/wrap/media/how-to-v2/Add_members.png
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update date to August
  powerapps-docs/user/collaboration.md
Owners: @mduelae, @KumarVivek

Revised per PM
  powerapps-docs/maker/model-driven-apps/channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-overview.md
Owners: @Mattp123, @KumarVivek

Update making-phase.md
  powerapps-docs/guidance/planning/making-phase.md
Owners: @KumarVivek

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
