Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Adding new article per 3528129
  powerapps-docs/maker/data-platform/table-settings-for-copilot.md
Owners: @Mattp123, @KumarVivek

Delete dataverse-offline.png
  powerapps-docs/mobile/dataverse-offline.png
Owners: @KumarVivek

Update display-mode.md
  powerapps-docs/mobile/display-mode.md
Owners: @KumarVivek

Update intune.md
  powerapps-docs/mobile/intune.md
Owners: @KumarVivek

Update mobile-deep-links.md
  powerapps-docs/mobile/mobile-deep-links.md
Owners: @KumarVivek

Update mobile-notifications.md
  powerapps-docs/mobile/mobile-notifications.md
Owners: @KumarVivek

Update mobile-offline-guidelines.md
  powerapps-docs/mobile/mobile-offline-guidelines.md
Owners: @KumarVivek

Update mobile-offline-overview-classic.md
  powerapps-docs/mobile/mobile-offline-overview-classic.md
Owners: @KumarVivek

Update mobile-offline-overview.md
  powerapps-docs/mobile/mobile-offline-overview.md
Owners: @KumarVivek

Update offline-capabilities.md
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Update offline-file-images.md
  powerapps-docs/mobile/offline-file-images.md
Owners: @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Update power-apps-mobile-canvas-app-restarts.md
  powerapps-docs/mobile/power-apps-mobile-canvas-app-restarts.md
Owners: @KumarVivek

Update power-apps-mobile-notification.md
  powerapps-docs/mobile/power-apps-mobile-notification.md
Owners: @KumarVivek

Update powerapps-mobile-troubleshoot.md
  powerapps-docs/mobile/powerapps-mobile-troubleshoot.md
Owners: @KumarVivek

Update relevance-search-mobile.md
  powerapps-docs/mobile/relevance-search-mobile.md
Owners: @KumarVivek

web-api-query-data-sample
  powerapps-docs/developer/data-platform/webapi/web-api-query-data-sample.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update run-powerapps-on-mobile.md
  powerapps-docs/mobile/run-powerapps-on-mobile.md
Owners: @KumarVivek

Update scan-QR-code.md
  powerapps-docs/mobile/scan-QR-code.md
Owners: @KumarVivek

Update setup-mobile-offline-classic.md
  powerapps-docs/mobile/setup-mobile-offline-classic.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update sync-data-offline-background.md
  powerapps-docs/mobile/sync-data-offline-background.md
Owners: @KumarVivek

Update tenant-switcher.md
  powerapps-docs/mobile/tenant-switcher.md
Owners: @KumarVivek

Update use-custom-model-driven-app-on-mobile.md
  powerapps-docs/mobile/use-custom-model-driven-app-on-mobile.md
Owners: @KumarVivek

Update windows-app-install.md
  powerapps-docs/mobile/windows-app-install.md
Owners: @KumarVivek

Update windows-app-use.md
  powerapps-docs/mobile/windows-app-use.md
Owners: @KumarVivek

Update work-in-offline-mode.md
  powerapps-docs/mobile/work-in-offline-mode.md
Owners: @KumarVivek

Update work-offline-mode-classic.md
  powerapps-docs/mobile/work-offline-mode-classic.md
Owners: @KumarVivek

wildcard-characters
  powerapps-docs/developer/data-platform/webapi/web-api-query-data-sample.md
  powerapps-docs/developer/data-platform/webapi/web-api-service-documents.md
  powerapps-docs/developer/data-platform/wildcard-characters.md
Owners: @PHecke, @KumarVivek, @JimDaly

do-not-use-odata-v2-endpoint
  powerapps-docs/developer/model-driven-apps/best-practices/business-logic/do-not-use-odata-v2-endpoint.md
Owners: @JimDaly, @KumarVivek

Adding new article per 3528129
  powerapps-docs/maker/data-platform/media/column-settings-for-copilot2.png
  powerapps-docs/maker/data-platform/table-settings-for-copilot.md
Owners: @Mattp123, @KumarVivek

Adding new article per 3528129
  powerapps-docs/maker/data-platform/table-settings-for-copilot.md
Owners: @Mattp123, @KumarVivek

fix links
  powerapps-docs/developer/model-driven-apps/best-practices/business-logic/do-not-use-odata-v2-endpoint.md
Owners: @JimDaly, @KumarVivek

Revising new article
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/table-settings-for-copilot.md
Owners: @KumarVivek, @Mattp123

acrolinx
  powerapps-docs/developer/data-platform/use-alternate-key-reference-record.md
  powerapps-docs/developer/data-platform/webapi/relevance-search.md
  powerapps-docs/developer/data-platform/webapi/web-api-entitytypes.md
  powerapps-docs/developer/data-platform/webapi/web-api-functions-actions-sample.md
  powerapps-docs/developer/data-platform/webapi/web-api-properties.md
  powerapps-docs/developer/data-platform/webapi/web-api-service-documents.md
  powerapps-docs/developer/data-platform/wildcard-characters.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revising new article
  powerapps-docs/maker/data-platform/table-settings-for-copilot.md
Owners: @Mattp123, @KumarVivek

fix tabs
  powerapps-docs/developer/data-platform/background-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix links
  powerapps-docs/developer/data-platform/background-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Editing complete
  powerapps-docs/developer/data-platform/long-term-retention.md
  powerapps-docs/developer/data-platform/reference/entities/backgroundoperation.md
  powerapps-docs/developer/data-platform/reference/entities/cardstateitem.md
  powerapps-docs/developer/data-platform/reference/entities/entityrecordfilter.md
  powerapps-docs/developer/data-platform/reference/entities/exportedexcel.md
  powerapps-docs/developer/data-platform/reference/entities/fxexpression.md
  powerapps-docs/developer/data-platform/reference/entities/metadataforarchival.md
  powerapps-docs/developer/data-platform/reference/entities/msdyn_aievent.md
  powerapps-docs/developer/data-platform/reference/entities/msdyn_dataflowtemplate.md
  powerapps-docs/developer/data-platform/reference/entities/msdyn_favoriteknowledgearticle.md
  powerapps-docs/developer/data-platform/reference/entities/msdyn_fileupload.md
  powerapps-docs/developer/data-platform/reference/entities/msdyn_knowledgeconfiguration.md
  powerapps-docs/developer/data-platform/reference/entities/msdyn_mobileapp.md
  powerapps-docs/developer/data-platform/reference/entities/organizationdatasyncfnostate.md
  powerapps-docs/developer/data-platform/reference/entities/organizationdatasyncsubscriptionfnotable.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update Access-team.md
  powerapps-docs/user/Access-team.md
Owners: @mduelae, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
