Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/model-driven-apps/media/Behavior_release_channel.png
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update create-edit-elastic-tables.md
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/data-platform/media/Index_columns.png
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Create al-plugins.md
  powerapps-docs/maker/common/al-plugins.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/model-driven-apps/media/Index_columns.png
Owners: @Mattp123, @KumarVivek

Update al-plugins.md
  powerapps-docs/maker/common/al-plugins.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

updates
  powerapps-docs/maker/common/al-plugins.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update al-plugins.md
  powerapps-docs/maker/common/al-plugins.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/common/media/ai-plugins.png
Owners: @Mattp123, @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/common/al-plugins.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

image added
  powerapps-docs/maker/common/al-plugins.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update enable-copilot-for-model-driven-apps.md
  powerapps-docs/maker/model-driven-apps/enable-copilot-for-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/common/media/new-plugin.png
  powerapps-docs/maker/common/media/plugin-define-ai-operation.png
Owners: @Mattp123, @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/common/al-plugins.md
  powerapps-docs/maker/common/build-ai-plugin-for-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/common/build-ai-plugin-for-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Rename al-plugins.md to ai-plugins.md
  powerapps-docs/maker/common/ai-plugins.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update build-ai-plugin-for-copilot.md
  powerapps-docs/maker/common/build-ai-plugin-for-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update delegation-overview.md
  powerapps-docs/maker/canvas-apps/delegation-overview.md
Owners: @tapanm-msft, @KumarVivek

Update fluent-modern-theming.md
  powerapps-docs/developer/component-framework/fluent-modern-theming.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update modern-theming-api-control.md
  powerapps-docs/developer/component-framework/sample-controls/modern-theming-api-control.md
Owners: @PHecke, @KumarVivek, @JimDaly

Invalid image rework and style changes
  powerapps-docs/maker/model-driven-apps/faqs-timeline-control.md
  powerapps-docs/maker/model-driven-apps/media/faqs-timeline-control/enable-posts-csac.png
  powerapps-docs/maker/model-driven-apps/media/faqs-timeline-control/enable-user-posts-property.png
  powerapps-docs/maker/model-driven-apps/media/faqs-timeline-control/post-configurations-enabled.png
Owners: @Mattp123, @KumarVivek

Broken link fix
  powerapps-docs/maker/model-driven-apps/faqs-timeline-control.md
Owners: @Mattp123, @KumarVivek

Proc structure
  powerapps-docs/maker/model-driven-apps/faqs-timeline-control.md
  powerapps-docs/maker/model-driven-apps/media/faqs-timeline-control/enable-posts-csac.png
Owners: @Mattp123, @KumarVivek

Update ai-plugins.md
  powerapps-docs/maker/common/ai-plugins.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/faqs-timeline-control.md
Owners: @Mattp123, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
