Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Delete ai-chatbot-control-4.png
  powerapps-docs/maker/canvas-apps/media/chatbot-control/ai-chatbot-control-4.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/chatbot-control/ai-chatbot-control-4.png
Owners: @tapanm-msft, @KumarVivek

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

clean up bulk delete
  powerapps-docs/developer/data-platform/delete-data-bulk.md
Owners: @PHecke, @KumarVivek, @JimDaly

finish bulk operations
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

fix link
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Chang UCI version to model app version
  powerapps-docs/maker/monitor-collaborative-debugging.md
  powerapps-docs/maker/monitor-modelapps.md
Owners: @KumarVivek

Postman account now required for Environments
  powerapps-docs/developer/data-platform/webapi/setup-postman-environment.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update app-properties.md
  powerapps-docs/maker/model-driven-apps/app-properties.md
Owners: @Mattp123, @KumarVivek

Update app-properties.md
  powerapps-docs/maker/model-driven-apps/app-properties.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Delete samplefile.png
  powerapps-docs/maker/data-platform/media/Fabric/samplefile.png
Owners: @Mattp123, @KumarVivek

Updated license type
  powerapps-docs/maker/canvas-apps/share-app.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

refactor table
  powerapps-docs/developer/data-platform/entity-relationship-eligibility.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix table
  powerapps-docs/developer/data-platform/entity-relationship-eligibility.md
Owners: @PHecke, @KumarVivek, @JimDaly

heading change
  powerapps-docs/developer/data-platform/entity-relationship-eligibility.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

Update import-update-export-solutions.md
  powerapps-docs/maker/data-platform/import-update-export-solutions.md
Owners: @Mattp123, @KumarVivek

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

Update run-app-browser.md
  powerapps-docs/user/run-app-browser.md
Owners: @mduelae, @KumarVivek

add note
  powerapps-docs/user/run-app-browser.md
Owners: @mduelae, @KumarVivek

check
  powerapps-docs/developer/data-platform/bulk-operations.md
  powerapps-docs/developer/data-platform/org-service/samples/create-update-multiple.md
  powerapps-docs/developer/data-platform/webapi/samples/create-update-multiple.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update run-app-browser.md
  powerapps-docs/user/run-app-browser.md
Owners: @mduelae, @KumarVivek

Update run-app-browser.md
  powerapps-docs/user/run-app-browser.md
Owners: @mduelae, @KumarVivek

Added preview section include file
  shared/preview-includes/preview-banner-section.md
Owners: none

Update set-aspect-ratio-portrait-landscape.md
  powerapps-docs/maker/canvas-apps/set-aspect-ratio-portrait-landscape.md
Owners: @tapanm-msft, @KumarVivek

Update run-app-browser.md
  powerapps-docs/user/run-app-browser.md
Owners: @mduelae, @KumarVivek

Update control-gallery.md
  powerapps-docs/maker/canvas-apps/controls/control-gallery.md
Owners: @tapanm-msft, @KumarVivek

Update get-started-create-from-data.md
  powerapps-docs/maker/canvas-apps/get-started-create-from-data.md
Owners: @tapanm-msft, @KumarVivek

Review and acrolinx fixes
  powerapps-docs/maker/data-platform/import-update-export-solutions.md
Owners: @Mattp123, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
