Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update component-properties.md
  powerapps-docs/maker/canvas-apps/component-properties.md
Owners: @tapanm-msft, @KumarVivek

Update component-properties.md
  powerapps-docs/maker/canvas-apps/component-properties.md
Owners: @tapanm-msft, @KumarVivek

Update component-properties.md
  powerapps-docs/maker/canvas-apps/component-properties.md
Owners: @tapanm-msft, @KumarVivek

Update component-properties.md
  powerapps-docs/maker/canvas-apps/component-properties.md
Owners: @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update component-properties.md
  powerapps-docs/maker/canvas-apps/component-properties.md
Owners: @tapanm-msft, @KumarVivek

Update ai-edit-app.md
  powerapps-docs/maker/canvas-apps/ai-edit-app.md
Owners: @tapanm-msft, @KumarVivek

Added link
  powerapps-docs/developer/data-platform/configure-entity-relationship-cascading-behavior.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update metadata for virtual-entity-documentdb-provider-requirements.md
  powerapps-docs/maker/data-platform/virtual-entity-documentdb-provider-requirements.md
Owners: @Mattp123, @KumarVivek

Update virtual-entity-documentdb-provider-requirements.md
  powerapps-docs/maker/data-platform/virtual-entity-documentdb-provider-requirements.md
Owners: @Mattp123, @KumarVivek

Correcting GitHub file link for azure-synapse-link-msi.md
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
Owners: @Mattp123, @KumarVivek

Update create-solution.md
  powerapps-docs/maker/data-platform/create-solution.md
Owners: @Mattp123, @KumarVivek

Update intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
Owners: @tapanm-msft, @KumarVivek

doc feedback 4448
  powerapps-docs/developer/data-platform/webapi/create-entity-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/webapi/create-entity-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Reference to experimental enhanced properties
  powerapps-docs/maker/canvas-apps/create-component.md
Owners: @tapanm-msft, @KumarVivek

Update create-edit-entity-relationships.md per issue https://github.com/MicrosoftDocs/powerapps-docs/issues/3627
  powerapps-docs/maker/data-platform/create-edit-entity-relationships.md
Owners: @Mattp123, @KumarVivek

Changes to the documentation
  powerapps-docs/developer/data-platform/bulk-operations-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Create transparency-notes-copilot-panel.md
  powerapps-docs/maker/common/transparency-notes-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update update-solutions.md for issue https://github.com/MicrosoftDocs/powerapps-docs/issues/3779
  powerapps-docs/maker/data-platform/update-solutions.md
Owners: @Mattp123, @KumarVivek

Update transparency-notes-copilot-panel.md
  powerapps-docs/maker/common/transparency-notes-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update transparency-notes-copilot-panel.md
  powerapps-docs/maker/common/transparency-notes-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update transparency-notes-copilot-panel.md
  powerapps-docs/maker/common/transparency-notes-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update model-driven-app-glossary.md per https://github.com/MicrosoftDocs/powerapps-docs/issues/3989
  powerapps-docs/maker/model-driven-apps/model-driven-app-glossary.md
Owners: @Mattp123, @KumarVivek

Revising types-of-entities.md per https://github.com/MicrosoftDocs/powerapps-docs/issues/4393
  powerapps-docs/maker/data-platform/types-of-entities.md
Owners: @Mattp123, @KumarVivek

Update data-retention-view.md per https://github.com/MicrosoftDocs/powerapps-docs/issues/4421
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

Updating to use current connector naming.
  powerapps-docs/maker/model-driven-apps/embedded-canvas-app-guidelines.md
Owners: @Mattp123, @KumarVivek

Create transparency-notes-copilot-panel.md
  powerapps-docs/maker/common/transparency-notes-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Delete transparency-notes-copilot-panel.md
  powerapps-docs/maker/common/transparency-notes-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Create transparency-note.md
  powerapps-docs/maker/common/transparency-note.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update transparency-notes-copilot-panel.md
  powerapps-docs/maker/common/transparency-notes-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Create transparency-note-features.md
  powerapps-docs/includes/transparency-note-features.md
Owners: @KumarVivek

Create transparency-note-intro.md
  powerapps-docs/includes/transparency-note-intro.md
Owners: @KumarVivek

Update transparency-notes-copilot-panel.md
  powerapps-docs/maker/common/transparency-notes-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update transparency-notes-copilot-panel.md
  powerapps-docs/maker/common/transparency-notes-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update transparency-notes-copilot-panel.md
  powerapps-docs/maker/common/transparency-notes-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update transparency-notes-copilot-panel.md
  powerapps-docs/maker/common/transparency-notes-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update ai-edit-app.md
  powerapps-docs/maker/canvas-apps/ai-edit-app.md
Owners: @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
