Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Minor change
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update EnvironmentVariables.md to address customer incident
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek

Added missing code line
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-intersect-description.md
  powerapps-docs/developer/data-platform/fetchxml/select-columns.md
Owners: @PHecke, @KumarVivek, @JimDaly

quick find record limits
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
  powerapps-docs/developer/data-platform/quick-find.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
  powerapps-docs/developer/data-platform/quick-find.md
Owners: @PHecke, @KumarVivek, @JimDaly

check link-entity
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

updates for lang support
  powerapps-docs/maker/canvas-apps/ai-conversations-create-app.md
Owners: @tapanm-msft, @KumarVivek

edit
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Adding NL2Table feature updated language support
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Update embed-teams-tab.md
  powerapps-docs/teams/embed-teams-tab.md
Owners: @tapanm-msft, @KumarVivek

Update copresence-power-apps-studio.md
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

tweaks
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

tweaks
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

Copy edit complete
  powerapps-docs/maker/model-driven-apps/app-properties.md
  powerapps-docs/mobile/mobile-offline-overview.md
  powerapps-docs/mobile/offline-file-images.md
  powerapps-docs/mobile/offline-sync-icon.md
  powerapps-docs/mobile/setup-mobile-offline.md
  powerapps-docs/mobile/work-in-offline-mode.md
  powerapps-docs/mobile/work-offline-mode-classic.md
Owners: @Mattp123, @KumarVivek

Update copresence-power-apps-studio.md
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

Update copresence-power-apps-studio.md
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

update quick find
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
  powerapps-docs/developer/data-platform/quick-find.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix links
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised for style and Acrolinx
  powerapps-docs/maker/data-platform/azure-synapse-link-view-in-fabric.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update data-retention-overview.md
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Update data-retention-faq.yml
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

EDITING TASK 18633 Copy edit complete
  powerapps-docs/user/copilot-chat-in-webplayer.md
Owners: @mduelae, @KumarVivek

advanced link types
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/order-rows.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix broken links
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-exists-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-in-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-matchfirstrowusingcrossapply-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove link to self
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
Owners: @PHecke, @KumarVivek, @JimDaly

Page results
  powerapps-docs/developer/data-platform/fetchxml/page-results.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Update create-a-record.md
  powerapps-docs/user/create-a-record.md
Owners: @mduelae, @KumarVivek

Add files via upload
  powerapps-docs/user/media/readonly-field-button.png
Owners: @mduelae, @KumarVivek

Update create-a-record.md
  powerapps-docs/user/create-a-record.md
Owners: @mduelae, @KumarVivek

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Revised for style and Acrolinx
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Revised set article for clarity on prereqs
  powerapps-docs/maker/data-platform/data-retention-set.md
Owners: @Mattp123, @KumarVivek

updates
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Revised for clarity
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek
