Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

model-driven-apps AD rebranding
  powerapps-docs/maker/model-driven-apps/run-model-driven-app.md
  powerapps-docs/maker/model-driven-apps/share-model-driven-app.md
Owners: @Mattp123, @KumarVivek

portals AD rebranding
  powerapps-docs/maker/portals/add-powerbi.md
  powerapps-docs/maker/portals/admin/add-powerbi-report.md
  powerapps-docs/maker/portals/configure/azure-ad-b2c.md
  powerapps-docs/maker/portals/configure/configure-azure-ad-b2c-provider-manual.md
  powerapps-docs/maker/portals/faq.yml
  powerapps-docs/maker/portals/manage-existing-portals.md
  powerapps-docs/maker/portals/provision-portal-add-on.md
Owners: @nickdoelman, @KumarVivek

link to admin guide
  powerapps-docs/developer/data-platform/search/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update sample-pass-multiple-values-web-resource-through-data-parameter.md
  powerapps-docs/developer/model-driven-apps/sample-pass-multiple-values-web-resource-through-data-parameter.md
Owners: @JimDaly, @KumarVivek

Update export-data-lake-faq.yml
  powerapps-docs/maker/data-platform/export-data-lake-faq.yml
Owners: @Mattp123, @KumarVivek

Update connections-list.md
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Update embed-apps-dev.md
  powerapps-docs/maker/canvas-apps/embed-apps-dev.md
Owners: @tapanm-msft, @KumarVivek

Update
  powerapps-docs/developer/component-framework/fluent-modern-theming.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update image
  powerapps-docs/developer/component-framework/media/modern-theming-api-control.png
Owners: @PHecke, @KumarVivek, @JimDaly

Update sample-crisis-communication-app.md
  powerapps-docs/maker/canvas-apps/sample-crisis-communication-app.md
Owners: @tapanm-msft, @KumarVivek

Update connections-list.md
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Update sample-crisis-communication-app.md
  powerapps-docs/maker/canvas-apps/sample-crisis-communication-app.md
Owners: @tapanm-msft, @KumarVivek

Update channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Update common-issues-resolutions-solution-checker.md
  powerapps-docs/maker/data-platform/common-issues-resolutions-solution-checker.md
Owners: @Mattp123, @KumarVivek

Update common-issues-resolutions-solution-checker.md
  powerapps-docs/maker/data-platform/common-issues-resolutions-solution-checker.md
Owners: @Mattp123, @KumarVivek

note regarding currency type
  powerapps-docs/maker/canvas-apps/connections/connection-common-data-service.md
Owners: @tapanm-msft, @KumarVivek

Update connection-common-data-service.md
  powerapps-docs/maker/canvas-apps/connections/connection-common-data-service.md
Owners: @tapanm-msft, @KumarVivek

Update bulk-operations.md
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update bulk-operations.md
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update bulk-operations.md
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update bulk-operations.md
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update bulk-operations.md
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update bulk-operations.md
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update bulk-operations.md
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update bulk-operations.md
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update bulk-operations.md
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update bulk-operations.md
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

new-limitation
  powerapps-docs/maker/data-platform/solutions-overview.md
Owners: @Mattp123, @KumarVivek

Update channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Update channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Update run-powerapps-on-mobile.md
  powerapps-docs/mobile/run-powerapps-on-mobile.md
Owners: @KumarVivek

Update channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Update channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Update channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Update attach-email.md
  powerapps-docs/user/attach-email.md
Owners: @mduelae, @KumarVivek

repeating message from article
  powerapps-docs/developer/model-driven-apps/sample-pass-multiple-values-web-resource-through-data-parameter.md
Owners: @JimDaly, @KumarVivek

final review notes
  powerapps-docs/developer/data-platform/search/overview.md
  powerapps-docs/user/relevance-faq.md
  powerapps-docs/user/relevance-search-benefits.md
Owners: @PHecke, @KumarVivek, @JimDaly, @mduelae

fit-n-finish
  powerapps-docs/developer/data-platform/search/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update attach-email.md
  powerapps-docs/user/attach-email.md
Owners: @mduelae, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
