Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Added missing ` character
  powerapps-docs/developer/data-platform/use-access-teams-owner-teams-collaborate-share-information.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update azure-synapse-link-delta-lake.md
  powerapps-docs/maker/data-platform/azure-synapse-link-delta-lake.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-msi.md
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-synapse.md
  powerapps-docs/maker/data-platform/azure-synapse-link-synapse.md
Owners: @Mattp123, @KumarVivek

Adding space to fix format issue
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

Acrolinx fixes
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

Removing greater than and less than placeholders
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

Updates for long running actions and package size
  powerapps-docs/maker/canvas-apps/create-performant-apps-overview.md
  powerapps-docs/maker/canvas-apps/efficient-calculations.md
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
  powerapps-docs/maker/canvas-apps/small-data-payloads.md
Owners: @tapanm-msft, @KumarVivek

Updates to fix Acrolinix
  powerapps-docs/maker/canvas-apps/efficient-calculations.md
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
  powerapps-docs/maker/canvas-apps/optimized-query-data-patterns.md
Owners: @tapanm-msft, @KumarVivek

Added confidential client content
  powerapps-docs/developer/data-platform/authenticate-oauth.md
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

Minor changes
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

Formatting
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

Minor changes
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised for style and format
  powerapps-docs/maker/data-platform/azure-synapse-link-delta-lake.md
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
  powerapps-docs/maker/data-platform/azure-synapse-link-synapse.md
  powerapps-docs/maker/data-platform/export-data-lake-faq.yml
Owners: @Mattp123, @KumarVivek

Revised for style and Acrolinx
  powerapps-docs/maker/data-platform/azure-synapse-link-delta-lake.md
  powerapps-docs/maker/data-platform/export-data-lake-faq.yml
Owners: @Mattp123, @KumarVivek

Update fast-app-page-load.md
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
Owners: @tapanm-msft, @KumarVivek

Moving out FAQ per 3712244
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/environment-variables-faq.md
Owners: @KumarVivek, @Mattp123

Update modern-control-table.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-table.md
Owners: @tapanm-msft, @KumarVivek

Update set-up-timeline-control.md
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Adding new section per 3743389
  powerapps-docs/maker/data-platform/import-update-export-solutions.md
Owners: @Mattp123, @KumarVivek

Adding new section per 3743389
  powerapps-docs/maker/data-platform/import-update-export-solutions.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update for GA of secure implicit connections and other minor updates
  powerapps-docs/maker/canvas-apps/connections-list.md
  powerapps-docs/maker/canvas-apps/efficient-calculations.md
Owners: @tapanm-msft, @KumarVivek

Added two notes
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed note syntax
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

spelling error
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Update email-dynamic-text.md
  powerapps-docs/user/email-dynamic-text.md
Owners: @mduelae, @KumarVivek

Update working-with-large-apps.md
  powerapps-docs/maker/canvas-apps/working-with-large-apps.md
Owners: @tapanm-msft, @KumarVivek

Removing preview from link text
  powerapps-docs/maker/model-driven-apps/collaboration-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Remove File attribute from un-supported list
  powerapps-docs/developer/data-platform/create-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fix typo in overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Update component-library.md
  powerapps-docs/maker/canvas-apps/component-library.md
Owners: @tapanm-msft, @KumarVivek

Update component-library.md
  powerapps-docs/maker/canvas-apps/component-library.md
Owners: @tapanm-msft, @KumarVivek

Update component-library.md
  powerapps-docs/maker/canvas-apps/component-library.md
Owners: @tapanm-msft, @KumarVivek

Additional TSGs for related menu of model-driven app forms
  powerapps-docs/developer/model-driven-apps/troubleshoot-forms.md
  powerapps-docs/maker/model-driven-apps/create-edit-web-resources.md
Owners: @JimDaly, @KumarVivek, @Mattp123

Adding API throttling note for the ReportViewer
  powerapps-docs/maker/model-driven-apps/reporting-considerations.md
Owners: @Mattp123, @KumarVivek

Arcolinx improvements
  powerapps-docs/maker/model-driven-apps/create-edit-web-resources.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/reporting-considerations.md
Owners: @Mattp123, @KumarVivek

Add Attachment to not supported list for elastic tables
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Update mobile-offline-guidelines.md
  powerapps-docs/mobile/mobile-offline-guidelines.md
Owners: @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
