Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Warning fixes
  powerapps-docs/maker/data-platform/import-update-export-solutions.md
Owners: @Mattp123, @KumarVivek

Update preview-banner.md
  shared/preview-includes/preview-banner.md
Owners: none

Add files via upload
  powerapps-docs/maker/canvas-apps/media/add-screen-context-variables/screen-layouts.png
Owners: @tapanm-msft, @KumarVivek

Update add-screen-context-variables.md
  powerapps-docs/maker/canvas-apps/add-screen-context-variables.md
Owners: @tapanm-msft, @KumarVivek

Update add-screen-context-variables.md
  powerapps-docs/maker/canvas-apps/add-screen-context-variables.md
Owners: @tapanm-msft, @KumarVivek

Update add-screen-context-variables.md
  powerapps-docs/maker/canvas-apps/add-screen-context-variables.md
Owners: @tapanm-msft, @KumarVivek

Update add-screen-context-variables.md
  powerapps-docs/maker/canvas-apps/add-screen-context-variables.md
Owners: @tapanm-msft, @KumarVivek

Edited
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

check
  powerapps-docs/developer/data-platform/bulk-operations.md
  powerapps-docs/developer/data-platform/elastic-table-samples.md
  powerapps-docs/developer/data-platform/use-elastic-tables.md
  powerapps-docs/developer/data-platform/webapi/samples/create-update-multiple.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update add-screen-context-variables.md
  powerapps-docs/maker/canvas-apps/add-screen-context-variables.md
Owners: @tapanm-msft, @KumarVivek

Update add-screen-context-variables.md
  powerapps-docs/maker/canvas-apps/add-screen-context-variables.md
Owners: @tapanm-msft, @KumarVivek

Update add-screen-context-variables.md
  powerapps-docs/maker/canvas-apps/add-screen-context-variables.md
Owners: @tapanm-msft, @KumarVivek

Update create-blank-app.md
  powerapps-docs/maker/canvas-apps/create-blank-app.md
Owners: @tapanm-msft, @KumarVivek

DeleteMultiple action
  powerapps-docs/developer/data-platform/bulk-operations.md
  powerapps-docs/developer/data-platform/elastic-table-samples.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update data-platform-create-app-scratch.md
  powerapps-docs/maker/canvas-apps/data-platform-create-app-scratch.md
Owners: @tapanm-msft, @KumarVivek

Update data-platform-create-app-scratch.md
  powerapps-docs/maker/canvas-apps/data-platform-create-app-scratch.md
Owners: @tapanm-msft, @KumarVivek

delete & redirect
  .openpublishing.redirection.json
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/bulk-operations-elastic-tables.md
  powerapps-docs/developer/data-platform/create-elastic-tables.md
  powerapps-docs/developer/data-platform/elastic-tables.md
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
  powerapps-docs/developer/data-platform/org-service/TOC.yml
  powerapps-docs/developer/data-platform/org-service/entity-operations-create.md
  powerapps-docs/developer/data-platform/org-service/entity-operations-update-delete.md
  powerapps-docs/developer/data-platform/org-service/samples/create-update-multiple.md
  powerapps-docs/developer/data-platform/org-service/samples/createmultiple-updatemultiple-plugin.md
  powerapps-docs/developer/data-platform/org-service/use-createmultiple-updatemultiple.md
  powerapps-docs/developer/data-platform/query-json-columns-elastic-tables.md
  powerapps-docs/developer/data-platform/write-plugin-multiple-operation.md
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly, @Mattp123

fix link
  powerapps-docs/developer/data-platform/webapi/samples/create-update-multiple.md
Owners: @PHecke, @KumarVivek, @JimDaly

Create ai-app-descriptions-faq
  powerapps-docs/maker/common/ai-app-descriptions-faq
Owners: @Mattp123, @tapanm-msft, @KumarVivek

add bulk operation sections
  powerapps-docs/developer/data-platform/webapi/create-entity-web-api.md
  powerapps-docs/developer/data-platform/webapi/update-delete-entities-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx & link fixes
  powerapps-docs/developer/data-platform/bulk-operations.md
  powerapps-docs/developer/data-platform/elastic-table-samples.md
  powerapps-docs/developer/data-platform/use-elastic-tables.md
  powerapps-docs/developer/data-platform/webapi/create-entity-web-api.md
  powerapps-docs/developer/data-platform/webapi/update-delete-entities-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix links
  powerapps-docs/developer/data-platform/webapi/update-delete-entities-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Use Web API actions update
  powerapps-docs/developer/data-platform/webapi/use-web-api-actions.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/webapi/update-delete-entities-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/webapi/use-web-api-actions.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/org-service/entity-operations-create.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/org-service/entity-operations-update-delete.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/query-json-columns-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Entity.ToEntity&lt;T&gt;
  powerapps-docs/developer/data-platform/org-service/entity-operations-update-delete.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update add-app-solution-default.md
  powerapps-docs/maker/canvas-apps/add-app-solution-default.md
Owners: @tapanm-msft, @KumarVivek

Editing complete
  powerapps-docs/maker/TOC.yml
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-working.md
Owners: @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update add-app-solution-default.md
  powerapps-docs/maker/canvas-apps/add-app-solution-default.md
Owners: @tapanm-msft, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update data-platform-import-export.md
  powerapps-docs/maker/data-platform/data-platform-import-export.md
Owners: @Mattp123, @KumarVivek

Update additional-controls-for-dynamics-365-for-phones-and-tablets.md
  powerapps-docs/maker/model-driven-apps/additional-controls-for-dynamics-365-for-phones-and-tablets.md
Owners: @Mattp123, @KumarVivek

Update create-edit-entities-portal.md
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Update formula-columns.md
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Update the-power-apps-grid-control.md
  powerapps-docs/maker/model-driven-apps/the-power-apps-grid-control.md
Owners: @Mattp123, @KumarVivek
