Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update offline-capabilities.md
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Update mobile-offline-guidelines.md
  powerapps-docs/mobile/mobile-offline-guidelines.md
Owners: @KumarVivek

Update offline-capabilities.md
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update faq-draft-with-copilot.md
  powerapps-docs/maker/common/faq-draft-with-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

update
  powerapps-docs/maker/portals/configure/azure-ad-b2c.md
  powerapps-docs/maker/portals/configure/configure-azure-ad-b2c-provider-manual.md
Owners: @nickdoelman, @KumarVivek

Update add-powerbi-report.md
  powerapps-docs/maker/portals/admin/add-powerbi-report.md
Owners: @nickdoelman, @KumarVivek

updates
  powerapps-docs/maker/portals/configure/azure-ad-b2c.md
  powerapps-docs/maker/portals/configure/configure-azure-ad-b2c-provider-manual.md
Owners: @nickdoelman, @KumarVivek

Primary image thumbnails aren't available offline in mobile Grids
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Edits
  powerapps-docs/developer/model-driven-apps/troubleshoot-forms.md
Owners: @JimDaly, @KumarVivek

check
  powerapps-docs/developer/data-platform/webapi/TOC.yml
  powerapps-docs/developer/data-platform/webapi/media/visual-studio-code-powershell-extension-icon.png
  powerapps-docs/developer/data-platform/webapi/quick-start-ps-2.md
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/use-ps-and-vscode-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

reduce icon size
  powerapps-docs/developer/data-platform/webapi/media/visual-studio-code-powershell-extension-icon.png
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/includes/cc-visual-studio-code-powershell-prerequisites.md
  powerapps-docs/developer/data-platform/webapi/quick-start-ps-2.md
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/use-ps-and-vscode-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  powerapps-docs/developer/data-platform/webapi/use-ps-and-vscode-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/includes/cc-visual-studio-code-powershell-prerequisites.md
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/use-ps-and-vscode-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

finished?
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/use-ps-and-vscode-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/includes/cc-visual-studio-code-powershell-prerequisites.md
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/use-ps-and-vscode-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

delete old article
  powerapps-docs/developer/data-platform/webapi/quick-start-ps-2.md
  powerapps-docs/developer/data-platform/webapi/use-ps-and-vscode-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

feedback from Grant
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update data-platform-import-export.md
  powerapps-docs/maker/data-platform/data-platform-import-export.md
Owners: @Mattp123, @KumarVivek

fix link
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

enhance table
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

Create copilot-chat-in-webplayer.md
  powerapps-docs/user/copilot-chat-in-webplayer.md
Owners: @mduelae, @KumarVivek

add new file to toc.yml
  powerapps-docs/maker/TOC.yml
  powerapps-docs/user/copilot-chat-in-webplayer.md
Owners: @KumarVivek, @mduelae

Sensitive language fix
  powerapps-docs/developer/data-platform/reference/entities/datalakeworkspace.md
  powerapps-docs/developer/data-platform/reference/entities/datalakeworkspacepermission.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update create-and-use-dataflows.md
  powerapps-docs/maker/data-platform/create-and-use-dataflows.md
Owners: @Mattp123, @KumarVivek

Updated to latest error list
  powerapps-docs/developer/data-platform/includes/data-service-error-codes.md
  powerapps-docs/developer/data-platform/reference/web-service-error-codes.md
Owners: @PHecke, @KumarVivek, @JimDaly

Brand change AAD->Entra ID
  powerapps-docs/developer/data-platform/includes/data-service-error-codes.md
Owners: @PHecke, @KumarVivek, @JimDaly

updates from trouble shooting pages
  powerapps-docs/maker/canvas-apps/connections-list.md
  powerapps-docs/maker/canvas-apps/connections/connection-azure-sqldatabase.md
  powerapps-docs/maker/canvas-apps/connections/connection-sharepoint-online.md
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
Owners: @tapanm-msft, @KumarVivek

Update copilot-chat-in-webplayer.md
  powerapps-docs/user/copilot-chat-in-webplayer.md
Owners: @mduelae, @KumarVivek

Update copilot-chat-in-webplayer.md
  powerapps-docs/user/copilot-chat-in-webplayer.md
Owners: @mduelae, @KumarVivek

Update copilot-chat-in-webplayer.md
  powerapps-docs/user/copilot-chat-in-webplayer.md
Owners: @mduelae, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update copilot-chat-in-webplayer.md
  powerapps-docs/user/copilot-chat-in-webplayer.md
Owners: @mduelae, @KumarVivek

Update copilot-chat-in-webplayer.md
  powerapps-docs/user/copilot-chat-in-webplayer.md
Owners: @mduelae, @KumarVivek

Update copilot-chat-in-webplayer.md
  powerapps-docs/user/copilot-chat-in-webplayer.md
Owners: @mduelae, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
