Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/common/wrap/media/how-to-v2/ProvisioningProfileSecretTag.png
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update faq.yml
  powerapps-docs/maker/common/wrap/faq.yml
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update long-term-retention.md
  powerapps-docs/developer/data-platform/long-term-retention.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update data-retention-overview.md
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Create blank.yml
  .github/workflows/blank.yml
Owners: none

Create azure-functions-app-powershell.yml
  .github/workflows/azure-functions-app-powershell.yml
Owners: none

Revised per conversation with PM
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Update overview.md
  powerapps-docs/maker/common/wrap/overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update faq.yml
  powerapps-docs/maker/common/wrap/faq.yml
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update model-app-page-issues.md
  powerapps-docs/maker/model-driven-apps/model-app-page-issues.md
Owners: @Mattp123, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

'main'
  powerapps-docs/developer/data-platform/.vs/slnx.sqlite
Owners: @PHecke, @KumarVivek, @JimDaly

'main'
  powerapps-docs/developer/data-platform/.vs/slnx.sqlite
Owners: @PHecke, @KumarVivek, @JimDaly

Update import-update-export-solutions.md
  powerapps-docs/maker/data-platform/import-update-export-solutions.md
Owners: @Mattp123, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Create blank.yml
  .github/workflows/blank.yml
Owners: none

Update powerapps-mobile-troubleshoot.md
  powerapps-docs/mobile/powerapps-mobile-troubleshoot.md
Owners: @KumarVivek

Support recommendations
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update powerapps-mobile-troubleshoot.md
  powerapps-docs/mobile/powerapps-mobile-troubleshoot.md
Owners: @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update powerapps-mobile-troubleshoot.md
  powerapps-docs/mobile/powerapps-mobile-troubleshoot.md
Owners: @KumarVivek

Update powerapps-mobile-troubleshoot.md
  powerapps-docs/mobile/powerapps-mobile-troubleshoot.md
Owners: @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Adding link to info about mult-session apps and tabs
  powerapps-docs/maker/model-driven-apps/model-app-page-issues.md
Owners: @Mattp123, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Acrolinx revisions
  powerapps-docs/maker/model-driven-apps/model-app-page-issues.md
Owners: @Mattp123, @KumarVivek

Update data-retention-manage.md
  powerapps-docs/maker/data-platform/data-retention-manage.md
Owners: @Mattp123, @KumarVivek
