Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Delete powerapps-docs/mobile/media/mobile-offline-first-notification-1.PNG
  powerapps-docs/mobile/media/mobile-offline-first-notification-1.PNG
Owners: @KumarVivek

Add files via upload
  powerapps-docs/mobile/media/mobile-offline-first-notification-1.PNG
  powerapps-docs/mobile/media/mobile-offline-first-notification-2.PNG
Owners: @KumarVivek

Delete powerapps-docs/mobile/media/DownloadUpdates.png
  powerapps-docs/mobile/media/DownloadUpdates.png
Owners: @KumarVivek

Add files via upload
  powerapps-docs/mobile/media/mobile-offline-classic-prompt.PNG
Owners: @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Update work-offline-mode-classic.md
  powerapps-docs/mobile/work-offline-mode-classic.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update work-in-offline-mode.md
  powerapps-docs/mobile/work-in-offline-mode.md
Owners: @KumarVivek

Update work-in-offline-mode.md
  powerapps-docs/mobile/work-in-offline-mode.md
Owners: @KumarVivek

Update work-in-offline-mode.md
  powerapps-docs/mobile/work-in-offline-mode.md
Owners: @KumarVivek

Update work-in-offline-mode.md
  powerapps-docs/mobile/work-in-offline-mode.md
Owners: @KumarVivek

Update work-offline-mode-classic.md
  powerapps-docs/mobile/work-offline-mode-classic.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update use-elastic-tables.md
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Acrolinx revisions
  powerapps-docs/maker/data-platform/define-calculated-fields.md
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Delete powerapps-docs/mobile/media/mobile-offline-sync-settings.png
  powerapps-docs/mobile/media/mobile-offline-sync-settings.png
Owners: @KumarVivek

Add files via upload
  powerapps-docs/mobile/media/mobile-offline-sync-settings.png
Owners: @KumarVivek

Restructuring heading levels
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Fixing broken bookmark
  powerapps-docs/developer/data-platform/calculated-rollup-attributes.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update access-checker.md
  powerapps-docs/user/access-checker.md
Owners: @mduelae, @KumarVivek

Add files via upload
  powerapps-docs/user/media/access-check-record-privileges.png
Owners: @mduelae, @KumarVivek

Update access-checker.md
  powerapps-docs/user/access-checker.md
Owners: @mduelae, @KumarVivek

Added clarification
  powerapps-docs/developer/data-platform/dependent-assembly-plugins.md
Owners: @PHecke, @KumarVivek, @JimDaly

Doc build fix
  powerapps-docs/developer/data-platform/dependent-assembly-plugins.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update work-offline-mode-classic.md
  powerapps-docs/mobile/work-offline-mode-classic.md
Owners: @KumarVivek

Update work-in-offline-mode.md
  powerapps-docs/mobile/work-in-offline-mode.md
Owners: @KumarVivek

Update mobile-offline-overview.md
  powerapps-docs/mobile/mobile-offline-overview.md
Owners: @KumarVivek

Update mobile-offline-overview.md
  powerapps-docs/mobile/mobile-offline-overview.md
Owners: @KumarVivek

Update mobile-offline-overview.md
  powerapps-docs/mobile/mobile-offline-overview.md
Owners: @KumarVivek

Update offline-file-images.md
  powerapps-docs/mobile/offline-file-images.md
Owners: @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update work-in-offline-mode.md
  powerapps-docs/mobile/work-in-offline-mode.md
Owners: @KumarVivek

Update work-in-offline-mode.md
  powerapps-docs/mobile/work-in-offline-mode.md
Owners: @KumarVivek

Update work-in-offline-mode.md
  powerapps-docs/mobile/work-in-offline-mode.md
Owners: @KumarVivek

Update work-in-offline-mode.md
  powerapps-docs/mobile/work-in-offline-mode.md
Owners: @KumarVivek
