Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update azure-synapse-link-msi.md
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
Owners: @Mattp123, @KumarVivek

Link and format fixes
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
Owners: @Mattp123, @KumarVivek

Update rich-text-editor-control.md
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
Owners: @Mattp123, @KumarVivek

Added clarification
  powerapps-docs/developer/data-platform/email-activity-entities.md
Owners: @PHecke, @KumarVivek, @JimDaly

update language
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
Owners: @Mattp123, @KumarVivek

Udate again
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
Owners: @Mattp123, @KumarVivek

Update Attachment file limits
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update clarity
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update clarity again
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update clarity again again
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Category: bug fix Workitem: https://dynamicscrm.visualstudio.com/OneCRM/_workitems/edit/3438872 Description: updated drag and drop function
  powerapps-docs/user/attach-email.md
  powerapps-docs/user/view-compose-email.md
Owners: @mduelae, @KumarVivek

commit
  powerapps-docs/user/attach-email.md
Owners: @mduelae, @KumarVivek

changes
  powerapps-docs/user/attach-email.md
Owners: @mduelae, @KumarVivek

enhanced component properties
  powerapps-docs/maker/canvas-apps/component-properties.md
Owners: @tapanm-msft, @KumarVivek

Revised for style and merge from main
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
Owners: @Mattp123, @KumarVivek

Revised for style and merge from main
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Added note about system plug-ins
  powerapps-docs/developer/data-platform/register-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Review and updates
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @KumarVivek, @tapanm-msft

Acrolinx suggestions
  powerapps-docs/developer/data-platform/register-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Acrolinx suggestions appled
  powerapps-docs/developer/data-platform/register-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

improve visibility of Developer content
  powerapps-docs/developer/data-platform/bulk-operations-elastic-tables.md
  powerapps-docs/developer/data-platform/create-elastic-tables.md
  powerapps-docs/developer/data-platform/elastic-table-samples.md
  powerapps-docs/developer/data-platform/elastic-tables.md
  powerapps-docs/developer/data-platform/query-json-columns-elastic-tables.md
  powerapps-docs/developer/data-platform/use-elastic-tables.md
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly, @Mattp123

acrolinx
  powerapps-docs/developer/data-platform/bulk-operations-elastic-tables.md
  powerapps-docs/developer/data-platform/create-elastic-tables.md
  powerapps-docs/developer/data-platform/elastic-tables.md
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Consolidate PCF solution checker troubleshooting
  powerapps-docs/maker/data-platform/common-issues-resolutions-solution-checker.md
Owners: @Mattp123, @KumarVivek

Revised for style, acrolinx, and build warnings
  powerapps-docs/maker/data-platform/common-issues-resolutions-solution-checker.md
Owners: @Mattp123, @KumarVivek

Initial draft
  powerapps-docs/index.yml
Owners: @KumarVivek

Fix
  powerapps-docs/index.yml
Owners: @KumarVivek

Update
  powerapps-docs/index.yml
Owners: @KumarVivek

Updates
  powerapps-docs/index.yml
Owners: @KumarVivek

Update application-insights.md
  powerapps-docs/maker/canvas-apps/application-insights.md
Owners: @tapanm-msft, @KumarVivek

Updated date and changed hours in limitation
  powerapps-docs/maker/model-driven-apps/coauthoring.md
Owners: @Mattp123, @KumarVivek

Reset inherited access new content
  powerapps-docs/developer/data-platform/configure-entity-relationship-cascading-behavior.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added more content
  powerapps-docs/developer/data-platform/configure-entity-relationship-cascading-behavior.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update azure-synapse-link-msi.md
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-msi.md
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
Owners: @Mattp123, @KumarVivek

Updating image and restructuring for relevancy within the proc
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
  powerapps-docs/maker/data-platform/media/synapse-workspace-network-settings.png
Owners: @Mattp123, @KumarVivek

Changes
  powerapps-docs/index.yml
Owners: @KumarVivek

Casing
  powerapps-docs/index.yml
Owners: @KumarVivek

Link fixup - 3x3
  powerapps-docs/index.yml
Owners: @KumarVivek

Update
  powerapps-docs/index.yml
Owners: @KumarVivek

Update component-properties.md
  powerapps-docs/maker/canvas-apps/component-properties.md
Owners: @tapanm-msft, @KumarVivek
