Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

review changes
  powerapps-docs/developer/data-platform/bulk-operations.md
  powerapps-docs/developer/data-platform/org-service/samples/createmultiple-updatemultiple-plugin.md
Owners: @PHecke, @KumarVivek, @JimDaly

edit
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

clarity
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update create-edit-elastic-tables.md
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Mention that form components do not support canvas apps
  powerapps-docs/maker/model-driven-apps/form-component-control.md
Owners: @Mattp123, @KumarVivek

Correct link
  powerapps-docs/maker/model-driven-apps/form-component-control.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update formula-columns.md
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Change approved name bulk operation messages
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Update code-components-alm.md
  powerapps-docs/developer/component-framework/code-components-alm.md
Owners: @PHecke, @KumarVivek, @JimDaly

adds docs for optimize for devices
  powerapps-docs/mobile/media/optimized-for-devices-app-setting.PNG
  powerapps-docs/mobile/media/optimized-for-devices-control-error.PNG
  powerapps-docs/mobile/media/optimized-for-devices-control-filter.PNG
  powerapps-docs/mobile/media/optimized-for-devices-control-filter.gif
  powerapps-docs/mobile/media/optimized-for-devices-screen-setting.PNG
  powerapps-docs/mobile/optimized-for-devices-controls.md
  powerapps-docs/mobile/optimized-for-devices-overview.md
Owners: @KumarVivek

updates toc
  powerapps-docs/maker/TOC.yml
  powerapps-docs/mobile/optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-overview.md
Owners: @KumarVivek

removes unused gif
  powerapps-docs/mobile/media/optimized-for-devices-control-filter.gif
Owners: @KumarVivek

fixes warnings
  powerapps-docs/maker/TOC.yml
  powerapps-docs/mobile/optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-overview.md
Owners: @KumarVivek

Update optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-controls.md
Owners: @KumarVivek

Update optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-controls.md
Owners: @KumarVivek

Update optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-controls.md
Owners: @KumarVivek

Update optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-controls.md
Owners: @KumarVivek

Update optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-controls.md
Owners: @KumarVivek

Update optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-controls.md
Owners: @KumarVivek

Update optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-controls.md
Owners: @KumarVivek

Update optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-controls.md
Owners: @KumarVivek

Update optimize-for-devices-overview.md
  powerapps-docs/mobile/optimize-for-devices-overview.md
Owners: @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update optimize-for-devices-overview.md
  powerapps-docs/mobile/optimize-for-devices-overview.md
Owners: @KumarVivek

Update optimize-for-devices-overview.md
  powerapps-docs/mobile/optimize-for-devices-overview.md
Owners: @KumarVivek

Update optimize-for-devices-overview.md
  powerapps-docs/mobile/optimize-for-devices-overview.md
Owners: @KumarVivek

GA updates to Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

removed testing section
  powerapps-docs/maker/common/build-ai-plugin-for-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update build-ai-plugin-for-copilot.md
  powerapps-docs/maker/common/build-ai-plugin-for-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update build-ai-plugin-for-copilot.md
  powerapps-docs/maker/common/build-ai-plugin-for-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Revised for current experience
  powerapps-docs/maker/data-platform/formula-columns.md
  powerapps-docs/maker/data-platform/media/customer-rating-column.png
  powerapps-docs/maker/data-platform/media/formula-suggestions-results.png
  powerapps-docs/maker/data-platform/media/formula-suggestions-selector.png
  powerapps-docs/maker/data-platform/media/paste-formula.png
  powerapps-docs/maker/data-platform/media/suggested-formula.png
Owners: @Mattp123, @KumarVivek

Update build-ai-plugin-for-copilot.md
  powerapps-docs/maker/common/build-ai-plugin-for-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Conflict fix and added missing alt text
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Update build-ai-plugin-for-copilot.md
  powerapps-docs/maker/common/build-ai-plugin-for-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek
