Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Add note about deep insertion in use-elastic-tables.md
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

deep insert not supported for elastic tables
  powerapps-docs/developer/data-platform/elastic-tables.md
  powerapps-docs/developer/data-platform/org-service/entity-operations-create.md
  powerapps-docs/developer/data-platform/use-elastic-tables.md
  powerapps-docs/developer/data-platform/webapi/create-entity-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Added code links, moved text
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added limitation per 3725846
  powerapps-docs/maker/data-platform/data-platform-create-business-rule.md
Owners: @Mattp123, @KumarVivek

Create faq-draft-with-copilot.md
  powerapps-docs/maker/common/faq-draft-with-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update faq-draft-with-copilot.md
  powerapps-docs/maker/common/faq-draft-with-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Added certificate and secret info
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed link
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update use-access-teams-owner-teams-collaborate-share-information.md
  powerapps-docs/developer/data-platform/use-access-teams-owner-teams-collaborate-share-information.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed link
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

Acrolinx suggestions
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove 'preview' for elastic table articles
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/bulk-operations.md
  powerapps-docs/developer/data-platform/create-elastic-tables.md
  powerapps-docs/developer/data-platform/dataverse-sql-query.md
  powerapps-docs/developer/data-platform/deletemultiple.md
  powerapps-docs/developer/data-platform/elastic-table-samples.md
  powerapps-docs/developer/data-platform/elastic-tables.md
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
  powerapps-docs/developer/data-platform/org-service/entity-operations-create.md
  powerapps-docs/developer/data-platform/org-service/entity-operations-update-delete.md
  powerapps-docs/developer/data-platform/query-json-columns-elastic-tables.md
  powerapps-docs/developer/data-platform/upsertmultiple.md
  powerapps-docs/developer/data-platform/use-elastic-tables.md
  powerapps-docs/developer/data-platform/use-upsert-insert-update-record.md
  powerapps-docs/developer/data-platform/webapi/create-entity-web-api.md
  powerapps-docs/developer/data-platform/webapi/update-delete-entities-using-web-api.md
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
  powerapps-docs/maker/data-platform/types-of-entities.md
Owners: @PHecke, @KumarVivek, @JimDaly, @Mattp123

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update faq-draft-with-copilot.md
  powerapps-docs/maker/common/faq-draft-with-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Fixing metadata issue from merge conflict
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update faq-draft-with-copilot.md
  powerapps-docs/maker/common/faq-draft-with-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update faq-draft-with-copilot.md
  powerapps-docs/maker/common/faq-draft-with-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update faq-draft-with-copilot.md
  powerapps-docs/maker/common/faq-draft-with-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

correction
  powerapps-docs/developer/data-platform/file-attributes.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update faq-draft-with-copilot.md
  powerapps-docs/maker/common/faq-draft-with-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update run-app-browser.md
  powerapps-docs/user/run-app-browser.md
Owners: @mduelae, @KumarVivek

Update data-retention-view.md
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

Significant changes
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update azure-synapse-link-synapse.md
  powerapps-docs/maker/data-platform/azure-synapse-link-synapse.md
Owners: @Mattp123, @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Revised for style and linking requirements
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

Adding AI prereq per 3732314
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Adding AI prereq per 3732314
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Adding AI prereq per 3732314
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
