Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/controls/modern-controls/media/modern-themes-color-ramp.png
Owners: @tapanm-msft, @KumarVivek

Update modern-theming.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-theming.md
Owners: @tapanm-msft, @KumarVivek

Update modern-theming.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-theming.md
Owners: @tapanm-msft, @KumarVivek

Update modern-theming.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-theming.md
Owners: @tapanm-msft, @KumarVivek

Update overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Update overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Delete modern-controls-list.png
  powerapps-docs/maker/canvas-apps/controls/modern-controls/media/modern-controls-list.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/controls/modern-controls/media/modern-controls-list.png
Owners: @tapanm-msft, @KumarVivek

Update overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Update relevance-faq.md
  powerapps-docs/user/relevance-faq.md
Owners: @mduelae, @KumarVivek

Do not redirect online users to Dynamics 365 for phones, the app is being deprecated.
  powerapps-docs/mobile/use-custom-model-driven-app-on-mobile.md
Owners: @KumarVivek

Update embed-model-driven-teams-tab.md
  powerapps-docs/teams/embed-model-driven-teams-tab.md
Owners: @tapanm-msft, @KumarVivek

Editing complete
  powerapps-docs/developer/data-platform/use-open-types.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update faqs-copilot-panel.md
  powerapps-docs/maker/common/faqs-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Editing request 14802 (part 1)
  powerapps-docs/developer/data-platform/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Update ai-conversations-create-app.md
  powerapps-docs/maker/canvas-apps/ai-conversations-create-app.md
Owners: @tapanm-msft, @KumarVivek

Merge branch 'mints-norah-copilot' of https://github.com/MicrosoftDocs/powerapps-docs-pr into mints-norah-copilot
  powerapps-docs/maker/canvas-apps/ai-conversations-create-app.md
Owners: @tapanm-msft, @KumarVivek

Update ai-conversations-create-app.md
  powerapps-docs/maker/canvas-apps/ai-conversations-create-app.md
Owners: @tapanm-msft, @KumarVivek

Update use-custom-model-driven-app-on-mobile.md
  powerapps-docs/mobile/use-custom-model-driven-app-on-mobile.md
Owners: @KumarVivek

Editing complete
  powerapps-docs/developer/data-platform/bulk-operations.md
  powerapps-docs/developer/data-platform/write-plugin-multiple-operation.md
Owners: @PHecke, @KumarVivek, @JimDaly

Initial draft
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/canvas-apps/test-engine.md
Owners: @KumarVivek, @tapanm-msft

Add files via upload
  powerapps-docs/maker/canvas-apps/controls/modern-controls/media/theme-icon.png
Owners: @tapanm-msft, @KumarVivek

Update modern-theming.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-theming.md
Owners: @tapanm-msft, @KumarVivek

Delete theme-icon.png
  powerapps-docs/maker/canvas-apps/controls/modern-controls/media/theme-icon.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/controls/modern-controls/media/theme-icon.png
Owners: @tapanm-msft, @KumarVivek

Editing complete
  powerapps-docs/developer/data-platform/delete-data-bulk.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

add online-only-api-note include
  powerapps-docs/developer/model-driven-apps/clientapi/includes/online-only-api-note.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/client.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/organizationSettings.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/userSettings.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/formContext-data-entity/addOnPostSave.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/formContext-data-entity/removeOnPostSave.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/formContext-ui-headerSection.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/save-event-arguments/getEntityReference.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/save-event-arguments/getIsSaveSuccess.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/save-event-arguments/getSaveErrorInfo.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/save-event-arguments/preventDefaultOnError.md
Owners: @JimDaly, @KumarVivek

add to conceptual
  powerapps-docs/developer/model-driven-apps/clientapi/create-app-side-panes.md
Owners: @JimDaly, @KumarVivek

add xrm-app-side-panes
  powerapps-docs/developer/model-driven-apps/clientapi/reference/xrm-app-sidepanes.md
Owners: @JimDaly, @KumarVivek

Update navigateTo.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Navigation/navigateTo.md
Owners: @JimDaly, @KumarVivek

acrolinx
  powerapps-docs/developer/model-driven-apps/clientapi/create-app-side-panes.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/client.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/organizationSettings.md
Owners: @JimDaly, @KumarVivek

System.Text.Json.dll and acrolinx
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

delete rogue images
  powerapps-docs/developer/model-driven-apps/required-field-validation-bpf-only-field.png
  powerapps-docs/developer/model-driven-apps/unsupported-clientapi-globalcode.png
Owners: @JimDaly, @KumarVivek

Adding enpoints per 3529057
  powerapps-docs/limits-and-config.md
Owners: @KumarVivek

Add files via upload
  powerapps-docs/mobile/media/can-be-taken-offline.png
Owners: @KumarVivek

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Add files via upload
  powerapps-docs/mobile/media/can-be-used-offline.png
Owners: @KumarVivek

Add files via upload
  powerapps-docs/mobile/media/include-account-records.png
Owners: @KumarVivek

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek
