Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

add toc
  powerapps-docs/developer/data-platform/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update create-elastic-tables.md
  powerapps-docs/developer/data-platform/create-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Monitor for model driven apps
  powerapps-docs/maker/monitor-collaborative-debugging.md
  powerapps-docs/maker/monitor-modelapps.md
Owners: @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

fix links
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

add formulas
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/calculated-rollup-attributes.md
  powerapps-docs/developer/data-platform/entity-attribute-metadata.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

acrolinx
  powerapps-docs/developer/data-platform/calculated-rollup-attributes.md
Owners: @PHecke, @KumarVivek, @JimDaly

date
  powerapps-docs/developer/data-platform/calculated-rollup-attributes.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/entity-attribute-metadata.md
Owners: @PHecke, @KumarVivek, @JimDaly

capitalization
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/calculated-rollup-attributes.md
Owners: @PHecke, @KumarVivek, @JimDaly

capitalization
  powerapps-docs/developer/data-platform/entity-attribute-metadata.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added Logical Columns
  powerapps-docs/developer/data-platform/calculated-rollup-attributes.md
  powerapps-docs/developer/data-platform/entity-attribute-metadata.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update mobile-offline-overview.md
  powerapps-docs/mobile/mobile-offline-overview.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update mobile-offline-overview.md
  powerapps-docs/mobile/mobile-offline-overview.md
Owners: @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update work-in-offline-mode.md
  powerapps-docs/mobile/work-in-offline-mode.md
Owners: @KumarVivek

Update work-offline-mode-classic.md
  powerapps-docs/mobile/work-offline-mode-classic.md
Owners: @KumarVivek

Update work-in-offline-mode.md
  powerapps-docs/mobile/work-in-offline-mode.md
Owners: @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Delete ai-chatbot-control-3.png
  powerapps-docs/maker/canvas-apps/media/chatbot-control/ai-chatbot-control-3.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/chatbot-control/ai-chatbot-control-3.png
Owners: @tapanm-msft, @KumarVivek

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

Delete ai-chatbot-control-4.png
  powerapps-docs/maker/canvas-apps/media/chatbot-control/ai-chatbot-control-4.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/chatbot-control/ai-chatbot-control-4.png
Owners: @tapanm-msft, @KumarVivek

Delete ai-chatbot-control-4.png
  powerapps-docs/maker/canvas-apps/media/chatbot-control/ai-chatbot-control-4.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/chatbot-control/ai-chatbot-control-4.png
Owners: @tapanm-msft, @KumarVivek

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek
