Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/data-retention-manage.md
Owners: @Mattp123, @KumarVivek

Terminology updates
  .openpublishing.redirection.json
  powerapps-docs/includes/responsible-ai-features.md
  powerapps-docs/includes/responsible-ai-intro.md
  powerapps-docs/includes/transparency-note-intro.md
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/common/faqs-build-apps-conversation.md
  powerapps-docs/maker/common/responsible-ai-overview.md
  powerapps-docs/maker/common/transparency-note.md
Owners: @KumarVivek, @Mattp123, @tapanm-msft

Fix
  .openpublishing.redirection.json
Owners: none

Update EnvironmentVariables.md - remove preview
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek

Updates for Power Platform
  shared/responsible-ai-faqs-includes/copilot-data-security-privacy.md
  shared/responsible-ai-faqs-includes/readme.md
Owners: none

Update set-aspect-ratio-portrait-landscape.md
  powerapps-docs/maker/canvas-apps/set-aspect-ratio-portrait-landscape.md
Owners: @tapanm-msft, @KumarVivek

Update set-aspect-ratio-portrait-landscape.md
  powerapps-docs/maker/canvas-apps/set-aspect-ratio-portrait-landscape.md
Owners: @tapanm-msft, @KumarVivek

check
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/grid-onrecordselect.md
Owners: @JimDaly, @KumarVivek

Update geospatial-overview.md
  powerapps-docs/maker/canvas-apps/geospatial-overview.md
Owners: @tapanm-msft, @KumarVivek

Update
  powerapps-docs/maker/common/faqs-build-apps-conversation.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update geospatial-overview.md
  powerapps-docs/maker/canvas-apps/geospatial-overview.md
Owners: @tapanm-msft, @KumarVivek

acrolinx
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/grid-onrecordselect.md
Owners: @JimDaly, @KumarVivek

Updating App Insights unsupported scenarios
  powerapps-docs/maker/canvas-apps/application-insights.md
Owners: @tapanm-msft, @KumarVivek

Update limits-and-config.md
  powerapps-docs/limits-and-config.md
Owners: @KumarVivek

Update grid-onrecordselect.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/grid-onrecordselect.md
Owners: @JimDaly, @KumarVivek

edits
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/grid-onrecordselect.md
Owners: @JimDaly, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Updated ms.date metadata field for reporting.
  powerapps-docs/maker/data-platform/why-dataverse-overview.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/import-export-data.md
Owners: @Mattp123, @KumarVivek

Update copresence-power-apps-studio.md
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/import-export-data.md
Owners: @Mattp123, @KumarVivek

Update and rename transparency-note-intro.md to responsible-ai-intro.md
  powerapps-docs/includes/responsible-ai-intro.md
  powerapps-docs/includes/transparency-note-intro.md
Owners: @KumarVivek

Rename transparency-note-features.md to responsible-ai-features.md
  powerapps-docs/includes/responsible-ai-features.md
Owners: @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update and rename transparency-note-build-apps-conversation.md to faqs-build-apps-conversation.md
  powerapps-docs/maker/common/faqs-build-apps-conversation.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update and rename transparency-note.md to responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
  powerapps-docs/maker/common/transparency-note.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update and rename transparency-notes-copilot-panel.md to faq-copilot-panel.md
  powerapps-docs/maker/common/faq-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Rename faq-copilot-panel.md to faqs-copilot-panel.md
  powerapps-docs/maker/common/faqs-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Changed to relative links and proper heading
  powerapps-docs/maker/data-platform/import-export-data.md
Owners: @Mattp123, @KumarVivek

Heading uniqueness
  powerapps-docs/maker/data-platform/import-export-data.md
Owners: @Mattp123, @KumarVivek

Removing phrase per PM feedback
  powerapps-docs/maker/data-platform/import-export-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/data-platform/media/Synapse-Link-Enable-Fno-Configuration.png
Owners: @Mattp123, @KumarVivek

Removing space per 3491509
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Create samplefile.png
  powerapps-docs/maker/data-platform/media/Fabric/samplefile.png
Owners: @Mattp123, @KumarVivek

Create Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Revising to current date
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek
