Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

change date
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

add 'the'
  powerapps-docs/developer/data-platform/elastic-tables.md
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly, @Mattp123

Update azure-synapse-link-pipelines.md
  powerapps-docs/maker/data-platform/azure-synapse-link-pipelines.md
Owners: @Mattp123, @KumarVivek

acrolinx
  powerapps-docs/developer/data-platform/org-service/samples/convert-queries-fetch-queryexpression.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix title yaml
  powerapps-docs/developer/data-platform/org-service/samples/convert-queries-fetch-queryexpression.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/count-rows.md
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/order-rows.md
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/page-results.md
  powerapps-docs/developer/data-platform/fetchxml/reference/all-attributes.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/fetchxml/optimize-performance.md
  powerapps-docs/developer/data-platform/fetchxml/reference/all-attributes.md
  powerapps-docs/developer/data-platform/fetchxml/reference/attribute.md
  powerapps-docs/developer/data-platform/fetchxml/reference/condition.md
  powerapps-docs/developer/data-platform/fetchxml/reference/entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
  powerapps-docs/developer/data-platform/fetchxml/reference/index.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/operators.md
  powerapps-docs/developer/data-platform/fetchxml/reference/order.md
  powerapps-docs/developer/data-platform/fetchxml/reference/value.md
  powerapps-docs/developer/data-platform/fetchxml/select-columns.md
Owners: @PHecke, @KumarVivek, @JimDaly

TOC changes
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/fetchxml/reference/index.md
Owners: @PHecke, @KumarVivek, @JimDaly

check includes
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-alias-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-enableprefiltering-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-forceseek-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-from-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-intersect-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-link-type-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-name-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-prefilterparametername-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-to-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove 'row'
  powerapps-docs/developer/data-platform/org-service/metadata-relationshipmetadata.md
Owners: @PHecke, @KumarVivek, @JimDaly

join tables
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-intersect-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/order-rows.md
  powerapps-docs/developer/data-platform/fetchxml/page-results.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix column eq attribute
  powerapps-docs/developer/data-platform/use-fetchxml-aggregation.md
Owners: @PHecke, @KumarVivek, @JimDaly

make sample name unique
  powerapps-docs/developer/data-platform/org-service/samples/Create-retrieve-entity-relationships.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/use-fetchxml-aggregation.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/page-results.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
  powerapps-docs/developer/data-platform/fetchxml/select-columns.md
Owners: @PHecke, @KumarVivek, @JimDaly

added examples
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/select-columns.md
Owners: @PHecke, @KumarVivek, @JimDaly

add line breaks
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating sample link format for ease/clarity
  powerapps-docs/developer/data-platform/sample-discovery-service-crmserviceclient.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/metadata-relationshipmetadata.md
  powerapps-docs/developer/data-platform/org-service/samples/add-record-queue-early-bound.md
  powerapps-docs/developer/data-platform/org-service/samples/assign-chart-to-another-user.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/add-security-principal-user-team-queue-early-bound.md
  powerapps-docs/developer/data-platform/org-service/samples/assign-dashboard-to-another-user.md
  powerapps-docs/developer/data-platform/org-service/samples/assign-record-to-new-owner.md
Owners: @PHecke, @KumarVivek, @JimDaly

Upadting sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/assign-records-to-team.md
  powerapps-docs/developer/data-platform/org-service/samples/associate-security-role-team.md
  powerapps-docs/developer/data-platform/org-service/samples/audit-user-access.md
Owners: @PHecke, @KumarVivek, @JimDaly

Resolve publish again comment
  powerapps-docs/maker/monitor-collaborative-debugging.md
Owners: @KumarVivek

add note about encoding characters
  powerapps-docs/developer/data-platform/webapi/query-data-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Remove period from end of updated links
  powerapps-docs/developer/data-platform/org-service/metadata-relationshipmetadata.md
  powerapps-docs/developer/data-platform/org-service/samples/add-record-queue-early-bound.md
  powerapps-docs/developer/data-platform/org-service/samples/add-security-principal-user-team-queue-early-bound.md
  powerapps-docs/developer/data-platform/org-service/samples/assign-chart-to-another-user.md
  powerapps-docs/developer/data-platform/org-service/samples/assign-dashboard-to-another-user.md
  powerapps-docs/developer/data-platform/org-service/samples/assign-record-to-new-owner.md
  powerapps-docs/developer/data-platform/org-service/samples/assign-records-to-team.md
  powerapps-docs/developer/data-platform/org-service/samples/audit-user-access.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/associate-security-role-user.md
  powerapps-docs/developer/data-platform/org-service/samples/azure-aware-custom-plugin.md
  powerapps-docs/developer/data-platform/org-service/samples/azure-aware-custom-workflow-activity.md
  powerapps-docs/developer/data-platform/org-service/samples/basic-followup-plugin.md
Owners: @PHecke, @KumarVivek, @JimDaly

Editing sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/book-appointment.md
  powerapps-docs/developer/data-platform/org-service/samples/bulk-delete-exported-records.md
  powerapps-docs/developer/data-platform/org-service/samples/bulk-delete-records-match-common-criteria.md
  powerapps-docs/developer/data-platform/org-service/samples/clean-up-history-queue-early-bound.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/convert-appointment-recurring-appointment.md
  powerapps-docs/developer/data-platform/org-service/samples/convert-fax-task.md
  powerapps-docs/developer/data-platform/org-service/samples/create-connection-early-bound.md
  powerapps-docs/developer/data-platform/org-service/samples/create-connection-role-early-bound.md
  powerapps-docs/developer/data-platform/org-service/samples/create-custom-activity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updated the suggested text
  powerapps-docs/includes/cc-postoperation-description.md
Owners: @KumarVivek

Link URL change
  powerapps-docs/includes/cc-postoperation-description.md
Owners: @KumarVivek

Added extra line break
  powerapps-docs/includes/cc-postoperation-description.md
Owners: @KumarVivek

change title
  powerapps-docs/developer/data-platform/best-practices/TOC.yml
  powerapps-docs/developer/data-platform/best-practices/work-with-data/index.md
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
  powerapps-docs/developer/data-platform/write-plugin-multiple-operation.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating sample code links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/Create-retrieve-entity-relationships.md
  powerapps-docs/developer/data-platform/org-service/samples/create-email-template.md
  powerapps-docs/developer/data-platform/org-service/samples/create-queues.md
  powerapps-docs/developer/data-platform/org-service/samples/create-reciprocal-connection-role-early-bound.md
  powerapps-docs/developer/data-platform/org-service/samples/create-retrieve-update-delete-charts.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating sample code links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/create-retrieve-update-delete-dashboards.md
  powerapps-docs/developer/data-platform/org-service/samples/create-retrieve-update-delete-email-attachment.md
  powerapps-docs/developer/data-platform/org-service/samples/create-retrieve-update-delete-recurring-appointment.md
  powerapps-docs/developer/data-platform/org-service/samples/create-update-emailable-entity.md
  powerapps-docs/developer/data-platform/org-service/samples/create-update-entity-metadata.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised per 3508471
  powerapps-docs/maker/model-driven-apps/create-add-remove-forms-views-dashboards.md
  powerapps-docs/maker/model-driven-apps/create-design-forms.md
  powerapps-docs/maker/model-driven-apps/media/app-design-manage-forms.png
Owners: @Mattp123, @KumarVivek

Revised per 3508471
  powerapps-docs/maker/model-driven-apps/create-add-remove-forms-views-dashboards.md
  powerapps-docs/maker/model-driven-apps/media/app-design-manage-forms.png
Owners: @Mattp123, @KumarVivek

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/create-update-records-with-related-records.md
  powerapps-docs/developer/data-platform/org-service/samples/delete-queues.md
  powerapps-docs/developer/data-platform/org-service/samples/detect-multiple-duplicate-records.md
  powerapps-docs/developer/data-platform/org-service/samples/detect-solution-dependencies.md
  powerapps-docs/developer/data-platform/org-service/samples/determine-whether-user-has-role.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/disable-a-user.md
  powerapps-docs/developer/data-platform/org-service/samples/download-report-definition.md
  powerapps-docs/developer/data-platform/org-service/samples/dump-attribute-metadata.md
  powerapps-docs/developer/data-platform/org-service/samples/dump-entity-metadata-file.md
  powerapps-docs/developer/data-platform/org-service/samples/dump-entity-priviliges.md
  powerapps-docs/developer/data-platform/org-service/samples/dump-entity-relationships.md
  powerapps-docs/developer/data-platform/org-service/samples/dump-global-option-set.md
  powerapps-docs/developer/data-platform/org-service/samples/dump-picklist-information.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Revised per 3508471
  powerapps-docs/maker/model-driven-apps/create-design-forms.md
Owners: @Mattp123, @KumarVivek
