Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @tapanm-msft, @mduelae, @PHecke, @leeclontz, @JimDaly, @Mattp123, @professorkendrick, @sericks007

Update query-json-columns-elastic-tables.md
  powerapps-docs/developer/data-platform/query-json-columns-elastic-tables.md
Owners: @PHecke, @leeclontz, @JimDaly

Update customize-list-form.md
  powerapps-docs/maker/canvas-apps/customize-list-form.md
Owners: @tapanm-msft, @mduelae

Microsoft Copilot Studio rename
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @mduelae

Update intro-to-pfx.md
  powerapps-docs/cards/make-a-card/power-fx/intro-to-pfx.md
Owners: @tapanm-msft, @mduelae

check select-columns
  powerapps-docs/developer/data-platform/org-service/queryexpression/select-columns.md
Owners: @PHecke, @leeclontz, @JimDaly

fix broken links
  powerapps-docs/developer/data-platform/org-service/queryexpression/order-rows.md
Owners: @PHecke, @leeclontz, @JimDaly

3/27 update to Form Fill Assistance docs
  powerapps-docs/user/form-filling-assistance.md
  powerapps-docs/user/media/FormFillAssistanceSetting.png
Owners: @sericks007, @tapanm-msft

Moved alert
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @leeclontz, @JimDaly

Additional updates
  powerapps-docs/user/form-filling-assistance.md
Owners: @sericks007, @tapanm-msft

Reverted sales license checker rules
  powerapps-docs/maker/data-platform/use-powerapps-checker.md
Owners: @Mattp123, @tapanm-msft

Update custom-search-analyzer.md
  powerapps-docs/developer/data-platform/search/custom-search-analyzer.md
Owners: @PHecke, @leeclontz, @JimDaly

check
  powerapps-docs/developer/data-platform/org-service/queryexpression/join-tables.md
  powerapps-docs/developer/data-platform/org-service/queryexpression/overview.md
  powerapps-docs/developer/data-platform/org-service/queryexpression/select-columns.md
Owners: @PHecke, @leeclontz, @JimDaly

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @tapanm-msft
/powerapps-docs/cards                               @tapanm-msft @mduelae
/powerapps-docs/developer/                          @PHecke @leeclontz @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @leeclontz
/powerapps-docs/developer/data-platform/cli         @JimDaly @leeclontz
/powerapps-docs/developer/model-driven-apps         @JimDaly @leeclontz
/powerapps-docs/guidance                            @tapanm-msft @mduelae @Mattp123
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @mduelae
/powerapps-docs/maker/data-platform                 @Mattp123 @tapanm-msft
/powerapps-docs/maker/model-driven-apps             @Mattp123 @tapanm-msft
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @mduelae
/powerapps-docs/maker/portals                       @professorkendrick @tapanm-msft
/powerapps-docs/mobile                              @tapanm-msft @sericks007
/powerapps-docs/sample-apps                         @tapanm-msft @mduelae
/powerapps-docs/user                                @sericks007 @tapanm-msft
/powerapps-docs/teams                               @tapanm-msft @mduelae
