Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update cc-portals-studio-deprecation.md
  powerapps-docs/includes/cc-portals-studio-deprecation.md
Owners: @KumarVivek

Update cc-portals-studio-deprecation.md
  powerapps-docs/includes/cc-portals-studio-deprecation.md
Owners: @KumarVivek

Update EnvironmentVariables.md
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek

Add lookup columns known limitation.
  powerapps-docs/maker/data-platform/map-entity-fields.md
Owners: @Mattp123, @KumarVivek

simplify
  powerapps-docs/developer/data-platform/webapi/quick-start-ps-2.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  powerapps-docs/developer/data-platform/webapi/quick-start-ps-2.md
Owners: @PHecke, @KumarVivek, @JimDaly

simplify
  powerapps-docs/developer/data-platform/webapi/quick-start-ps-2.md
Owners: @PHecke, @KumarVivek, @JimDaly

Checkin of performance rewrite
  powerapps-docs/maker/canvas-apps/app-performance-considerations.md
  powerapps-docs/maker/canvas-apps/conservative-use-of-collections.md
  powerapps-docs/maker/canvas-apps/create-performant-apps-overview.md
  powerapps-docs/maker/canvas-apps/efficient-calculations.md
  powerapps-docs/maker/canvas-apps/execution-phases-data-flow.md
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
  powerapps-docs/maker/canvas-apps/media/execution-phases-data-flow/memorygraph.png
  powerapps-docs/maker/canvas-apps/media/execution-phases-data-flow/monitoring-screen.png
  powerapps-docs/maker/canvas-apps/optimized-query-data-patterns.md
  powerapps-docs/maker/canvas-apps/small-data-payloads.md
Owners: @tapanm-msft, @KumarVivek

Update create-edit-elastic-tables.md
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Revised for style and removing duplicate links
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Removing additional duplicate link
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

assign Xrm.WebApi to Lance
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/createRecord.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/deleteRecord.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/isAvailableOffline.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/offline.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/online.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/online/execute.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/online/executeMultiple.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/retrieveMultipleRecords.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/retrieveRecord.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/updateRecord.md
Owners: @JimDaly, @KumarVivek

assign Lance
  powerapps-docs/developer/model-driven-apps/clientapi/reference/xrm-webapi.md
Owners: @JimDaly, @KumarVivek

acrolinx
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/online/executeMultiple.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/retrieveRecord.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/xrm-webapi.md
Owners: @JimDaly, @KumarVivek

Update save-publish-app.md
  powerapps-docs/maker/canvas-apps/save-publish-app.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/developer/data-platform/webapi/quick-start-ps-2.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update map-entity-fields.md
  powerapps-docs/maker/data-platform/map-entity-fields.md
Owners: @Mattp123, @KumarVivek

remove old version and sample
  powerapps-docs/developer/data-platform/webapi/TOC.yml
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/samples/powershell-web-api-samples.md
  powerapps-docs/developer/data-platform/webapi/samples/toc.yml
Owners: @PHecke, @KumarVivek, @JimDaly

remove 'Option 2'
  powerapps-docs/developer/data-platform/webapi/quick-start-ps-2.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update share-app-guests.md
  powerapps-docs/maker/canvas-apps/share-app-guests.md
Owners: @tapanm-msft, @KumarVivek

Update EnvironmentVariables.md
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek

add link to troubleshooting
  powerapps-docs/developer/data-platform/webapi/quick-start-ps-2.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added solution-import-environment-variables.png
  powerapps-docs/maker/data-platform/media/solution-import-environment-variables.png
Owners: @Mattp123, @KumarVivek

Fixed typo in EnvironmentVariables.md
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek

Update EnvironmentVariables.md
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek

Replaced solution-import-environment-variables.png
  powerapps-docs/maker/data-platform/media/solution-import-environment-variables.png
Owners: @Mattp123, @KumarVivek

acrolinx
  powerapps-docs/developer/data-platform/webapi/quick-start-ps-2.md
Owners: @PHecke, @KumarVivek, @JimDaly

Create EnvironmentVariables-data-source-canvas-apps.md
  powerapps-docs/maker/data-platform/EnvironmentVariables-data-source-canvas-apps.md
Owners: @Mattp123, @KumarVivek

Update EnvironmentVariables-data-source-canvas-apps.md
  powerapps-docs/maker/data-platform/EnvironmentVariables-data-source-canvas-apps.md
Owners: @Mattp123, @KumarVivek

Create EnvironmentVariables-power-automate.md
  powerapps-docs/maker/data-platform/EnvironmentVariables-power-automate.md
Owners: @Mattp123, @KumarVivek

Create EnvironmentVariables-azure-key-vault-secrets.md
  powerapps-docs/maker/data-platform/EnvironmentVariables-azure-key-vault-secrets.md
Owners: @Mattp123, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/app-performance-considerations.md
Owners: @tapanm-msft, @KumarVivek

Update TOC.yml for Environment Variables section
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update EnvironmentVariables.md
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/efficient-calculations.md
Owners: @tapanm-msft, @KumarVivek
