Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Adding link and preview indicator to TOC missed earlier
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/create-edit-virtual-entities.md
Owners: @KumarVivek, @Mattp123

tweaks
  powerapps-docs/maker/canvas-apps/ai-edit-app.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/canvas-apps/ai-edit-app.md
Owners: @KumarVivek, @tapanm-msft

Delete copilot-pane.png
  powerapps-docs/maker/canvas-apps/media/artificial-intelligence/copilot-pane.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/artificial-intelligence/copilot-pane.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/artificial-intelligence/copilot-pane-add-screen.png
Owners: @tapanm-msft, @KumarVivek

Update ai-edit-app.md
  powerapps-docs/maker/canvas-apps/ai-edit-app.md
Owners: @tapanm-msft, @KumarVivek

Update ai-edit-app.md
  powerapps-docs/maker/canvas-apps/ai-edit-app.md
Owners: @tapanm-msft, @KumarVivek

Update ai-edit-app.md
  powerapps-docs/maker/canvas-apps/ai-edit-app.md
Owners: @tapanm-msft, @KumarVivek

Update ai-edit-app.md
  powerapps-docs/maker/canvas-apps/ai-edit-app.md
Owners: @tapanm-msft, @KumarVivek

check
  powerapps-docs/developer/data-platform/security-access-coding.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

check
  powerapps-docs/developer/data-platform/security-access-coding.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/security-access-coding.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update get-started-create-from-data.md
  powerapps-docs/maker/canvas-apps/get-started-create-from-data.md
Owners: @tapanm-msft, @KumarVivek

add descriptions
  powerapps-docs/developer/data-platform/security-access-coding.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove descriptions
  powerapps-docs/developer/data-platform/security-access-coding.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update azure-synapse-link-synapse.md
  powerapps-docs/maker/data-platform/azure-synapse-link-synapse.md
Owners: @Mattp123, @KumarVivek

adding parameter per build warning
  powerapps-docs/maker/data-platform/use-powerapps-checker.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/azure-synapse-link-synapse.md
Owners: @Mattp123, @KumarVivek

Solution templates link
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Adding video links per 3434990
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

fit-n-finish
  powerapps-docs/developer/data-platform/security-sharing-assigning.md
Owners: @PHecke, @KumarVivek, @JimDaly

Assign request note
  powerapps-docs/developer/data-platform/security-sharing-assigning.md
Owners: @PHecke, @KumarVivek, @JimDaly

fit-n-finish
  powerapps-docs/developer/data-platform/security-sharing-assigning.md
Owners: @PHecke, @KumarVivek, @JimDaly

done
  powerapps-docs/developer/data-platform/security-sharing-assigning.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update control-horizontal-container.md
  powerapps-docs/maker/canvas-apps/controls/control-horizontal-container.md
Owners: @tapanm-msft, @KumarVivek

Update control-vertical-container.md
  powerapps-docs/maker/canvas-apps/controls/control-vertical-container.md
Owners: @tapanm-msft, @KumarVivek

Update properties-color-border.md
  powerapps-docs/maker/canvas-apps/controls/properties-color-border.md
Owners: @tapanm-msft, @KumarVivek

Update properties-color-border.md
  powerapps-docs/maker/canvas-apps/controls/properties-color-border.md
Owners: @tapanm-msft, @KumarVivek

Update properties-color-border.md
  powerapps-docs/maker/canvas-apps/controls/properties-color-border.md
Owners: @tapanm-msft, @KumarVivek

Update reference-properties.md
  powerapps-docs/maker/canvas-apps/reference-properties.md
Owners: @tapanm-msft, @KumarVivek

Terminology
  powerapps-docs/developer/data-platform/reference/entities/datalakeworkspace.md
Owners: @PHecke, @KumarVivek, @JimDaly

Terminology
  powerapps-docs/developer/data-platform/reference/entities/datalakeworkspacepermission.md
Owners: @PHecke, @KumarVivek, @JimDaly

tech review feedback incorporated
  powerapps-docs/maker/canvas-apps/ai-edit-app.md
Owners: @tapanm-msft, @KumarVivek

Update azure-synapse-link-synapse.md
  powerapps-docs/maker/data-platform/azure-synapse-link-synapse.md
Owners: @Mattp123, @KumarVivek

check
  powerapps-docs/developer/data-platform/webapi/create-update-entity-definitions-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/create-update-optionsets.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update limits-and-config.md
  powerapps-docs/limits-and-config.md
Owners: @KumarVivek

Update create-virtual-tables-using-connectors.md
  powerapps-docs/maker/data-platform/create-virtual-tables-using-connectors.md
Owners: @Mattp123, @KumarVivek

check
  powerapps-docs/developer/data-platform/webapi/create-update-entity-definitions-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/create-update-optionsets.md
Owners: @PHecke, @KumarVivek, @JimDaly

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
