Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update lowcode-plug-ins-examples.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update lowcode-plug-ins-examples.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Update lowcode-plug-ins-examples.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Update lowcode-plug-ins-examples.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Fluent theming docs
  powerapps-docs/developer/component-framework/media/fluent-theming-api-control.png
  powerapps-docs/developer/component-framework/reference/includes/theming-description.md
  powerapps-docs/developer/component-framework/reference/theming.md
  powerapps-docs/developer/component-framework/sample-controls/fluent-theming-api-control.md
  powerapps-docs/developer/component-framework/toc.yml
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-theming.md
Owners: @PHecke, @KumarVivek, @JimDaly, @tapanm-msft

Rollback
  powerapps-docs/developer/component-framework/reference/usersettings.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update
  powerapps-docs/developer/component-framework/modern-theming.md
  powerapps-docs/developer/component-framework/reference/theming.md
  powerapps-docs/developer/component-framework/sample-controls/fluent-theming-api-control.md
Owners: @PHecke, @KumarVivek, @JimDaly

Rename
  powerapps-docs/developer/component-framework/media/modern-theming-api-control.png
  powerapps-docs/developer/component-framework/modern-theming.md
  powerapps-docs/developer/component-framework/reference/includes/theming-description.md
  powerapps-docs/developer/component-framework/reference/theming.md
  powerapps-docs/developer/component-framework/sample-controls/modern-theming-api-control.md
  powerapps-docs/developer/component-framework/toc.yml
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-theming.md
Owners: @PHecke, @KumarVivek, @JimDaly, @tapanm-msft

Update
  powerapps-docs/developer/component-framework/fluent-modern-theming.md
  powerapps-docs/developer/component-framework/sample-controls/modern-theming-api-control.md
  powerapps-docs/developer/component-framework/toc.yml
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-theming.md
Owners: @PHecke, @KumarVivek, @JimDaly, @tapanm-msft

Rollback
  powerapps-docs/developer/component-framework/reference/usersettings.md
Owners: @PHecke, @KumarVivek, @JimDaly

Rollback
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-theming.md
Owners: @tapanm-msft, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Acrolinx fixes
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Duplicate headings and broken bookmark fixes
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Removed URL parameter appendix that's no longer required
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Bookmark fix
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

format fix
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Style fix
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update merge-duplicate-records.md
  powerapps-docs/user/merge-duplicate-records.md
Owners: @mduelae, @KumarVivek

Update intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
Owners: @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Adding new article per 3624197
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/update-translated-text.md
Owners: @KumarVivek, @Mattp123

Adding new article per 3624197
  powerapps-docs/maker/data-platform/update-translated-text.md
Owners: @Mattp123, @KumarVivek

Revised for style and clarity
  powerapps-docs/maker/data-platform/update-translated-text.md
Owners: @Mattp123, @KumarVivek

Adding new article per 3624197
  powerapps-docs/maker/data-platform/update-translated-text.md
Owners: @Mattp123, @KumarVivek

Update data-retention-overview.md
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Adding new article per 3624197
  powerapps-docs/maker/data-platform/update-translated-text.md
Owners: @Mattp123, @KumarVivek

Adding new article per 3624197
  powerapps-docs/maker/data-platform/update-translated-text.md
Owners: @Mattp123, @KumarVivek

Update intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
Owners: @tapanm-msft, @KumarVivek

Create use-@mentions.md
  powerapps-docs/user/use-@mentions.md
Owners: @mduelae, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
