Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update work-offline-mode-classic.md
  powerapps-docs/mobile/work-offline-mode-classic.md
Owners: @KumarVivek

Update work-offline-mode-classic.md
  powerapps-docs/mobile/work-offline-mode-classic.md
Owners: @KumarVivek

Update create-a-model-driven-app.md (Copilot descriptions)
  powerapps-docs/maker/model-driven-apps/create-a-model-driven-app.md
Owners: @Mattp123, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update ai-app-descriptions-faq.md
  powerapps-docs/maker/common/ai-app-descriptions-faq.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update ai-app-descriptions-faq.md
  powerapps-docs/maker/common/ai-app-descriptions-faq.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update create-a-model-driven-app.md
  powerapps-docs/maker/model-driven-apps/create-a-model-driven-app.md
Owners: @Mattp123, @KumarVivek

Update create-a-model-driven-app.md
  powerapps-docs/maker/model-driven-apps/create-a-model-driven-app.md
Owners: @Mattp123, @KumarVivek

Update preferred-solution.md
  powerapps-docs/maker/data-platform/preferred-solution.md
Owners: @Mattp123, @KumarVivek

Update preferred-solution.md
  powerapps-docs/maker/data-platform/preferred-solution.md
Owners: @Mattp123, @KumarVivek

Update preferred-solution.md
  powerapps-docs/maker/data-platform/preferred-solution.md
Owners: @Mattp123, @KumarVivek

Delete powerapps-docs/mobile/media/mobile-offline-image9.png
  powerapps-docs/mobile/media/mobile-offline-image9.png
Owners: @KumarVivek

Add files via upload
  powerapps-docs/mobile/media/mobile-offline-image9.png
Owners: @KumarVivek

Add files via upload
  powerapps-docs/mobile/media/advanced-mobile-offline-profile.png
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update work-offline-mode-classic.md
  powerapps-docs/mobile/work-offline-mode-classic.md
Owners: @KumarVivek

Update access-checker.md
  powerapps-docs/user/access-checker.md
Owners: @mduelae, @KumarVivek

Update access-checker.md
  powerapps-docs/user/access-checker.md
Owners: @mduelae, @KumarVivek

Update access-checker.md
  powerapps-docs/user/access-checker.md
Owners: @mduelae, @KumarVivek

Update access-checker.md
  powerapps-docs/user/access-checker.md
Owners: @mduelae, @KumarVivek

Update access-checker.md
  powerapps-docs/user/access-checker.md
Owners: @mduelae, @KumarVivek

Add files via upload
  powerapps-docs/user/media/check-access-1.png
  powerapps-docs/user/media/check-access-2.png
Owners: @mduelae, @KumarVivek

Update preferred-solution.md
  powerapps-docs/maker/data-platform/preferred-solution.md
Owners: @Mattp123, @KumarVivek

Update add-app-solution-default.md
  powerapps-docs/maker/canvas-apps/add-app-solution-default.md
Owners: @tapanm-msft, @KumarVivek

Update solutions-overview.md
  powerapps-docs/maker/data-platform/solutions-overview.md
Owners: @Mattp123, @KumarVivek

Update solutions-overview.md
  powerapps-docs/maker/data-platform/solutions-overview.md
Owners: @Mattp123, @KumarVivek

Update solutions-overview.md
  powerapps-docs/maker/data-platform/solutions-overview.md
Owners: @Mattp123, @KumarVivek

Terminology change
  powerapps-docs/developer/data-platform/reference/entities/datalakeworkspace.md
  powerapps-docs/developer/data-platform/reference/entities/datalakeworkspacepermission.md
Owners: @PHecke, @KumarVivek, @JimDaly

cards AD rebranding
  powerapps-docs/cards/manage-cards/delete-cards.md
Owners: @KumarVivek

guidance AD rebranding
  powerapps-docs/guidance/fusion-dev-ebook/06-using-web-api-in-app.md
  powerapps-docs/guidance/fusion-dev-ebook/08-protecting-deploying-app.md
  powerapps-docs/guidance/planning/security.md
  powerapps-docs/guidance/planning/what-data-needed.md
  powerapps-docs/guidance/planning/where-is-data.md
Owners: @KumarVivek

includes AD rebranding
  powerapps-docs/includes/cc-privacy-crm-mobile-offline.md
  powerapps-docs/includes/cc-privacy-crm-portals-data-exposed.md
  powerapps-docs/includes/cc-privacy-crm-relevance-search.md
  powerapps-docs/includes/cc-privacy-crm-voice-of-customer.md
  powerapps-docs/includes/cc-privacy-field-service-mobile-app.md
  powerapps-docs/includes/cc-privacy-gamification-solution.md
  powerapps-docs/includes/cc-privacy-learning-path-authoring.md
  powerapps-docs/includes/cc-privacy-learning-path.md
  powerapps-docs/includes/cc-privacy-powerbi-tiles-dashboards.md
  powerapps-docs/includes/cc-privacy-usd-telemetry.md
  powerapps-docs/includes/pn-azure-active-directory.md
  powerapps-docs/includes/pn-microsoft-azure-active-directory.md
  powerapps-docs/includes/pn-win-azure-ad-auth-lib-adal.md
  powerapps-docs/includes/pn-windows-azure-acs.md
Owners: @KumarVivek

maker AD rebranding
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/monitor-collaborative-debugging.md
  powerapps-docs/maker/search.md
  powerapps-docs/maker/signup-for-powerapps.md
Owners: @KumarVivek

canvas-apps AD rebranding
  powerapps-docs/maker/canvas-apps/add-manage-connections.md
  powerapps-docs/maker/canvas-apps/add-notifications.md
  powerapps-docs/maker/canvas-apps/app-from-azure-sql-database.md
  powerapps-docs/maker/canvas-apps/connections-list.md
  powerapps-docs/maker/canvas-apps/connections/sql-server-security.md
  powerapps-docs/maker/canvas-apps/delete-app.md
  powerapps-docs/maker/canvas-apps/embed-apps-dev.md
  powerapps-docs/maker/canvas-apps/sample-crisis-communication-app.md
  powerapps-docs/maker/canvas-apps/share-app-guests.md
  powerapps-docs/maker/canvas-apps/share-app-resources.md
  powerapps-docs/maker/canvas-apps/share-app.md
  powerapps-docs/maker/canvas-apps/sign-in-to-power-apps.md
  powerapps-docs/maker/canvas-apps/test-studio-classic-pipeline-editor.md
  powerapps-docs/maker/canvas-apps/test-studio-yaml-pipeline.md
Owners: @tapanm-msft, @KumarVivek

common AD rebranding
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/faq.yml
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

data-platform AD rebranding
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
  powerapps-docs/maker/data-platform/azure-synapse-link-data-lake.md
  powerapps-docs/maker/data-platform/azure-synapse-link-pipelines.md
  powerapps-docs/maker/data-platform/azure-synapse-link-synapse.md
  powerapps-docs/maker/data-platform/common-issues-resolutions-solution-checker.md
  powerapps-docs/maker/data-platform/create-and-use-dataflows.md
  powerapps-docs/maker/data-platform/create-virtual-tables-using-connectors.md
  powerapps-docs/maker/data-platform/data-retention-overview.md
  powerapps-docs/maker/data-platform/export-to-data-lake-data-powerbi.md
  powerapps-docs/maker/data-platform/limits-tshoot-virtual-tables.md
  powerapps-docs/maker/data-platform/why-dataverse-overview.md
  powerapps-docs/maker/data-platform/work-with-any-type-app.md
Owners: @Mattp123, @KumarVivek
