Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/context.yml
Owners: @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Context file
  powerapps-docs/maker/context.yml
Owners: @KumarVivek

Delete powerapps-docs/maker/context.yml
  powerapps-docs/maker/context.yml
Owners: @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Updated intro section to mention on by default rollout
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update powerapps-mobile-troubleshoot.md
  powerapps-docs/mobile/powerapps-mobile-troubleshoot.md
Owners: @KumarVivek

Update powerapps-mobile-troubleshoot.md
  powerapps-docs/mobile/powerapps-mobile-troubleshoot.md
Owners: @KumarVivek

Adding clarity
  powerapps-docs/maker/common/faqs-excel-to-table-app.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Corrected typo
  powerapps-docs/maker/data-platform/actions.md
Owners: @Mattp123, @KumarVivek

Removed dot
  powerapps-docs/maker/data-platform/processes.md
Owners: @Mattp123, @KumarVivek

Condition limits and in operator
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/reference/operators.md
Owners: @PHecke, @KumarVivek, @JimDaly

Up to 850 characters
  powerapps-docs/developer/data-platform/fetchxml/reference/operators.md
Owners: @PHecke, @KumarVivek, @JimDaly

updates
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

tweaks
  powerapps-docs/maker/model-driven-apps/modern-theme-overrides.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @Mattp123, @KumarVivek, @mduelae

updates
  powerapps-docs/maker/model-driven-apps/modern-theme-overrides.md
Owners: @Mattp123, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Restructuring TOC per 3803985
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

delete/redirect quick-find-limit.md
  .openpublishing.redirection.json
  powerapps-docs/developer/data-platform/org-service/entity-operations-query-data.md
  powerapps-docs/developer/data-platform/query-hierarchical-data.md
  powerapps-docs/developer/data-platform/quick-find-limit.md
  powerapps-docs/developer/data-platform/quick-find.md
  powerapps-docs/developer/data-platform/webapi/query-data-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised per 3811937
  powerapps-docs/maker/data-platform/data-platform-import-export.md
Owners: @Mattp123, @KumarVivek

Improving Acrolinx scoring
  powerapps-docs/maker/data-platform/data-platform-import-export.md
Owners: @Mattp123, @KumarVivek

Added details for "Use advanced link types" in join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update link-type-any-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-any-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update define-ribbon-display-rules.md
  powerapps-docs/developer/model-driven-apps/define-ribbon-display-rules.md
Owners: @JimDaly, @KumarVivek

Update define-ribbon-display-rules.md
  powerapps-docs/developer/model-driven-apps/define-ribbon-display-rules.md
Owners: @JimDaly, @KumarVivek

Update link-type-exists-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-exists-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update link-type-in-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-in-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update link-type-exists-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-exists-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update link-type-exists-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-exists-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update link-type-exists-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-exists-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update link-type-in-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-in-description.md
Owners: @PHecke, @KumarVivek, @JimDaly
