Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

pfx-default-value
  powerapps-docs/developer/component-framework/manifest-schema-reference/property.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update modern-theme-overrides.md
  powerapps-docs/maker/model-driven-apps/modern-theme-overrides.md
Owners: @Mattp123, @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Add files via upload
  powerapps-docs/mobile/media/settings All.png
Owners: @KumarVivek

Revised for style and markdown issues
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/model-driven-apps/modern-theme-overrides.md
Owners: @KumarVivek, @Mattp123

edits
  powerapps-docs/developer/data-platform/search/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add files via upload
  powerapps-docs/maker/model-driven-apps/media/greenAppHeader-Oct2023.png
Owners: @Mattp123, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

set dates
  powerapps-docs/developer/data-platform/search/autocomplete.md
  powerapps-docs/developer/data-platform/search/legacy.md
  powerapps-docs/developer/data-platform/search/overview.md
  powerapps-docs/developer/data-platform/search/query.md
  powerapps-docs/developer/data-platform/search/statistics.md
  powerapps-docs/developer/data-platform/search/status.md
  powerapps-docs/developer/data-platform/search/suggest.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add files via upload
  powerapps-docs/user/media/modern-system-dashboard.png
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/modern-theme-overrides.md
Owners: @Mattp123, @KumarVivek

Angrish Edits from PR 8646
  powerapps-docs/developer/data-platform/search/autocomplete.md
  powerapps-docs/developer/data-platform/search/query.md
  powerapps-docs/developer/data-platform/search/suggest.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised for style
  powerapps-docs/maker/model-driven-apps/modern-theme-overrides.md
Owners: @Mattp123, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

check query page
  powerapps-docs/developer/data-platform/search/overview.md
  powerapps-docs/developer/data-platform/search/query.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised for style and Acrolinx
  powerapps-docs/maker/model-driven-apps/create-themes-organization-branding.md
  powerapps-docs/maker/model-driven-apps/modern-theme-overrides.md
Owners: @Mattp123, @KumarVivek

Update create-edit-elastic-tables.md
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

suggest
  powerapps-docs/developer/data-platform/search/query.md
  powerapps-docs/developer/data-platform/search/suggest.md
Owners: @PHecke, @KumarVivek, @JimDaly

finish suggest
  powerapps-docs/developer/data-platform/search/query.md
  powerapps-docs/developer/data-platform/search/suggest.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised for clarity
  powerapps-docs/maker/model-driven-apps/create-themes-organization-branding.md
  powerapps-docs/maker/model-driven-apps/modern-theme-overrides.md
Owners: @Mattp123, @KumarVivek

Correcting media file name
  powerapps-docs/maker/model-driven-apps/modern-theme-overrides.md
Owners: @Mattp123, @KumarVivek

Update data-retention-overview.md
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Changed authentication scope
  powerapps-docs/developer/data-platform/authenticate-oauth.md
  powerapps-docs/developer/data-platform/data-export-service.md
  powerapps-docs/developer/data-platform/webapi/quick-start-console-app-csharp.md
Owners: @PHecke, @KumarVivek, @JimDaly

fit-n-finish
  powerapps-docs/developer/data-platform/search/overview.md
  powerapps-docs/developer/data-platform/search/query.md
  powerapps-docs/developer/data-platform/search/suggest.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update commandchecker issue, add cascading, permissions, and offline issues
  powerapps-docs/maker/model-driven-apps/faqs-timeline-control.md
Owners: @Mattp123, @KumarVivek

Acrolinx corrections
  powerapps-docs/developer/data-platform/authenticate-oauth.md
Owners: @PHecke, @KumarVivek, @JimDaly

Minor correction
  powerapps-docs/developer/data-platform/authenticate-oauth.md
Owners: @PHecke, @KumarVivek, @JimDaly

autocomplete
  powerapps-docs/developer/data-platform/search/autocomplete.md
  powerapps-docs/developer/data-platform/search/query.md
  powerapps-docs/developer/data-platform/search/suggest.md
Owners: @PHecke, @KumarVivek, @JimDaly

EOD
  powerapps-docs/developer/data-platform/search/statistics.md
  powerapps-docs/developer/data-platform/search/status.md
  powerapps-docs/developer/data-platform/search/suggest.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Acrolinx
  powerapps-docs/maker/model-driven-apps/modern-theme-overrides.md
Owners: @Mattp123, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek
