Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

New Images
  powerapps-docs/user/media/modern-command-bar.png
  powerapps-docs/user/media/modern-view-page.png
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Reducing the steps and pointing to the PPAC settings article
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Reducing the steps and pointing to the PPAC settings article
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

fix issue 4583
  powerapps-docs/developer/model-driven-apps/clientapi/reference/controls/getContentWindow.md
Owners: @JimDaly, @KumarVivek

acrolinx
  powerapps-docs/developer/model-driven-apps/clientapi/reference/controls/getContentWindow.md
Owners: @JimDaly, @KumarVivek

add Web API sample code
  powerapps-docs/developer/data-platform/fetchxml/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

tweaks
  powerapps-docs/developer/data-platform/fetchxml/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update app-properties page
  powerapps-docs/maker/model-driven-apps/app-properties.md
Owners: @Mattp123, @KumarVivek

Update app-properties.md
  powerapps-docs/maker/model-driven-apps/app-properties.md
Owners: @Mattp123, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update app-properties.md
  powerapps-docs/maker/model-driven-apps/app-properties.md
Owners: @Mattp123, @KumarVivek

Updating sample linkss for clarity
  powerapps-docs/developer/data-platform/org-service/samples/synchronize-data-external-systems-using-change-tracking.md
  powerapps-docs/developer/data-platform/org-service/samples/two-way-listener.md
  powerapps-docs/developer/data-platform/org-service/samples/update-connection-role.md
  powerapps-docs/developer/data-platform/org-service/samples/use-aggregation-fetchxml.md
  powerapps-docs/developer/data-platform/org-service/samples/use-duplicate-detection-when-creating-and-updating-records.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/use-fetchxml-paging-cookie.md
  powerapps-docs/developer/data-platform/org-service/samples/use-optimistic-concurrency-update-delete-operations.md
  powerapps-docs/developer/data-platform/org-service/samples/use-outlook-methods.md
  powerapps-docs/developer/data-platform/org-service/samples/use-queryexpression-with-a-paging-cookie.md
  powerapps-docs/developer/data-platform/org-service/samples/use-rollup-queries-track-goals.md
Owners: @PHecke, @KumarVivek, @JimDaly

updated modern design
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

updated false to no
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

doc feedback 4648
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-App/Xrm-App-sidePanes/getPane.md
Owners: @JimDaly, @KumarVivek

Update for consent dialog for multiple custom pages
  powerapps-docs/maker/model-driven-apps/model-app-page-issues.md
Owners: @Mattp123, @KumarVivek

updated the disable steps
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

header with try toggle image
  powerapps-docs/user/media/modern-try-toggle-off.png
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

update modern
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Updating sample links for clarity.
  powerapps-docs/developer/data-platform/org-service/samples/validate-appointment.md
  powerapps-docs/developer/data-platform/org-service/samples/validate-execute-saved-query.md
  powerapps-docs/developer/data-platform/org-service/samples/validate-record-state.md
  powerapps-docs/developer/data-platform/org-service/samples/web-access-plugin.md
  powerapps-docs/developer/data-platform/org-service/samples/work-activity-party-records.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/work-solutions.md
  powerapps-docs/developer/data-platform/org-service/samples/work-with-attributes.md
  powerapps-docs/developer/data-platform/org-service/samples/work-with-option-sets.md
  powerapps-docs/developer/data-platform/org-service/samples/work-with-views.md
  powerapps-docs/developer/model-driven-apps/sample-export-ribbon-definitions.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
Owners: @tapanm-msft, @KumarVivek

updated photo link
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

updates
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update page
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

update limitations
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

update modern-fluent-design
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

update modern
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

update app properties
  powerapps-docs/maker/model-driven-apps/app-properties.md
Owners: @Mattp123, @KumarVivek

add link to retry
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
Owners: @PHecke, @KumarVivek, @JimDaly

delete old use-outlook-methods.md
  .openpublishing.redirection.json
  powerapps-docs/developer/data-platform/org-service/samples/use-outlook-methods.md
Owners: @PHecke, @KumarVivek, @JimDaly

Check changes
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
Owners: @PHecke, @KumarVivek, @JimDaly

in-line links
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
Owners: @PHecke, @KumarVivek, @JimDaly

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
