Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

service documents and entitysetname
  powerapps-docs/developer/data-platform/customize-entity-metadata.md
  powerapps-docs/developer/data-platform/webapi/web-api-service-documents.md
Owners: @PHecke, @KumarVivek, @JimDaly

move error message to troubleshooting
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix error
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/use-ps-and-vscode-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

open $metadata file in VSCode
  powerapps-docs/developer/data-platform/webapi/use-ps-and-vscode-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/webapi/multitable-lookup.md
  powerapps-docs/developer/data-platform/webapi/samples/retrievemetadatachanges.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice-basic-operations.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice-conditional-operations.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice-functions-and-actions.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice-parallel-operations.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice-tpl-dataflow-parallel-operations.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice.md
  powerapps-docs/developer/data-platform/webapi/use-postman-web-api.md
  powerapps-docs/developer/data-platform/webapi/web-api-samples-csharp.md
  powerapps-docs/developer/data-platform/webapi/web-api-samples-powershell.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/image-attributes.md
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/samples/basic-operations-powershell.md
  powerapps-docs/developer/data-platform/webapi/setup-postman-environment.md
  powerapps-docs/developer/data-platform/webapi/use-postman-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Remove maker\data-platform\azure-synapse-link-troubleshooting-guide.md
  .openpublishing.redirection.json
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Copy edit complete
  powerapps-docs/maker/data-platform/update-translated-text.md
Owners: @Mattp123, @KumarVivek

Adding limitation per 3787504
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-view-in-fabric.md
  powerapps-docs/maker/data-platform/azure-synapse-link-view-in-fabric.md
Owners: @Mattp123, @KumarVivek

Editing Task 18472
  powerapps-docs/user/use-@mentions.md
Owners: @mduelae, @KumarVivek

Copy edit complete Editing Task 18481 new
  powerapps-docs/mobile/offline-file-images.md
Owners: @KumarVivek

Copy edit complete
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Copy edit complete
  powerapps-docs/includes/left-navigation-pane.md
Owners: @KumarVivek

Update azure-synapse-link-view-in-fabric.md
  powerapps-docs/maker/data-platform/azure-synapse-link-view-in-fabric.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-view-in-fabric.md
  powerapps-docs/maker/data-platform/azure-synapse-link-view-in-fabric.md
Owners: @Mattp123, @KumarVivek

Update faq-draft-with-copilot.md
  powerapps-docs/maker/common/faq-draft-with-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update azure-synapse-link-view-in-fabric.md
  powerapps-docs/maker/data-platform/azure-synapse-link-view-in-fabric.md
Owners: @Mattp123, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Changed 'calendar control V2' to 'calendar control'
  powerapps-docs/maker/model-driven-apps/add-calendar-control.md
  powerapps-docs/user/calendar-view.md
Owners: @Mattp123, @KumarVivek, @mduelae

Improved Acrolinx
  powerapps-docs/maker/model-driven-apps/add-calendar-control.md
  powerapps-docs/user/calendar-view.md
Owners: @Mattp123, @KumarVivek, @mduelae

Expanding with correct UI and updating screenshot for current
  powerapps-docs/maker/model-driven-apps/add-calendar-control.md
  powerapps-docs/maker/model-driven-apps/media/cal-control-added.png
  powerapps-docs/user/calendar-view.md
Owners: @Mattp123, @KumarVivek, @mduelae

Adding missing topic metadata
  powerapps-docs/user/calendar-view.md
Owners: @mduelae, @KumarVivek

Update azure-synapse-link-view-in-fabric.md
  powerapps-docs/maker/data-platform/azure-synapse-link-view-in-fabric.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Update azure-synapse-link-synapse.md
  powerapps-docs/maker/data-platform/azure-synapse-link-synapse.md
Owners: @Mattp123, @KumarVivek

add note about distinct
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/use-native-cds-connector.md
Owners: @tapanm-msft, @KumarVivek

Update use-native-cds-connector.md
  powerapps-docs/maker/canvas-apps/use-native-cds-connector.md
Owners: @tapanm-msft, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

edits
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/reference/condition.md
  powerapps-docs/developer/data-platform/fetchxml/reference/entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/value.md
Owners: @PHecke, @KumarVivek, @JimDaly

Redirection request for slow performance sources
  .openpublishing.redirection.json
  powerapps-docs/maker/canvas-apps/slow-performance-sources.md
Owners: @tapanm-msft, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek
