Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Configuring metadata
  powerapps-docs/maker/common/faqs-excel-to-table-app.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Formatting
  powerapps-docs/maker/common/faqs-excel-to-table-app.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Create azure-ad-to-microsoft-entra-id.md
  shared/azure-ad-to-microsoft-entra-id.md
Owners: none

More client articles
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-App/addGlobalNotification.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Navigation/navigateTo.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Navigation/openForm.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Navigation/openUrl.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Navigation/openWebResource.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/closeProgressIndicator.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getAllowedStatusTransitions.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getEntityMainFormDescriptor.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getEntityMetadata.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/client.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/getAdvancedConfigSetting.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/getClientUrl.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/getCurrentAppName.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/getCurrentAppProperties.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/getCurrentAppUrl.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/getVersion.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/getWebResourceUrl.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/isOnPremises.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/organizationSettings.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/prependOrgName.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext/userSettings.md
Owners: @JimDaly, @KumarVivek

Update manage-existing-portals.md
  powerapps-docs/maker/portals/manage-existing-portals.md
Owners: @nickdoelman, @KumarVivek

Update manage-existing-portals.md
  powerapps-docs/maker/portals/manage-existing-portals.md
Owners: @nickdoelman, @KumarVivek

Update export-data-lake-faq.yml
  powerapps-docs/maker/data-platform/export-data-lake-faq.yml
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-delta-lake.md
  powerapps-docs/maker/data-platform/azure-synapse-link-delta-lake.md
Owners: @Mattp123, @KumarVivek

check
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getEntityMetadata.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getGlobalContext.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getLearningPathAttributeName.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getPageContext.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/getResourceString.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/invokeProcessAction.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/lookupObjects.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Utility/refreshParentGrid.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/createRecord.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/deleteRecord.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/isAvailableOffline.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/offline.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/online.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/online/execute.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/online/executeMultiple.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/retrieveMultipleRecords.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/retrieveRecord.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/updateRecord.md
Owners: @JimDaly, @KumarVivek

last group
  powerapps-docs/developer/model-driven-apps/clientapi/clientapi-execution-context.md
  powerapps-docs/developer/model-driven-apps/clientapi/clientapi-form-context.md
  powerapps-docs/developer/model-driven-apps/clientapi/clientapi-grid-context.md
  powerapps-docs/developer/model-driven-apps/clientapi/clientapi-xrm.md
  powerapps-docs/developer/model-driven-apps/clientapi/create-app-side-panes.md
  powerapps-docs/developer/model-driven-apps/clientapi/debug-JavaScript-code.md
  powerapps-docs/developer/model-driven-apps/clientapi/events-forms-grids.md
  powerapps-docs/developer/model-driven-apps/clientapi/get-update-setting-value-using-code.md
  powerapps-docs/developer/model-driven-apps/clientapi/navigate-to-custom-page-examples.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/GetGlobalContext-ClientGlobalContext.js.aspx.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/execution-context.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/formContext-data-entity.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/formContext-data-process.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/formContext-data.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/formContext-ui-formSelector.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/formContext-ui-process.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/formContext-ui-tab-sections.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/formContext-ui-tabs.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/formContext-ui.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/grids.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/save-event-arguments.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/xrm-app-appsidepane.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/xrm-app-sidepanes.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/xrm-app.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/xrm-device.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/xrm-navigation.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/xrm-utility.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/xrm-webapi.md
  powerapps-docs/developer/model-driven-apps/clientapi/understand-clientapi-object-model.md
Owners: @JimDaly, @KumarVivek

Update for AzureDevOps Untyped object support Read
  powerapps-docs/maker/canvas-apps/connections/azure-devops.md
  powerapps-docs/maker/canvas-apps/connections/media/azure-devops/add-edit-form.png
  powerapps-docs/maker/canvas-apps/connections/media/azure-devops/dynamic-return-results-message.png
  powerapps-docs/maker/canvas-apps/connections/media/azure-devops/find-azuredevops-project-name.png
  powerapps-docs/maker/canvas-apps/connections/media/azure-devops/find-azuredevops-service-name.png
  powerapps-docs/maker/canvas-apps/connections/media/azure-devops/get-query-results.png
  powerapps-docs/maker/canvas-apps/connections/media/azure-devops/list-queries-in-folder.png
  powerapps-docs/maker/canvas-apps/connections/media/azure-devops/monitor-workitem-details.png
  powerapps-docs/maker/canvas-apps/connections/media/azure-devops/query-list-fields.png
  powerapps-docs/maker/canvas-apps/connections/media/azure-devops/title-custom-card.png
Owners: @tapanm-msft, @KumarVivek

Related articles
  powerapps-docs/developer/model-driven-apps/clientapi/clientapi-grid-context.md
  powerapps-docs/developer/model-driven-apps/clientapi/debug-JavaScript-code.md
  powerapps-docs/developer/model-driven-apps/clientapi/get-update-setting-value-using-code.md
  powerapps-docs/developer/model-driven-apps/clientapi/send-in-app-notifications.md
  powerapps-docs/developer/model-driven-apps/clientapi/walkthrough-write-your-first-client-script.md
Owners: @JimDaly, @KumarVivek

Update early-bound-programming.md
  powerapps-docs/developer/data-platform/org-service/early-bound-programming.md
Owners: @PHecke, @KumarVivek, @JimDaly

prvReadCanvasApp is required to open offline canvas apps
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

updates
  powerapps-docs/maker/portals/manage-existing-portals.md
  powerapps-docs/maker/portals/media/edit-in-power-apps.png
  powerapps-docs/maker/portals/media/manage-existing-portals/edit-in-power-apps.png
  powerapps-docs/maker/portals/media/manage-existing-portals/portal-site-options.png
  powerapps-docs/maker/portals/media/portal-site-options.png
Owners: @nickdoelman, @KumarVivek

Update manage-existing-portals.md
  powerapps-docs/maker/portals/manage-existing-portals.md
Owners: @nickdoelman, @KumarVivek

Update manage-existing-portals.md
  powerapps-docs/maker/portals/manage-existing-portals.md
Owners: @nickdoelman, @KumarVivek

expand link-type options
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-link-type-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update limits-and-config.md
  powerapps-docs/limits-and-config.md
Owners: @KumarVivek

Update limits-and-config.md
  powerapps-docs/limits-and-config.md
Owners: @KumarVivek

Add setup instructions for bookmarks
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Remove accidental fluent icons
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Add wave and deprecation information
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Tweaks
  powerapps-docs/limits-and-config.md
Owners: @KumarVivek

Tweaks
  powerapps-docs/limits-and-config.md
Owners: @KumarVivek

Update azure-devops.md
  powerapps-docs/maker/canvas-apps/connections/azure-devops.md
Owners: @tapanm-msft, @KumarVivek

Update azure-devops.md
  powerapps-docs/maker/canvas-apps/connections/azure-devops.md
Owners: @tapanm-msft, @KumarVivek

Add setup instructions for bookmarks
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Set relative link
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Update create-edit-nn-relationships.md
  powerapps-docs/maker/data-platform/create-edit-nn-relationships.md
Owners: @Mattp123, @KumarVivek

Update create-edit-nn-relationships.md
  powerapps-docs/maker/data-platform/create-edit-nn-relationships.md
Owners: @Mattp123, @KumarVivek

Update azure-devops.md
  powerapps-docs/maker/canvas-apps/connections/azure-devops.md
Owners: @tapanm-msft, @KumarVivek

check
  powerapps-docs/developer/data-platform/community-tools.md
  powerapps-docs/developer/data-platform/download-tools-nuget.md
  powerapps-docs/developer/data-platform/media/pac-modelbuilder-build-output-example-visual-studio.png
  powerapps-docs/developer/data-platform/org-service/build-queries-with-linq-net-language-integrated-query.md
  powerapps-docs/developer/data-platform/org-service/generate-early-bound-classes.md
  powerapps-docs/developer/data-platform/org-service/organizationservicecontext.md
  powerapps-docs/developer/data-platform/virtual-entities/enable-virtual-table-event-support.md
  powerapps-docs/developer/data-platform/workflow-custom-actions.md
Owners: @PHecke, @KumarVivek, @JimDaly

fit-n-finish
  powerapps-docs/developer/data-platform/community-tools.md
  powerapps-docs/developer/data-platform/download-tools-nuget.md
  powerapps-docs/developer/data-platform/org-service/generate-early-bound-classes.md
  powerapps-docs/developer/data-platform/org-service/organizationservicecontext.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update for updating values.
  powerapps-docs/maker/canvas-apps/connections/azure-devops.md
Owners: @tapanm-msft, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-devops.md
  powerapps-docs/maker/canvas-apps/connections/azure-devops.md
Owners: @tapanm-msft, @KumarVivek

Update azure-devops.md
  powerapps-docs/maker/canvas-apps/connections/azure-devops.md
Owners: @tapanm-msft, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
