Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/execution-phases-data-flow.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/efficient-calculations.md
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
Owners: @tapanm-msft, @KumarVivek

tweaks
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
Owners: @tapanm-msft, @KumarVivek

tweaks
  powerapps-docs/maker/canvas-apps/efficient-calculations.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

tweaks
  powerapps-docs/maker/canvas-apps/efficient-calculations.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
Owners: @tapanm-msft, @KumarVivek

fix broken redirect
  .openpublishing.redirection.json
Owners: none

Update cc-portals-studio-deprecation.md
  powerapps-docs/includes/cc-portals-studio-deprecation.md
Owners: @KumarVivek

Update add-iframe.md
  powerapps-docs/maker/portals/add-iframe.md
Owners: @nickdoelman, @KumarVivek

Update add-iframe.md
  powerapps-docs/maker/portals/add-iframe.md
Owners: @nickdoelman, @KumarVivek

Update cc-portals-studio-deprecation.md
  powerapps-docs/includes/cc-portals-studio-deprecation.md
Owners: @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/efficient-calculations.md
Owners: @tapanm-msft, @KumarVivek

Add note about Dataverse REST Builder
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-WebApi/online/execute.md
Owners: @JimDaly, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/create-performant-apps-overview.md
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/small-data-payloads.md
Owners: @tapanm-msft, @KumarVivek

tweaks
  powerapps-docs/maker/canvas-apps/create-performant-apps-overview.md
Owners: @tapanm-msft, @KumarVivek

tweaks
  powerapps-docs/maker/canvas-apps/create-performant-apps-overview.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
Owners: @tapanm-msft, @KumarVivek

Update EnvironmentVariables-power-automate.md
  powerapps-docs/maker/data-platform/EnvironmentVariables-power-automate.md
Owners: @Mattp123, @KumarVivek

Update EnvironmentVariables-data-source-canvas-apps.md
  powerapps-docs/maker/data-platform/EnvironmentVariables-data-source-canvas-apps.md
Owners: @Mattp123, @KumarVivek

Update EnvironmentVariables-azure-key-vault-secrets.md
  powerapps-docs/maker/data-platform/EnvironmentVariables-azure-key-vault-secrets.md
Owners: @Mattp123, @KumarVivek

Update EnvironmentVariables.md
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/create-performant-apps-overview.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/small-data-payloads.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/optimized-query-data-patterns.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/efficient-calculations.md
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
  powerapps-docs/maker/canvas-apps/small-data-payloads.md
Owners: @tapanm-msft, @KumarVivek

Updates content for Power Fx Formula Bar
  powerapps-docs/maker/canvas-apps/working-with-formulas.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/app-performance-considerations.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/create-performant-apps-overview.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/small-data-payloads.md
Owners: @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/create-performant-apps-overview.md
Owners: @tapanm-msft, @KumarVivek

Update use-access-teams-owner-teams-collaborate-share-information.md
  powerapps-docs/developer/data-platform/use-access-teams-owner-teams-collaborate-share-information.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updates for perf docs
  powerapps-docs/maker/canvas-apps/app-performance-considerations.md
  powerapps-docs/maker/canvas-apps/create-performant-apps-overview.md
  powerapps-docs/maker/canvas-apps/efficient-calculations.md
  powerapps-docs/maker/canvas-apps/execution-phases-data-flow.md
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
  powerapps-docs/maker/canvas-apps/optimized-query-data-patterns.md
  powerapps-docs/maker/canvas-apps/small-data-payloads.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
