Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update faqs-copilot-panel.md
  powerapps-docs/maker/common/faqs-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update faqs-copilot-panel.md
  powerapps-docs/maker/common/faqs-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Explain internationalization considerations of number input
  powerapps-docs/maker/canvas-apps/controls/control-text-input.md
Owners: @tapanm-msft, @KumarVivek

check
  powerapps-docs/developer/data-platform/create-elastic-tables.md
  powerapps-docs/developer/data-platform/elastic-table-samples.md
  powerapps-docs/developer/data-platform/elastic-tables.md
  powerapps-docs/developer/data-platform/optional-parameters.md
  powerapps-docs/developer/data-platform/query-json-columns-elastic-tables.md
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revising per current feature functionality
  powerapps-docs/maker/model-driven-apps/reporting-overview.md
Owners: @Mattp123, @KumarVivek

done
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Acrolinx changes
  powerapps-docs/maker/model-driven-apps/reporting-overview.md
Owners: @Mattp123, @KumarVivek

Update optimize-performance-create-update.md
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
Owners: @PHecke, @KumarVivek, @JimDaly

really done
  powerapps-docs/developer/data-platform/create-elastic-tables.md
  powerapps-docs/developer/data-platform/elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

reduce scope
  powerapps-docs/developer/data-platform/query-schema-definitions.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/query-schema-definitions.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove iframe tag
  powerapps-docs/maker/canvas-apps/embed-apps-dev.md
  powerapps-docs/user/navigation.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

reollback the change since it is a code example for html iframe
  powerapps-docs/maker/canvas-apps/embed-apps-dev.md
Owners: @tapanm-msft, @KumarVivek

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Delete timeline-what-you-missed.png
  powerapps-docs/user/media/timeline-what-you-missed.png
Owners: @mduelae, @KumarVivek

Add files via upload
  powerapps-docs/user/media/timeline-what-you-missed.png
Owners: @mduelae, @KumarVivek

Update set-up-timeline-control.md
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Committing updates
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Adding new article per 3258129
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/media/disable-mda-copilot-feedback1.png
  powerapps-docs/maker/model-driven-apps/media/disable-mda-copilot-feedback2.png
  powerapps-docs/maker/model-driven-apps/media/model-driven-app-copilot.png
Owners: @Mattp123, @KumarVivek

Update limits-and-config.md
  powerapps-docs/limits-and-config.md
Owners: @KumarVivek

Revising per 3528129
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

check
  powerapps-docs/developer/data-platform/org-service/samples/convert-queries-fetch-queryexpression.md
Owners: @PHecke, @KumarVivek, @JimDaly

Adding to TOC and retitling for accurracy
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @KumarVivek, @Mattp123

Update ai-edit-app.md
  powerapps-docs/maker/canvas-apps/ai-edit-app.md
Owners: @tapanm-msft, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

tweak
  powerapps-docs/developer/data-platform/org-service/samples/convert-queries-fetch-queryexpression.md
Owners: @PHecke, @KumarVivek, @JimDaly

Adding link to resp AI FAQ overview
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update merge-entity-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/merge-entity-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update grid-filters.md
  powerapps-docs/user/grid-filters.md
Owners: @mduelae, @KumarVivek

Update navigation.md
  powerapps-docs/user/navigation.md
Owners: @mduelae, @KumarVivek

doc feedback
  powerapps-docs/developer/model-driven-apps/clientapi/reference/xrm-app-appsidepane.md
Owners: @JimDaly, @KumarVivek

Update create-edit-elastic-tables.md
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Update set-up-timeline-control.md
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update set-up-timeline-control.md
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update set-up-timeline-control.md
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update set-up-timeline-control.md
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update set-up-timeline-control.md
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update cc-postoperation-description.md
  powerapps-docs/includes/cc-postoperation-description.md
Owners: @KumarVivek

added to dev docs & edit
  powerapps-docs/developer/data-platform/elastic-tables.md
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly, @Mattp123
