Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update save-publish-app.md
  powerapps-docs/maker/canvas-apps/save-publish-app.md
Owners: @tapanm-msft, @KumarVivek

Update ai-app-descriptions-faq.md
  powerapps-docs/maker/common/ai-app-descriptions-faq.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

add sample to TOC
  powerapps-docs/developer/data-platform/webapi/samples/toc.yml
Owners: @PHecke, @KumarVivek, @JimDaly

creating section for control
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/model-driven-apps/copilot-control.md
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
  powerapps-docs/maker/model-driven-apps/use-copilot-email-assist.md
Owners: @KumarVivek, @Mattp123

Update add-screen-context-variables.md
  powerapps-docs/maker/canvas-apps/add-screen-context-variables.md
Owners: @tapanm-msft, @KumarVivek

Revised for current experience and per 3510874
  powerapps-docs/maker/model-driven-apps/media/timeline-enable-ability-to-create-directly-from-timeline-11a.png
  powerapps-docs/maker/model-driven-apps/media/timeline-enable-status-tags-on-activity-record-types-display-options-advanced-11a.png
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Setting lightbox to expand image
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Bolding UI missed
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Acrolinx tweaks
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update add-screen-context-variables.md
  powerapps-docs/maker/canvas-apps/add-screen-context-variables.md
Owners: @tapanm-msft, @KumarVivek

Update add-screen-context-variables.md
  powerapps-docs/maker/canvas-apps/add-screen-context-variables.md
Owners: @tapanm-msft, @KumarVivek

Update add-screen-context-variables.md
  powerapps-docs/maker/canvas-apps/add-screen-context-variables.md
Owners: @tapanm-msft, @KumarVivek

edits
  powerapps-docs/developer/data-platform/search/autocomplete.md
  powerapps-docs/developer/data-platform/search/statistics.md
  powerapps-docs/developer/data-platform/search/status.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update create-connection-reference.md
  powerapps-docs/maker/data-platform/create-connection-reference.md
Owners: @Mattp123, @KumarVivek

added rich text editor option
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/model-driven-apps/copilot-control.md
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
Owners: @KumarVivek, @Mattp123

Revised for style and adding link
  powerapps-docs/maker/data-platform/create-connection-reference.md
Owners: @Mattp123, @KumarVivek

Removing broken link
  powerapps-docs/maker/data-platform/create-connection-reference.md
Owners: @Mattp123, @KumarVivek

Removing broken link
  powerapps-docs/maker/data-platform/create-connection-reference.md
Owners: @Mattp123, @KumarVivek

Update overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Update intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
Owners: @tapanm-msft, @KumarVivek

Update intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
Owners: @tapanm-msft, @KumarVivek

Update intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
Owners: @tapanm-msft, @KumarVivek

Delete homepage-new-look.png
  powerapps-docs/maker/canvas-apps/media/intro-maker-portal/homepage-new-look.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/intro-maker-portal/homepage-new-look.png
Owners: @tapanm-msft, @KumarVivek

Update intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
Owners: @tapanm-msft, @KumarVivek

Update intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
Owners: @tapanm-msft, @KumarVivek

Update intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
Owners: @tapanm-msft, @KumarVivek

Update get-started-create-from-data.md
  powerapps-docs/maker/canvas-apps/get-started-create-from-data.md
Owners: @tapanm-msft, @KumarVivek

Update data-platform-create-app.md
  powerapps-docs/maker/canvas-apps/data-platform-create-app.md
Owners: @tapanm-msft, @KumarVivek

Update app-from-sharepoint.md
  powerapps-docs/maker/canvas-apps/app-from-sharepoint.md
Owners: @tapanm-msft, @KumarVivek

Update app-from-sharepoint.md
  powerapps-docs/maker/canvas-apps/app-from-sharepoint.md
Owners: @tapanm-msft, @KumarVivek

Update connection-excel.md
  powerapps-docs/maker/canvas-apps/connections/connection-excel.md
Owners: @tapanm-msft, @KumarVivek

Update connection-excel.md
  powerapps-docs/maker/canvas-apps/connections/connection-excel.md
Owners: @tapanm-msft, @KumarVivek

Update connection-azure-sqldatabase.md
  powerapps-docs/maker/canvas-apps/connections/connection-azure-sqldatabase.md
Owners: @tapanm-msft, @KumarVivek

Update get-started-test-drive.md
  powerapps-docs/maker/canvas-apps/get-started-test-drive.md
Owners: @tapanm-msft, @KumarVivek

Update get-started-create-from-data.md
  powerapps-docs/maker/canvas-apps/get-started-create-from-data.md
Owners: @tapanm-msft, @KumarVivek

Update ai-conversations-create-app.md
  powerapps-docs/maker/canvas-apps/ai-conversations-create-app.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update ai-conversations-create-app.md
  powerapps-docs/maker/canvas-apps/ai-conversations-create-app.md
Owners: @tapanm-msft, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
