Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update asynchronous-service.md
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update asynchronous-service.md
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update share-app-guests.md
  powerapps-docs/maker/canvas-apps/share-app-guests.md
Owners: @tapanm-msft, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update data-retention-set.md
  powerapps-docs/maker/data-platform/data-retention-set.md
Owners: @Mattp123, @KumarVivek

Update asynchronous-service.md
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/export-data-lake-faq.yml
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/export-data-lake-faq.yml
Owners: @Mattp123, @KumarVivek

check
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update data-retention-manage.md
  powerapps-docs/maker/data-platform/data-retention-manage.md
Owners: @Mattp123, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Acrolinx revisions
  powerapps-docs/maker/model-driven-apps/create-edit-powerbi-report-dataset-components.md
Owners: @Mattp123, @KumarVivek

Revised for style and Acrolinx improvements
  powerapps-docs/maker/data-platform/data-retention-set.md
Owners: @Mattp123, @KumarVivek

check
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

final check?
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

add space
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-controls.md
Owners: @KumarVivek

Add link to ALM article in the powerquery documentation as this contains important information and limitations when Dataflows are used with more than one Dataverse environment.
  powerapps-docs/maker/data-platform/create-and-use-dataflows.md
Owners: @Mattp123, @KumarVivek

Update customize-list-form.md
  powerapps-docs/maker/canvas-apps/customize-list-form.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

Update copilot-data-security-privacy.md
  shared/responsible-ai-faqs-includes/copilot-data-security-privacy.md
Owners: none

Update copilot-data-security-privacy.md
  shared/responsible-ai-faqs-includes/copilot-data-security-privacy.md
Owners: none

Update copilot-data-security-privacy.md
  shared/responsible-ai-faqs-includes/copilot-data-security-privacy.md
Owners: none

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Add note about $orderby with aggregate values.
  powerapps-docs/developer/data-platform/webapi/query-data-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update copilot-data-security-privacy.md
  shared/responsible-ai-faqs-includes/copilot-data-security-privacy.md
Owners: none

Update copilot-data-security-privacy.md
  shared/responsible-ai-faqs-includes/copilot-data-security-privacy.md
Owners: none

Revised for style
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

Checking back in due to issue with multiple sections with same name
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

Update azure-synapse-link-msi.md
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-msi.md
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
Owners: @Mattp123, @KumarVivek

Revised for style and adding image
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
  powerapps-docs/maker/data-platform/media/use-managed-identity-cmd.png
Owners: @Mattp123, @KumarVivek
