Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

fix
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

fix
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

ready for review
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/samples/powershell-web-api-samples.md
Owners: @PHecke, @KumarVivek, @JimDaly

fit-n-finish
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/samples/powershell-web-api-samples.md
Owners: @PHecke, @KumarVivek, @JimDaly

Code location change
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed link
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

simplify
  powerapps-docs/developer/data-platform/webapi/media/web-api-ps-continue-4.png
  powerapps-docs/developer/data-platform/webapi/media/web-api-ps-enter-code-1.png
  powerapps-docs/developer/data-platform/webapi/media/web-api-ps-enter-password-3.png
  powerapps-docs/developer/data-platform/webapi/media/web-api-ps-sign-in-2.png
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

testing and added troubleshooting
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/samples/powershell-web-api-samples.md
Owners: @PHecke, @KumarVivek, @JimDaly

Ready for review
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/samples/powershell-web-api-samples.md
Owners: @PHecke, @KumarVivek, @JimDaly

sync samples article
  powerapps-docs/developer/data-platform/webapi/samples/powershell-web-api-samples.md
Owners: @PHecke, @KumarVivek, @JimDaly

fit-n-finish
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/webapi/TOC.yml
  powerapps-docs/developer/data-platform/webapi/quick-start-ps-2.md
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

check v2
  powerapps-docs/developer/data-platform/webapi/media/web-api-ps-final-5.png
  powerapps-docs/developer/data-platform/webapi/quick-start-ps-2.md
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

move includes to shared folder
  shared/guidance-includes/daf-bus-proces-catalog.md
  shared/guidance-includes/daf-bus-proces-download.md
  shared/guidance-includes/daf-business-process-def.md
  shared/guidance-includes/daf-business-process-def2.md
  shared/guidance-includes/daf-business-process-e2e-flow-def.md
  shared/guidance-includes/daf-business-process-flow-def.md
  shared/guidance-includes/daf-business-process-register.md
  shared/guidance-includes/daf-business-process-submit.md
  shared/guidance-includes/daf-busprocess-example.md
Owners: none

Update offline-file-images.md
  powerapps-docs/mobile/offline-file-images.md
Owners: @KumarVivek

Update offline-file-images.md
  powerapps-docs/mobile/offline-file-images.md
Owners: @KumarVivek

Update offline-file-images.md
  powerapps-docs/mobile/offline-file-images.md
Owners: @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update offline-file-images.md
  powerapps-docs/mobile/offline-file-images.md
Owners: @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update daf-bus-proces-download.md
  shared/guidance-includes/daf-bus-proces-download.md
Owners: none

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Removing preview indicators per 3725843
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Update offline-file-images.md
  powerapps-docs/mobile/offline-file-images.md
Owners: @KumarVivek

Removing preview moniker from TOC
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update offline-file-images.md
  powerapps-docs/mobile/offline-file-images.md
Owners: @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update files-images-offline-canvas-apps.md
  powerapps-docs/mobile/files-images-offline-canvas-apps.md
Owners: @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek
