Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update attach-email.md
  powerapps-docs/user/attach-email.md
Owners: @mduelae, @KumarVivek

Update attach-email.md
  powerapps-docs/user/attach-email.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update set-personal-options.md
  powerapps-docs/user/set-personal-options.md
Owners: @mduelae, @KumarVivek

Misspelling fix
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Rename gallery-pitfalls.md to gallery-best-practice.md
  powerapps-docs/maker/canvas-apps/gallery-best-practice.md
Owners: @tapanm-msft, @KumarVivek

Update gallery-best-practice.md
  powerapps-docs/maker/canvas-apps/gallery-best-practice.md
Owners: @tapanm-msft, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update gallery-best-practice.md
  powerapps-docs/maker/canvas-apps/gallery-best-practice.md
Owners: @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/azure-synapse-link-view-fabric.md
Owners: @Mattp123, @KumarVivek

tweaks
  powerapps-docs/maker/canvas-apps/gallery-best-practice.md
Owners: @tapanm-msft, @KumarVivek

Update gallery-best-practice.md
  powerapps-docs/maker/canvas-apps/gallery-best-practice.md
Owners: @tapanm-msft, @KumarVivek

Update gallery-best-practice.md
  powerapps-docs/maker/canvas-apps/gallery-best-practice.md
Owners: @tapanm-msft, @KumarVivek

Revised for style
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/azure-synapse-link-build-apps-with-fabric.md
  powerapps-docs/maker/data-platform/azure-synapse-link-view-fabric.md
  powerapps-docs/maker/data-platform/powerapps-checker/rules/web/Azure-Synapse-Link-Build-Apps-with-Fabric.md
Owners: @KumarVivek, @Mattp123

file rename to original
  powerapps-docs/maker/data-platform/azure-synapse-link-view-in-fabric.md
Owners: @Mattp123, @KumarVivek

file name correction
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/azure-synapse-link-build-apps-with-fabric.md
Owners: @KumarVivek, @Mattp123

Revised for style
  powerapps-docs/maker/data-platform/azure-synapse-link-build-apps-with-fabric.md
Owners: @Mattp123, @KumarVivek

Update show-images-text-gallery-sort-filter.md
  powerapps-docs/maker/canvas-apps/show-images-text-gallery-sort-filter.md
Owners: @tapanm-msft, @KumarVivek

Updated procedure text
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

Create faq-draft-with-copilot
  powerapps-docs/maker/common/faq-draft-with-copilot
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Create ai-plugin.md
  powerapps-docs/maker/common/ai-plugin.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update define-alternate-keys-reference-records.md
  powerapps-docs/maker/data-platform/define-alternate-keys-reference-records.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-build-apps-with-fabric.md
  powerapps-docs/maker/data-platform/azure-synapse-link-build-apps-with-fabric.md
Owners: @Mattp123, @KumarVivek

Inserted space in PowerApps
  powerapps-docs/developer/component-framework/implementing-controls-using-typescript.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised for style
  powerapps-docs/maker/data-platform/azure-synapse-link-build-apps-with-fabric.md
  powerapps-docs/maker/data-platform/create-virtual-tables-using-connectors.md
Owners: @Mattp123, @KumarVivek

Adding preview indicator for TOC entry
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update ai-conversations-create-app.md
  powerapps-docs/maker/canvas-apps/ai-conversations-create-app.md
Owners: @tapanm-msft, @KumarVivek

Update ai-conversations-create-app.md
  powerapps-docs/maker/canvas-apps/ai-conversations-create-app.md
Owners: @tapanm-msft, @KumarVivek

Update ai-conversations-create-app.md
  powerapps-docs/maker/canvas-apps/ai-conversations-create-app.md
Owners: @tapanm-msft, @KumarVivek

Update implementing-controls-using-typescript.md
  powerapps-docs/developer/component-framework/implementing-controls-using-typescript.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update app-from-sharepoint.md
  powerapps-docs/maker/canvas-apps/app-from-sharepoint.md
Owners: @tapanm-msft, @KumarVivek

updates for Entra ID Rename
  powerapps-docs/developer/data-platform/reference/entities/aaduser.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove toc updates
  powerapps-docs/developer/data-platform/reference/entities/aaduser.md
Owners: @PHecke, @KumarVivek, @JimDaly

additional updates for Entra ID
  .vscode/settings.json
  powerapps-docs/developer/data-platform/aaduser-entity.md
  powerapps-docs/developer/data-platform/media/add-lookup-aaduser.png
Owners: @PHecke, @KumarVivek, @JimDaly

Replaced image
  powerapps-docs/developer/data-platform/media/app-registration-overview-page.png
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove settings update
  powerapps-docs/developer/data-platform/aaduser-entity.md
  powerapps-docs/developer/data-platform/media/add-lookup-aaduser.png
Owners: @PHecke, @KumarVivek, @JimDaly

remove change to settings
  .vscode/settings.json
Owners: none

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
