Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Fixing bookmark
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
Owners: @Mattp123, @KumarVivek

fix error format
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Agile 24185141 Docs
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek

Add Cross table comparisons
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed spelling for possible link-type values link-entity.md and added descriptions for in and exists
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updated the condition patterns for "in" and "exists" in link-entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updated descriptions for any/all types in link-entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update link-entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

update sample code for aggregates
  powerapps-docs/developer/data-platform/fetchxml/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-alias-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Mention external restrictions to media URLs
  powerapps-docs/maker/canvas-apps/add-images-pictures-audio-video.md
  powerapps-docs/maker/canvas-apps/controls/control-attachments.md
  powerapps-docs/maker/canvas-apps/controls/control-audio-video.md
  powerapps-docs/maker/canvas-apps/controls/control-pdf-viewer.md
Owners: @tapanm-msft, @KumarVivek

edits
  powerapps-docs/developer/data-platform/fetchxml/optimize-performance.md
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/reference/attribute.md
  powerapps-docs/developer/data-platform/fetchxml/reference/condition.md
  powerapps-docs/developer/data-platform/fetchxml/reference/entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-enableprefiltering-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-prefilterparametername-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/order.md
Owners: @PHecke, @KumarVivek, @JimDaly

row aggregate
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/reference/attribute.md
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
Owners: @PHecke, @KumarVivek, @JimDaly

Metrics report for AI/Copilot content
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update copilot-chat-in-webplayer.md
  powerapps-docs/user/copilot-chat-in-webplayer.md
Owners: @mduelae, @KumarVivek

Update faq-draft-with-copilot.md
  powerapps-docs/maker/common/faq-draft-with-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Date and Acrolinx updates
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek

Update image-column-data.md
  powerapps-docs/developer/data-platform/image-column-data.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-chatbot.md
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update ai-conversations-create-app.md
  powerapps-docs/maker/canvas-apps/ai-conversations-create-app.md
Owners: @tapanm-msft, @KumarVivek

Update ai-edit-app.md
  powerapps-docs/maker/canvas-apps/ai-edit-app.md
Owners: @tapanm-msft, @KumarVivek

Update build-ai-plugin-for-copilot.md
  powerapps-docs/maker/common/build-ai-plugin-for-copilot.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update ai-app-descriptions-faq.md
  powerapps-docs/maker/common/ai-app-descriptions-faq.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update faq-copilot-control.md
  powerapps-docs/maker/common/faq-copilot-control.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update faqs-build-apps-conversation.md
  powerapps-docs/maker/common/faqs-build-apps-conversation.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update faqs-copilot-panel.md
  powerapps-docs/maker/common/faqs-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update advanced-find.md
  powerapps-docs/user/advanced-find.md
Owners: @mduelae, @KumarVivek

Update file-column-data.md
  powerapps-docs/developer/data-platform/file-column-data.md
Owners: @PHecke, @KumarVivek, @JimDaly

doc feedback 5052
  powerapps-docs/developer/model-driven-apps/TOC.yml
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/form-onload.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/save-event-arguments.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/save-event-arguments/disableasynctimeout.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/save-event-arguments/includes/disableAsyncTimeout-description.md
Owners: @JimDaly, @KumarVivek

add links
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/form-onsave.md
Owners: @JimDaly, @KumarVivek

add example
  powerapps-docs/developer/model-driven-apps/clientapi/reference/save-event-arguments/disableasynctimeout.md
Owners: @JimDaly, @KumarVivek

acrolinx
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/form-onload.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/save-event-arguments.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/save-event-arguments/includes/disableAsyncTimeout-description.md
Owners: @JimDaly, @KumarVivek

Update track-your-progress-with-dashboard-and-charts.md
  powerapps-docs/user/track-your-progress-with-dashboard-and-charts.md
Owners: @mduelae, @KumarVivek

Update run-app-browser.md
  powerapps-docs/user/run-app-browser.md
Owners: @mduelae, @KumarVivek

Update run-app-browser.md
  powerapps-docs/user/run-app-browser.md
Owners: @mduelae, @KumarVivek
