Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Update use-@mentions.md
  powerapps-docs/user/use-@mentions.md
Owners: @mduelae, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Added faq to alert
  powerapps-docs/developer/data-platform/build-and-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update control-pdf-viewer.md
  powerapps-docs/maker/canvas-apps/controls/control-pdf-viewer.md
Owners: @tapanm-msft, @KumarVivek

added license checker rules
  powerapps-docs/maker/data-platform/use-powerapps-checker.md
Owners: @Mattp123, @KumarVivek

Update canvas-mobile-offline-working.md
  powerapps-docs/mobile/canvas-mobile-offline-working.md
Owners: @KumarVivek

Added redirect
  .openpublishing.redirection.json
  powerapps-docs/maker/canvas-apps/working-with-dynamic-schema.md
Owners: @tapanm-msft, @KumarVivek

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update use-@mentions.md
  powerapps-docs/user/use-@mentions.md
Owners: @mduelae, @KumarVivek

Adding new article per 3601359
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/media/preferred-solution-status.png
  powerapps-docs/maker/data-platform/preferred-solution.md
Owners: @KumarVivek, @Mattp123

Adding new article per 3601359
  powerapps-docs/maker/data-platform/preferred-solution.md
Owners: @Mattp123, @KumarVivek

Adding new article per 3601359
  powerapps-docs/maker/data-platform/media/delete-preferred-solution.png
  powerapps-docs/maker/data-platform/preferred-solution.md
Owners: @Mattp123, @KumarVivek

offline clarifications
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Updating media per 3632277
  powerapps-docs/maker/model-driven-apps/media/disable-mda-copilot-feedback1.png
Owners: @Mattp123, @KumarVivek

Revised per 3601359
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/preferred-solution.md
Owners: @KumarVivek, @Mattp123

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Added more info about transition job
  powerapps-docs/developer/data-platform/email-activity-entities.md
Owners: @PHecke, @KumarVivek, @JimDaly

Dev feedback
  powerapps-docs/maker/data-platform/use-powerapps-checker.md
Owners: @Mattp123, @KumarVivek

Update
  powerapps-docs/maker/data-platform/use-powerapps-checker.md
Owners: @Mattp123, @KumarVivek

[Offline Capabilities] Fix formatting in Limitations
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Update canvas-mobile-offline-working.md
  powerapps-docs/mobile/canvas-mobile-offline-working.md
Owners: @KumarVivek

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Update canvas-mobile-offline-working.md
  powerapps-docs/mobile/canvas-mobile-offline-working.md
Owners: @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Update modern-controls-reference.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-reference.md
Owners: @tapanm-msft, @KumarVivek

Update overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Add new line in Filtering Attributes docs
  powerapps-docs/developer/data-platform/register-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update portal-designer-anatomy.md
  powerapps-docs/maker/portals/portal-designer-anatomy.md
Owners: @nickdoelman, @KumarVivek

Updating description via ghostwriter VSC extension
  powerapps-docs/maker/data-platform/preferred-solution.md
Owners: @Mattp123, @KumarVivek

Update control-audio-video.md
  powerapps-docs/maker/canvas-apps/controls/control-audio-video.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-button.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-button.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-checkbox.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-checkbox.md
Owners: @tapanm-msft, @KumarVivek
