Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update share-row.md
  powerapps-docs/user/share-row.md
Owners: @mduelae, @KumarVivek

Update track-your-progress-with-dashboard-and-charts.md
  powerapps-docs/user/track-your-progress-with-dashboard-and-charts.md
Owners: @mduelae, @KumarVivek

Update troubleshoot-reports.md
  powerapps-docs/user/troubleshoot-reports.md
Owners: @mduelae, @KumarVivek

Update unified-interface.md
  powerapps-docs/user/unified-interface.md
Owners: @mduelae, @KumarVivek

Update unresolved-email-recipient.md
  powerapps-docs/user/unresolved-email-recipient.md
Owners: @mduelae, @KumarVivek

Update use-flows.md
  powerapps-docs/user/use-flows.md
Owners: @mduelae, @KumarVivek

Update use-model-driven-apps.md
  powerapps-docs/user/use-model-driven-apps.md
Owners: @mduelae, @KumarVivek

Update use-outlook-app.md
  powerapps-docs/user/use-outlook-app.md
Owners: @mduelae, @KumarVivek

Update view-compose-email.md
  powerapps-docs/user/view-compose-email.md
Owners: @mduelae, @KumarVivek

Update view-create-email.md
  powerapps-docs/user/view-create-email.md
Owners: @mduelae, @KumarVivek

Update view-your-user-profile.md
  powerapps-docs/user/view-your-user-profile.md
Owners: @mduelae, @KumarVivek

Update visualize-in-power-bi.md
  powerapps-docs/user/visualize-in-power-bi.md
Owners: @mduelae, @KumarVivek

Update work-with-business-processes.md
  powerapps-docs/user/work-with-business-processes.md
Owners: @mduelae, @KumarVivek

Update work-with-reports.md
  powerapps-docs/user/work-with-reports.md
Owners: @mduelae, @KumarVivek

edits
  powerapps-docs/developer/data-platform/delete-data-bulk.md
Owners: @PHecke, @KumarVivek, @JimDaly

typo
  powerapps-docs/developer/data-platform/delete-data-bulk.md
Owners: @PHecke, @KumarVivek, @JimDaly

period
  powerapps-docs/developer/data-platform/delete-data-bulk.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revising for style and clarity
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

VE plug-ins not supported
  powerapps-docs/developer/data-platform/dependent-assembly-plugins.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/dependent-assembly-plugins.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add Cards ALM Documentation
  powerapps-docs/cards/manage-cards/data-loss-prevention.md
  powerapps-docs/cards/manage-cards/delete-cards.md
  powerapps-docs/cards/manage-cards/manage-access.md
  powerapps-docs/cards/manage-cards/manage-cards-in-solutions.md
  powerapps-docs/cards/media/manage-cards/add-existing-card.png
  powerapps-docs/cards/media/manage-cards/add-required-objects.png
  powerapps-docs/cards/media/manage-cards/card-designer.png
  powerapps-docs/cards/media/manage-cards/create-card-modal.png
  powerapps-docs/cards/media/manage-cards/flow-add-required-objects.png
  powerapps-docs/cards/media/manage-cards/select-existing-card.png
  powerapps-docs/cards/media/manage-cards/solution-new-card.png
  powerapps-docs/cards/media/manage-cards/solution-tab.png
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

avoid rename
  powerapps-docs/cards/manage-cards/manage-cards.md
  powerapps-docs/cards/send-a-card/send-card-with-flow.md
Owners: @KumarVivek

improving readability
  powerapps-docs/cards/manage-cards/manage-cards-in-solutions.md
Owners: @KumarVivek

updating image
  powerapps-docs/cards/manage-cards/manage-cards-in-solutions.md
Owners: @KumarVivek

remove space
  powerapps-docs/cards/manage-cards/manage-cards-in-solutions.md
Owners: @KumarVivek

testing another image
  powerapps-docs/cards/manage-cards/manage-cards-in-solutions.md
Owners: @KumarVivek

remove duplicate file
  powerapps-docs/cards/manage-cards/manage-cards-in-solutions.md
  powerapps-docs/cards/manage-cards/manage-cards.md
Owners: @KumarVivek

Update data-retention-manage.md
  powerapps-docs/maker/data-platform/data-retention-manage.md
Owners: @Mattp123, @KumarVivek

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Update actions.md
  powerapps-docs/maker/data-platform/actions.md
Owners: @Mattp123, @KumarVivek

Update optimize-images-upload.md
  powerapps-docs/mobile/optimize-images-upload.md
Owners: @KumarVivek

Tweaks
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update app-source.md
  powerapps-docs/user/app-source.md
Owners: @mduelae, @KumarVivek

Update Access-team.md
  powerapps-docs/user/Access-team.md
Owners: @mduelae, @KumarVivek

Update add-connection-role.md
  powerapps-docs/user/add-connection-role.md
Owners: @mduelae, @KumarVivek

Update add-existing-report.md
  powerapps-docs/user/add-existing-report.md
Owners: @mduelae, @KumarVivek

Update app-source.md
  powerapps-docs/user/app-source.md
Owners: @mduelae, @KumarVivek

Update create-report-with-wizard.md
  powerapps-docs/user/create-report-with-wizard.md
Owners: @mduelae, @KumarVivek

Update email-dynamic-text.md
  powerapps-docs/user/email-dynamic-text.md
Owners: @mduelae, @KumarVivek

Fixing malformed table and adding code tags for table metadata
  powerapps-docs/maker/data-platform/data-retention-manage.md
Owners: @Mattp123, @KumarVivek
