Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update index.md
  powerapps-docs/user/index.md
Owners: @mduelae, @KumarVivek

Update insert-email-template.md
  powerapps-docs/user/insert-email-template.md
Owners: @mduelae, @KumarVivek

Update interactive-dashboards.md
  powerapps-docs/user/interactive-dashboards.md
Owners: @mduelae, @KumarVivek

Update join-teams-meeting-from-appointments.md
  powerapps-docs/user/join-teams-meeting-from-appointments.md
Owners: @mduelae, @KumarVivek

Update keyboard-shortcuts.md
  powerapps-docs/user/keyboard-shortcuts.md
Owners: @mduelae, @KumarVivek

Update lookup-field.md
  powerapps-docs/user/lookup-field.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update navigation.md
  powerapps-docs/user/navigation.md
Owners: @mduelae, @KumarVivek

Update notifications.md
  powerapps-docs/user/notifications.md
Owners: @mduelae, @KumarVivek

Update one-drive.md
  powerapps-docs/user/one-drive.md
Owners: @mduelae, @KumarVivek

Update onenote.md
  powerapps-docs/user/onenote.md
Owners: @mduelae, @KumarVivek

Update open-app-embedded-in-teams.md
  powerapps-docs/user/open-app-embedded-in-teams.md
Owners: @mduelae, @KumarVivek

Revised for clarity and style
  powerapps-docs/maker/data-platform/table-settings-for-copilot.md
Owners: @Mattp123, @KumarVivek

test build
  powerapps-docs/developer/data-platform/use-open-types.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  powerapps-docs/developer/data-platform/use-open-types.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/use-open-types.md
Owners: @PHecke, @KumarVivek, @JimDaly

custom API, not Custom API
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/business-events.md
  powerapps-docs/developer/data-platform/catalog-catalogassignment.md
  powerapps-docs/developer/data-platform/community-tools.md
  powerapps-docs/developer/data-platform/create-custom-api-maker-portal.md
  powerapps-docs/developer/data-platform/create-custom-api-prt.md
  powerapps-docs/developer/data-platform/create-custom-api-solution.md
  powerapps-docs/developer/data-platform/create-custom-api-with-code.md
  powerapps-docs/developer/data-platform/custom-actions.md
  powerapps-docs/developer/data-platform/custom-api-tables.md
  powerapps-docs/developer/data-platform/dependent-assembly-plugins.md
  powerapps-docs/developer/data-platform/org-service/samples/issystemadmin-customapi-sample-plugin.md
  powerapps-docs/developer/data-platform/org-service/samples/toc.yml
  powerapps-docs/developer/data-platform/org-service/use-messages.md
  powerapps-docs/developer/data-platform/query-json-columns-elastic-tables.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice-functions-and-actions.md
  powerapps-docs/developer/data-platform/webapi/samples/webapiservice.md
  powerapps-docs/developer/data-platform/webapi/use-web-api-actions.md
  powerapps-docs/developer/data-platform/webapi/web-api-actions.md
  powerapps-docs/developer/data-platform/webapi/web-api-entitytypes.md
  powerapps-docs/developer/data-platform/webapi/web-api-functions-actions-sample.md
  powerapps-docs/developer/data-platform/webapi/web-api-functions.md
  powerapps-docs/developer/data-platform/workflow-custom-actions.md
  powerapps-docs/developer/model-driven-apps/clientapi/send-in-app-notifications.md
  powerapps-docs/includes/cc-mainoperation-description.md
  powerapps-docs/maker/data-platform/actions.md
  powerapps-docs/maker/data-platform/configure-actions.md
  powerapps-docs/maker/data-platform/create-actions.md
  powerapps-docs/maker/data-platform/table-solution-objects.md
Owners: @PHecke, @KumarVivek, @JimDaly, @Mattp123

update public doc
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Create optimize-images-upload.md
  powerapps-docs/mobile/optimize-images-upload.md
Owners: @KumarVivek

Update optimize-images-upload.md
  powerapps-docs/mobile/optimize-images-upload.md
Owners: @KumarVivek

Adding preview tagging per PM
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/table-settings-for-copilot.md
Owners: @KumarVivek, @Mattp123

Update optimize-images-upload.md
  powerapps-docs/mobile/optimize-images-upload.md
Owners: @KumarVivek

Add files via upload
  powerapps-docs/mobile/media/optimize-images-setting.png
Owners: @KumarVivek

Update optimize-images-upload.md
  powerapps-docs/mobile/optimize-images-upload.md
Owners: @KumarVivek

Adding preview tags and resp AI FAQ link
  powerapps-docs/maker/data-platform/table-settings-for-copilot.md
Owners: @Mattp123, @KumarVivek

update doc
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

bulk-operations
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix errors
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

write-plugin-multiple-operation
  powerapps-docs/developer/data-platform/bulk-operations.md
  powerapps-docs/developer/data-platform/write-plugin-multiple-operation.md
Owners: @PHecke, @KumarVivek, @JimDaly

You not you
  powerapps-docs/developer/data-platform/write-plugin-multiple-operation.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update powerapps-web-part.md
  powerapps-docs/user/powerapps-web-part.md
Owners: @mduelae, @KumarVivek

Update profile-cards.md
  powerapps-docs/user/profile-cards.md
Owners: @mduelae, @KumarVivek

Update quick-find.md
  powerapps-docs/user/quick-find.md
Owners: @mduelae, @KumarVivek

Update relevance-faq.md
  powerapps-docs/user/relevance-faq.md
Owners: @mduelae, @KumarVivek

Update relevance-search.md
  powerapps-docs/user/relevance-search.md
Owners: @mduelae, @KumarVivek

Update run-app-browser.md
  powerapps-docs/user/run-app-browser.md
Owners: @mduelae, @KumarVivek

Update screen-reader.md
  powerapps-docs/user/screen-reader.md
Owners: @mduelae, @KumarVivek

Update search.md
  powerapps-docs/user/search.md
Owners: @mduelae, @KumarVivek

Update set-personal-options.md
  powerapps-docs/user/set-personal-options.md
Owners: @mduelae, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
