Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Fixed author
  powerapps-docs/developer/data-platform/dataverse-odata-dataflows-migration.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update merge-duplicate-records.md
  powerapps-docs/user/merge-duplicate-records.md
Owners: @mduelae, @KumarVivek

acrolinx
  powerapps-docs/developer/data-platform/search/autocomplete.md
  powerapps-docs/developer/data-platform/search/legacy.md
  powerapps-docs/developer/data-platform/search/overview.md
  powerapps-docs/developer/data-platform/search/query.md
  powerapps-docs/developer/data-platform/search/statistics-status.md
  powerapps-docs/developer/data-platform/search/suggest.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update data-retention-overview.md
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Update file-column-data.md
  powerapps-docs/developer/data-platform/file-column-data.md
Owners: @PHecke, @KumarVivek, @JimDaly

changed to internal link
  powerapps-docs/developer/test-engine/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update execute-batch-operations-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/execute-batch-operations-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update execute-batch-operations-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/execute-batch-operations-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update execute-batch-operations-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/execute-batch-operations-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update execute-batch-operations-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/execute-batch-operations-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update execute-batch-operations-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/execute-batch-operations-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  powerapps-docs/developer/data-platform/webapi/execute-batch-operations-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

remove must
  powerapps-docs/developer/data-platform/webapi/execute-batch-operations-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update modern-theme-overrides.md
  powerapps-docs/maker/model-driven-apps/modern-theme-overrides.md
Owners: @Mattp123, @KumarVivek

Removed not needed AD mentions
  powerapps-docs/developer/data-platform/authenticate-oauth.md
Owners: @PHecke, @KumarVivek, @JimDaly

add missing parentheses
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

Rebranding
  powerapps-docs/developer/data-platform/user-team-entities.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added a note about Azure AD rebranding
  powerapps-docs/developer/data-platform/aaduser-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revising per 3624131
  powerapps-docs/maker/model-driven-apps/share-model-driven-app.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/modern-theme-overrides.md
Owners: @Mattp123, @KumarVivek

add info on error
  powerapps-docs/developer/data-platform/custom-api.md
  powerapps-docs/developer/data-platform/org-service/early-bound-programming.md
  powerapps-docs/developer/data-platform/org-service/generate-early-bound-classes.md
  powerapps-docs/developer/data-platform/org-service/use-messages.md
  powerapps-docs/includes/sdk-codegenutility.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixes
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/aad-group-team.md
  powerapps-docs/developer/data-platform/authenticate-oauth.md
  powerapps-docs/developer/data-platform/authenticate-office365-deprecation.md
  powerapps-docs/developer/data-platform/authentication.md
  powerapps-docs/developer/data-platform/build-web-applications-server-server-s2s-authentication.md
  powerapps-docs/developer/data-platform/data-export-service.md
  powerapps-docs/developer/data-platform/dataverse-odata-dataflows-migration.md
  powerapps-docs/developer/data-platform/dataverse-sql-query.md
  powerapps-docs/developer/data-platform/discovery-service.md
  powerapps-docs/developer/data-platform/impersonate-another-user.md
  powerapps-docs/developer/data-platform/index.yml
  powerapps-docs/developer/data-platform/oauth-cross-origin-resource-sharing-connect-single-page-application.md
  powerapps-docs/developer/data-platform/org-service/samples/disable-a-user.md
  powerapps-docs/developer/data-platform/quick-start-register-configure-simplespa-application-msal-js.md
  powerapps-docs/developer/data-platform/sample-blazor-web-assembly-global-discovery.md
  powerapps-docs/developer/data-platform/use-multi-tenant-server-server-authentication.md
  powerapps-docs/developer/data-platform/use-single-tenant-server-server-authentication.md
  powerapps-docs/developer/data-platform/user-team-entities.md
  powerapps-docs/developer/data-platform/walkthrough-blazor-webassembly-single-tenant.md
  powerapps-docs/developer/data-platform/walkthrough-register-app-azure-active-directory.md
  powerapps-docs/developer/data-platform/webapi/compose-http-requests-handle-errors.md
  powerapps-docs/developer/data-platform/webapi/impersonate-another-user-web-api.md
  powerapps-docs/developer/data-platform/webapi/quick-start-blazor-server-app.md
  powerapps-docs/developer/data-platform/webapi/quick-start-console-app-csharp.md
  powerapps-docs/developer/data-platform/webapi/setup-postman-environment.md
  powerapps-docs/developer/data-platform/xrm-tooling/use-connection-strings-xrm-tooling-connect.md
  powerapps-docs/developer/model-driven-apps/clientapi/send-in-app-notifications.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised per 3264131
  powerapps-docs/maker/model-driven-apps/media/share-model-driven-app/share-model-driven-app.png
  powerapps-docs/maker/model-driven-apps/share-model-driven-app.md
Owners: @Mattp123, @KumarVivek

acrolinx
  powerapps-docs/developer/data-platform/custom-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updated for GA release
  powerapps-docs/developer/data-platform/delete-data-bulk.md
  powerapps-docs/developer/data-platform/long-term-retention.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised per 3624131
  powerapps-docs/maker/model-driven-apps/media/share-model-driven-app/share-app.png
  powerapps-docs/maker/model-driven-apps/media/share-model-driven-app/share-user.png
Owners: @Mattp123, @KumarVivek

Removed preview banner
  powerapps-docs/developer/data-platform/long-term-retention.md
Owners: @PHecke, @KumarVivek, @JimDaly

Acrolinx recommendations applied
  powerapps-docs/developer/data-platform/long-term-retention.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised per 3624131
  powerapps-docs/maker/model-driven-apps/share-model-driven-app.md
Owners: @Mattp123, @KumarVivek

Revised per 3624131
  powerapps-docs/maker/model-driven-apps/share-model-driven-app.md
Owners: @Mattp123, @KumarVivek

Fixing bookmark link
  powerapps-docs/maker/model-driven-apps/share-model-driven-app.md
Owners: @Mattp123, @KumarVivek

Fixing link
  powerapps-docs/maker/model-driven-apps/share-model-driven-app.md
Owners: @Mattp123, @KumarVivek

Acrolinx fix
  powerapps-docs/maker/model-driven-apps/share-model-driven-app.md
Owners: @Mattp123, @KumarVivek

Fixing broken link due to article restructure
  powerapps-docs/maker/model-driven-apps/run-model-driven-app.md
Owners: @Mattp123, @KumarVivek

Update visualize-in-power-bi.md
  powerapps-docs/user/visualize-in-power-bi.md
Owners: @mduelae, @KumarVivek

Update visualize-in-power-bi.md
  powerapps-docs/user/visualize-in-power-bi.md
Owners: @mduelae, @KumarVivek

Update visualize-in-power-bi.md
  powerapps-docs/user/visualize-in-power-bi.md
Owners: @mduelae, @KumarVivek

Revamp of date and time column documentation
  powerapps-docs/developer/data-platform/behavior-format-date-time-attribute.md
  powerapps-docs/maker/data-platform/behavior-format-date-time-field.md
Owners: @PHecke, @KumarVivek, @JimDaly, @Mattp123

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
