Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update about-dialog.md
  powerapps-docs/user/about-dialog.md
Owners: @mduelae, @KumarVivek

Update about-dialog.md
  powerapps-docs/user/about-dialog.md
Owners: @mduelae, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

link won't work
  powerapps-docs/developer/data-platform/scalable-customization-design/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update connections-list.md
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Update use-change-tracking-synchronize-data-external-systems.md
  powerapps-docs/developer/data-platform/use-change-tracking-synchronize-data-external-systems.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revising for clarity and completeness
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/model-driven-apps/app-access-checker
  powerapps-docs/maker/model-driven-apps/app-access-checker.md
Owners: @KumarVivek, @Mattp123

Revising for clarity and completeness
  powerapps-docs/maker/model-driven-apps/app-access-checker.md
Owners: @Mattp123, @KumarVivek

additional limitation
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Update azure-synapse-link-pipelines.md
  powerapps-docs/maker/data-platform/azure-synapse-link-pipelines.md
Owners: @Mattp123, @KumarVivek

Revising for clarity and completeness
  powerapps-docs/maker/model-driven-apps/app-access-checker.md
Owners: @Mattp123, @KumarVivek

Monthly channel
  powerapps-docs/maker/model-driven-apps/channel-overview.md
Owners: @Mattp123, @KumarVivek

Update with suggestions
  powerapps-docs/maker/model-driven-apps/app-access-checker.md
Owners: @Mattp123, @KumarVivek

revised
  powerapps-docs/developer/data-platform/scalable-customization-design/database-transactions.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/scalable-customization-design/database-transactions.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  powerapps-docs/developer/data-platform/use-change-tracking-synchronize-data-external-systems.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix link
  powerapps-docs/developer/data-platform/use-change-tracking-synchronize-data-external-systems.md
Owners: @PHecke, @KumarVivek, @JimDaly

Changes asked by Chris
  powerapps-docs/developer/data-platform/scalable-customization-design/database-transactions.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updates
  powerapps-docs/index.yml
Owners: @KumarVivek

Updated article
  powerapps-docs/developer/data-platform/register-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update override-default-open-behavior-grids.md
  powerapps-docs/developer/model-driven-apps/override-default-open-behavior-grids.md
Owners: @JimDaly, @KumarVivek

Update community-tools.md
  powerapps-docs/developer/data-platform/community-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update create-app-side-panes.md
  powerapps-docs/developer/model-driven-apps/clientapi/create-app-side-panes.md
Owners: @JimDaly, @KumarVivek

Update with text suggestions
  powerapps-docs/maker/model-driven-apps/app-access-checker.md
Owners: @Mattp123, @KumarVivek

tweak
  powerapps-docs/maker/model-driven-apps/app-access-checker.md
Owners: @Mattp123, @KumarVivek

Revised for style and completeness
  powerapps-docs/maker/model-driven-apps/app-access-checker.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-delta-lake.md
  powerapps-docs/maker/data-platform/azure-synapse-link-delta-lake.md
Owners: @Mattp123, @KumarVivek

Blurring media for unapproved names and attempt to spell correct
  powerapps-docs/maker/model-driven-apps/media/app-access-checker/user-access-role-2.png
  powerapps-docs/maker/model-driven-apps/media/app-access-checker/user-access-role.png
  powerapps-docs/maker/model-driven-apps/media/app-access-checker/user-no-access.png
  powerapps-docs/maker/model-driven-apps/media/app-access-checker/user-no-license-access.png
  powerapps-docs/maker/model-driven-apps/media/app-access-checker/user-no-security-access.png
Owners: @Mattp123, @KumarVivek

Revised for clarity
  powerapps-docs/maker/model-driven-apps/app-access-checker.md
Owners: @Mattp123, @KumarVivek

Monthly channel
  powerapps-docs/maker/model-driven-apps/channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-overview.md
Owners: @Mattp123, @KumarVivek

Monthly channel
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Monthly channel
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Update use-change-tracking-synchronize-data-external-systems.md
  powerapps-docs/developer/data-platform/use-change-tracking-synchronize-data-external-systems.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised for style and adding to TOC
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/model-driven-apps/channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-overview.md
Owners: @KumarVivek, @Mattp123

Revised for style
  powerapps-docs/whats-new.md
Owners: @KumarVivek

Revised for style
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update azure-synapse-link-delta-lake.md
  powerapps-docs/maker/data-platform/azure-synapse-link-delta-lake.md
Owners: @Mattp123, @KumarVivek

Update transform-infopath.md
  powerapps-docs/maker/canvas-apps/transform-infopath.md
Owners: @tapanm-msft, @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

TOC revision
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek
