Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Remove preview for Dependent assemblies
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/dependent-assembly-plugins.md
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix links
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix dates and metadata
  powerapps-docs/developer/data-platform/dependent-assembly-plugins.md
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

replace plugintypestatistics
  powerapps-docs/developer/data-platform/scalable-customization-design/transaction-design-patterns.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/scalable-customization-design/transaction-design-patterns.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update data-retention-faq.yml
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

Removed broken link
  powerapps-docs/developer/data-platform/build-and-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update limits-and-config.md
  powerapps-docs/limits-and-config.md
Owners: @KumarVivek

Update timeline FAQ
  powerapps-docs/maker/model-driven-apps/faqs-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update production-ready-preview-dynamics365.md
  shared/preview-includes/production-ready-preview-dynamics365.md
Owners: none

Update azure-synapse-link-delta-lake.md
  powerapps-docs/maker/data-platform/azure-synapse-link-delta-lake.md
Owners: @Mattp123, @KumarVivek

Update add-ai-chatbot.md limitations
  powerapps-docs/maker/canvas-apps/add-ai-chatbot.md
Owners: @tapanm-msft, @KumarVivek

Remove UpsertMultiple Web API
  powerapps-docs/developer/data-platform/reference/entities/appnotification.md
  powerapps-docs/developer/data-platform/reference/entities/backgroundoperation.md
  powerapps-docs/developer/data-platform/reference/entities/cardstateitem.md
  powerapps-docs/developer/data-platform/reference/entities/elasticfileattachment.md
  powerapps-docs/developer/data-platform/reference/entities/msdyn_timelinepin.md
  powerapps-docs/developer/data-platform/reference/entities/nlsqregistration.md
  powerapps-docs/developer/data-platform/reference/entities/recentlyused.md
  powerapps-docs/developer/data-platform/reference/entities/searchtelemetry.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update bulk-operations.md
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Additional reason for audit history not appearing
  powerapps-docs/developer/model-driven-apps/troubleshoot-forms.md
Owners: @JimDaly, @KumarVivek

remove unnecessary Issue headings
  powerapps-docs/developer/model-driven-apps/troubleshoot-forms.md
Owners: @JimDaly, @KumarVivek

edits
  powerapps-docs/developer/model-driven-apps/troubleshoot-forms.md
Owners: @JimDaly, @KumarVivek

acrolinx
  powerapps-docs/developer/model-driven-apps/troubleshoot-forms.md
Owners: @JimDaly, @KumarVivek

fit-n-finish
  powerapps-docs/developer/model-driven-apps/troubleshoot-forms.md
Owners: @JimDaly, @KumarVivek

Quick start next steps
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

fit-n-finish
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update channel-overview.md
  powerapps-docs/maker/model-driven-apps/channel-overview.md
Owners: @Mattp123, @KumarVivek

Update channel-overview.md
  powerapps-docs/maker/model-driven-apps/channel-overview.md
Owners: @Mattp123, @KumarVivek

Update about-dialog.md
  powerapps-docs/user/about-dialog.md
Owners: @mduelae, @KumarVivek

Update channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-change.md
Owners: @Mattp123, @KumarVivek

Update about-dialog.md
  powerapps-docs/user/about-dialog.md
Owners: @mduelae, @KumarVivek

Update overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Delete powerapps-docs/maker/canvas-apps/controls/modern-controls/media/modern-controls-list.png
  powerapps-docs/maker/canvas-apps/controls/modern-controls/media/modern-controls-list.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/controls/modern-controls/media/modern-controls-list.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/controls/modern-controls/media/modern-controls-list.png
Owners: @tapanm-msft, @KumarVivek

Update overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Update limitations-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/limitations-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

Explain client behavior when DST ends
  powerapps-docs/maker/data-platform/behavior-format-date-time-field.md
Owners: @Mattp123, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update modern-control-button.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-button.md
Owners: @tapanm-msft, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Minor grammar edit
  powerapps-docs/developer/model-driven-apps/troubleshoot-forms.md
Owners: @JimDaly, @KumarVivek

Update modern-control-button.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-button.md
Owners: @tapanm-msft, @KumarVivek

Format and grammar
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

Create modern-slider-control
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-slider-control
Owners: @tapanm-msft, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
