Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Revised for formatting and style
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

Typo fix
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

check count rows
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/count-rows.md
  powerapps-docs/developer/data-platform/fetchxml/page-results.md
Owners: @PHecke, @KumarVivek, @JimDaly

add parens
  powerapps-docs/developer/data-platform/fetchxml/count-rows.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixing broken link
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

remove fetchxml-schema.md
  .openpublishing.redirection.json
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/fetchxml-schema.md
  powerapps-docs/developer/data-platform/fetchxml/optimize-performance.md
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/reference/index.md
  powerapps-docs/developer/data-platform/org-service/entity-operations-query-data.md
  powerapps-docs/developer/data-platform/webapi/web-api-query-data-sample.md
  powerapps-docs/developer/model-driven-apps/customization-xml-reference.md
  powerapps-docs/developer/model-driven-apps/understand-charts-underlying-data-chart-representation.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove use-fetchxml-construct-query.md
  .openpublishing.redirection.json
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/asynchronous-service.md
  powerapps-docs/developer/data-platform/auditing/retrieve-audit-data.md
  powerapps-docs/developer/data-platform/best-practices/business-logic/implement-all-types-of-queries-when-filtering-preoperation-retrievemultiple.md
  powerapps-docs/developer/data-platform/custom-api-tables.md
  powerapps-docs/developer/data-platform/customize-entity-attribute-mappings.md
  powerapps-docs/developer/data-platform/dataverse-sql-query.md
  powerapps-docs/developer/data-platform/fetchxml-performance.md
  powerapps-docs/developer/data-platform/index.yml
  powerapps-docs/developer/data-platform/org-service/build-queries-with-queryexpression.md
  powerapps-docs/developer/data-platform/org-service/entity-operations-query-data.md
  powerapps-docs/developer/data-platform/org-service/page-large-result-sets-with-fetchxml.md
  powerapps-docs/developer/data-platform/quick-find-limit.md
  powerapps-docs/developer/data-platform/use-fetchxml-construct-query.md
  powerapps-docs/developer/data-platform/use-fetchxml-fiscal-date-older-datetime-query-operators.md
  powerapps-docs/developer/data-platform/use-fetchxml-left-outer-join-query-records-not-in.md
  powerapps-docs/developer/data-platform/webapi/use-fetchxml-web-api.md
  powerapps-docs/developer/data-platform/webapi/web-api-query-data-sample.md
  powerapps-docs/developer/data-platform/wildcard-characters.md
  powerapps-docs/developer/model-driven-apps/customize-entity-views.md
  powerapps-docs/developer/model-driven-apps/understand-charts-underlying-data-chart-representation.md
  powerapps-docs/developer/model-driven-apps/visualization-data-description-schema.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update tabbed interface limitation
  powerapps-docs/maker/canvas-apps/accessible-apps-limitations.md
Owners: @tapanm-msft, @KumarVivek

Remove use-fetchxml-aggregation.md
  .openpublishing.redirection.json
  powerapps-docs/developer/data-platform/auditing/retrieve-audit-data.md
  powerapps-docs/developer/data-platform/org-service/entity-operations-query-data.md
  powerapps-docs/developer/data-platform/org-service/use-linq-construct-query.md
  powerapps-docs/developer/data-platform/use-fetchxml-aggregation.md
  powerapps-docs/developer/data-platform/webapi/query-data-web-api.md
  powerapps-docs/developer/model-driven-apps/understand-charts-underlying-data-chart-representation.md
  powerapps-docs/maker/model-driven-apps/reporting-considerations.md
Owners: @PHecke, @KumarVivek, @JimDaly, @Mattp123

remove use-fetchxml-fiscal-date-older-datetime-query-operators.md
  .openpublishing.redirection.json
  powerapps-docs/developer/data-platform/behavior-format-date-time-attribute.md
  powerapps-docs/developer/data-platform/org-service/entity-operations-query-data.md
  powerapps-docs/developer/data-platform/org-service/page-large-result-sets-with-fetchxml.md
  powerapps-docs/developer/data-platform/use-fetchxml-fiscal-date-older-datetime-query-operators.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix build errors
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/behavior-format-date-time-attribute.md
  powerapps-docs/developer/data-platform/index.yml
  powerapps-docs/developer/data-platform/specify-time-zone-settings-user.md
  powerapps-docs/maker/data-platform/behavior-format-date-time-field.md
Owners: @PHecke, @KumarVivek, @JimDaly, @Mattp123

remove use-fetchxml-left-outer-join-query-records-not-in.md
  .openpublishing.redirection.json
Owners: none

remove page-large-result-sets-with-fetchxml.md
  .openpublishing.redirection.json
  powerapps-docs/developer/data-platform/org-service/entity-operations-query-data.md
  powerapps-docs/developer/data-platform/org-service/page-large-result-sets-with-queryexpression.md
  powerapps-docs/developer/data-platform/org-service/paging-behaviors-and-ordering.md
Owners: @PHecke, @KumarVivek, @JimDaly

Remove paging-behaviors-and-ordering.md
  .openpublishing.redirection.json
  powerapps-docs/developer/data-platform/org-service/page-large-result-sets-with-fetchxml.md
  powerapps-docs/developer/data-platform/org-service/paging-behaviors-and-ordering.md
Owners: @PHecke, @KumarVivek, @JimDaly

removing column-comparison.md
  .openpublishing.redirection.json
  powerapps-docs/developer/data-platform/column-comparison.md
  powerapps-docs/developer/data-platform/org-service/use-conditionexpression-class.md
  powerapps-docs/developer/data-platform/use-fetchxml-left-outer-join-query-records-not-in.md
  powerapps-docs/developer/data-platform/webapi/query-data-web-api.md
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly, @Mattp123

remove fetchxml-performance.md
  .openpublishing.redirection.json
  powerapps-docs/developer/data-platform/fetchxml-performance.md
  powerapps-docs/developer/data-platform/query-throttling.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove use-fetchxml-web-api.md
  .openpublishing.redirection.json
  powerapps-docs/developer/data-platform/asynchronous-service.md
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/reference/index.md
  powerapps-docs/developer/data-platform/long-term-retention.md
  powerapps-docs/developer/data-platform/org-service/entity-operations-query-data.md
  powerapps-docs/developer/data-platform/webapi/TOC.yml
  powerapps-docs/developer/data-platform/webapi/compose-http-requests-handle-errors.md
  powerapps-docs/developer/data-platform/webapi/query-data-web-api.md
  powerapps-docs/developer/data-platform/webapi/use-fetchxml-web-api.md
  powerapps-docs/developer/data-platform/webapi/web-api-query-data-sample.md
Owners: @PHecke, @KumarVivek, @JimDaly

missed one
  powerapps-docs/developer/data-platform/webapi/execute-batch-operations-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update quick find
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
  powerapps-docs/developer/data-platform/quick-find.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/optimize-performance.md
  powerapps-docs/developer/data-platform/fetchxml/order-rows.md
  powerapps-docs/developer/data-platform/fetchxml/reference/attribute.md
  powerapps-docs/developer/data-platform/fetchxml/reference/entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/best-practices/business-logic/implement-all-types-of-queries-when-filtering-preoperation-retrievemultiple.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update overview-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/overview-modern-controls.md
Owners: @tapanm-msft, @KumarVivek

changes
  powerapps-docs/user/attach-email.md
Owners: @mduelae, @KumarVivek

Edit typo
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-table.md
Owners: @tapanm-msft, @KumarVivek

changes
  powerapps-docs/user/attach-email.md
Owners: @mduelae, @KumarVivek

changes
  powerapps-docs/user/attach-email.md
Owners: @mduelae, @KumarVivek

FV toc entry added in maker folder
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update powerapps-mobile-troubleshoot.md
  powerapps-docs/mobile/powerapps-mobile-troubleshoot.md
Owners: @KumarVivek

Update powerapps-mobile-troubleshoot.md
  powerapps-docs/mobile/powerapps-mobile-troubleshoot.md
Owners: @KumarVivek

context file added
  powerapps-docs/context/maker-context.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Delete powerapps-docs/context/maker-context.yml
  powerapps-docs/context/maker-context.yml
Owners: @KumarVivek

Update connector-intro.md
  powerapps-docs/cards/make-a-card/connectors/connector-intro.md
Owners: @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update faqs-excel-to-table-app.md
  powerapps-docs/maker/common/faqs-excel-to-table-app.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/context.yml
Owners: @KumarVivek

Update
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/context.yml
Owners: @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek
