Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @tapanm-msft, @mduelae, @PHecke, @leeclontz, @JimDaly, @Mattp123, @professorkendrick, @sericks007

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @tapanm-msft
/powerapps-docs/cards                               @tapanm-msft @mduelae
/powerapps-docs/developer/                          @PHecke @leeclontz @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @leeclontz
/powerapps-docs/developer/data-platform/cli         @JimDaly @leeclontz
/powerapps-docs/developer/model-driven-apps         @JimDaly @leeclontz
/powerapps-docs/guidance                            @tapanm-msft @mduelae @Mattp123
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @mduelae
/powerapps-docs/maker/data-platform                 @Mattp123 @tapanm-msft
/powerapps-docs/maker/model-driven-apps             @Mattp123 @tapanm-msft
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @mduelae
/powerapps-docs/maker/portals                       @professorkendrick @tapanm-msft
/powerapps-docs/mobile                              @tapanm-msft @sericks007
/powerapps-docs/sample-apps                         @tapanm-msft @mduelae
/powerapps-docs/user                                @sericks007 @tapanm-msft
/powerapps-docs/teams                               @tapanm-msft @mduelae

Reference fixed
  powerapps-docs/developer/data-platform/logging-tracing.md
Owners: @PHecke, @leeclontz, @JimDaly

Mention incoming prop values can be null
  powerapps-docs/developer/component-framework/code-components-best-practices.md
Owners: @PHecke, @leeclontz, @JimDaly

Update embedded-canvas-app-properties-actions.md
  powerapps-docs/maker/model-driven-apps/embedded-canvas-app-properties-actions.md
Owners: @Mattp123, @tapanm-msft

edit changes
  powerapps-docs/developer/component-framework/code-components-best-practices.md
Owners: @PHecke, @leeclontz, @JimDaly

fixes
  powerapps-docs/maker/canvas-apps/ai-overview.md
  powerapps-docs/maker/common/faqs-copilot-model-driven-app.md
Owners: @tapanm-msft, @mduelae, @Mattp123

acrolinx
  powerapps-docs/developer/component-framework/code-components-best-practices.md
Owners: @PHecke, @leeclontz, @JimDaly

add links to best practices
  powerapps-docs/developer/component-framework/reference/control/updateview.md
  powerapps-docs/developer/component-framework/reference/react-control/updateview.md
Owners: @PHecke, @leeclontz, @JimDaly

acrolinx and consistency
  powerapps-docs/developer/component-framework/reference/control/updateview.md
  powerapps-docs/developer/component-framework/reference/react-control/updateview.md
Owners: @PHecke, @leeclontz, @JimDaly

Update description for StandardControl.updateView method
  powerapps-docs/developer/component-framework/reference/control/updateview.md
Owners: @PHecke, @leeclontz, @JimDaly

correct heading depth
  powerapps-docs/developer/component-framework/code-components-best-practices.md
Owners: @PHecke, @leeclontz, @JimDaly

fix heading hierarchy
  powerapps-docs/developer/component-framework/code-components-best-practices.md
Owners: @PHecke, @leeclontz, @JimDaly

Remove unnecessary whitespace in join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
Owners: @PHecke, @leeclontz, @JimDaly

Update faq-timeline-highlights-with-copilot.md
  powerapps-docs/maker/common/faq-timeline-highlights-with-copilot.md
Owners: @Mattp123, @tapanm-msft, @mduelae

Update faq-timeline-highlights-with-copilot.md
  powerapps-docs/maker/common/faq-timeline-highlights-with-copilot.md
Owners: @Mattp123, @tapanm-msft, @mduelae

Update faq-timeline-highlights-with-copilot.md
  powerapps-docs/maker/common/faq-timeline-highlights-with-copilot.md
Owners: @Mattp123, @tapanm-msft, @mduelae

Update faq-timeline-highlights-with-copilot.md
  powerapps-docs/maker/common/faq-timeline-highlights-with-copilot.md
Owners: @Mattp123, @tapanm-msft, @mduelae

Update faq-timeline-highlights-with-copilot.md
  powerapps-docs/maker/common/faq-timeline-highlights-with-copilot.md
Owners: @Mattp123, @tapanm-msft, @mduelae

date fix
  powerapps-docs/maker/canvas-apps/controls/control-combo-box.md
  powerapps-docs/maker/canvas-apps/controls/control-gallery.md
  powerapps-docs/maker/canvas-apps/controls/control-microphone.md
Owners: @tapanm-msft, @mduelae

Update control-camera.md
  powerapps-docs/maker/canvas-apps/controls/control-camera.md
Owners: @tapanm-msft, @mduelae

remove dependency available for components
  powerapps-docs/maker/data-platform/view-component-dependencies.md
Owners: @Mattp123, @tapanm-msft

Update view-component-dependencies.md
  powerapps-docs/maker/data-platform/view-component-dependencies.md
Owners: @Mattp123, @tapanm-msft

Update view-component-dependencies.md
  powerapps-docs/maker/data-platform/view-component-dependencies.md
Owners: @Mattp123, @tapanm-msft

Update create-connection-reference.md
  powerapps-docs/maker/data-platform/create-connection-reference.md
Owners: @Mattp123, @tapanm-msft

Power Fx FAQ
  powerapps-docs/maker/common/faqs-copilot-powerfx.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @mduelae

Update formula-columns.md
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @tapanm-msft

Update control-form-detail.md
  powerapps-docs/maker/canvas-apps/controls/control-form-detail.md
Owners: @tapanm-msft, @mduelae

Update limitations-modern-controls.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/limitations-modern-controls.md
Owners: @tapanm-msft, @mduelae

Replace table
  powerapps-docs/developer/data-platform/org-service/use-messages.md
Owners: @PHecke, @leeclontz, @JimDaly

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @sericks007, @tapanm-msft

Update import-update-export-solutions.md
  powerapps-docs/maker/data-platform/import-update-export-solutions.md
Owners: @Mattp123, @tapanm-msft

Copy edit complete
  powerapps-docs/maker/model-driven-apps/monitor-page-checker.md
Owners: @Mattp123, @tapanm-msft

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @sericks007, @tapanm-msft

Dropdown.AllowEmptySelection updates
  powerapps-docs/maker/canvas-apps/controls/control-drop-down.md
Owners: @tapanm-msft, @mduelae

acrolinx
  powerapps-docs/developer/data-platform/org-service/use-messages.md
Owners: @PHecke, @leeclontz, @JimDaly

Add files via upload
  powerapps-docs/user/media/ModernFields2024April.png
Owners: @sericks007, @tapanm-msft

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @sericks007, @tapanm-msft

check
  powerapps-docs/developer/data-platform/org-service/queryexpression/select-columns.md
Owners: @PHecke, @leeclontz, @JimDaly

Add column aliases
  powerapps-docs/developer/data-platform/org-service/queryexpression/select-columns.md
Owners: @PHecke, @leeclontz, @JimDaly

Updated tracing content
  powerapps-docs/developer/data-platform/logging-tracing.md
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @leeclontz, @JimDaly

update table with Field Service rules
  powerapps-docs/maker/data-platform/use-powerapps-checker.md
Owners: @Mattp123, @tapanm-msft
