Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Org monthly channel
  powerapps-docs/maker/model-driven-apps/channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-overview.md
  powerapps-docs/maker/model-driven-apps/media/model-app-channels/ppac-settings-behavior-change-channel.png
  powerapps-docs/user/about-dialog.md
  powerapps-docs/user/media/about-dialog/about-dialog-channel.png
  powerapps-docs/whats-new.md
Owners: @Mattp123, @KumarVivek, @mduelae

Org monthly channel
  powerapps-docs/maker/model-driven-apps/channel-change.md
  powerapps-docs/maker/model-driven-apps/channel-overview.md
  powerapps-docs/user/about-dialog.md
  powerapps-docs/whats-new.md
Owners: @Mattp123, @KumarVivek, @mduelae

Update transparency-notes-copilot-panel.md
  powerapps-docs/maker/common/transparency-notes-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Added step impersonation
  powerapps-docs/developer/data-platform/media/disable-step-prt.png
  powerapps-docs/developer/data-platform/media/enable-step-prt.png
  powerapps-docs/developer/data-platform/media/impersonate_user_prt.png
  powerapps-docs/developer/data-platform/register-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update database-transactions.md
  powerapps-docs/developer/data-platform/scalable-customization-design/database-transactions.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update database-transactions.md
  powerapps-docs/developer/data-platform/scalable-customization-design/database-transactions.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update overview.md
  powerapps-docs/developer/data-platform/scalable-customization-design/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update for ALM issues
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Create app-access-checker - v1
  powerapps-docs/maker/model-driven-apps/app-access-checker
Owners: @Mattp123, @KumarVivek

remove enhanced quick start
  .openpublishing.redirection.json
  powerapps-docs/developer/data-platform/webapi/TOC.yml
  powerapps-docs/developer/data-platform/webapi/enhanced-quick-start.md
  powerapps-docs/developer/data-platform/webapi/get-started-dynamics-365-web-api-csharp.md
  powerapps-docs/developer/data-platform/webapi/quick-start-blazor-server-app.md
  powerapps-docs/developer/data-platform/webapi/quick-start-console-app-csharp.md
  powerapps-docs/developer/data-platform/webapi/start-web-api-project-visual-studio-csharp.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix broken link
  powerapps-docs/developer/data-platform/webapi/quick-start-console-app-csharp.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updated text and images
  powerapps-docs/developer/data-platform/media/disable-step-prt.png
  powerapps-docs/developer/data-platform/media/dv_plugin_registration_tool.png
  powerapps-docs/developer/data-platform/media/enable-step-prt.png
  powerapps-docs/developer/data-platform/media/impersonate_user_prt.png
  powerapps-docs/developer/data-platform/register-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/webapi/get-started-dynamics-365-web-api-csharp.md
  powerapps-docs/developer/data-platform/webapi/quick-start-blazor-server-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

Minor changes
  powerapps-docs/developer/data-platform/register-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update modern-control-dropdown.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-dropdown.md
Owners: @tapanm-msft, @KumarVivek

Remmoving section per 3458127
  powerapps-docs/maker/model-driven-apps/coauthoring.md
Owners: @Mattp123, @KumarVivek

Fixing broken bookmark due to section removal
  powerapps-docs/maker/model-driven-apps/collaboration-model-driven-apps.md
Owners: @Mattp123, @KumarVivek

Update connections-list.md
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Monthly channel
  powerapps-docs/maker/model-driven-apps/channel-overview.md
Owners: @Mattp123, @KumarVivek

Update connections-list.md
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Update connections-list.md
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Update connections-list.md
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Monthly channel
  powerapps-docs/maker/model-driven-apps/channel-overview.md
Owners: @Mattp123, @KumarVivek

Update send-in-app-notifications.md
  powerapps-docs/developer/model-driven-apps/clientapi/send-in-app-notifications.md
Owners: @JimDaly, @KumarVivek

added images
  powerapps-docs/maker/model-driven-apps/app-access-checker
Owners: @Mattp123, @KumarVivek

Edits
  powerapps-docs/developer/model-driven-apps/clientapi/send-in-app-notifications.md
Owners: @JimDaly, @KumarVivek

Create user-no-access.png
  powerapps-docs/maker/model-driven-apps/media/app-access-checker/user-no-access.png
Owners: @Mattp123, @KumarVivek

images uploaded
  powerapps-docs/maker/model-driven-apps/media/app-access-checker/user-access-role-2.png
  powerapps-docs/maker/model-driven-apps/media/app-access-checker/user-access-role.png
  powerapps-docs/maker/model-driven-apps/media/app-access-checker/user-can-view-apps.png
  powerapps-docs/maker/model-driven-apps/media/app-access-checker/user-no-access.png
  powerapps-docs/maker/model-driven-apps/media/app-access-checker/user-no-license-access.png
  powerapps-docs/maker/model-driven-apps/media/app-access-checker/user-no-security-access.png
  powerapps-docs/maker/model-driven-apps/media/app-access-checker/user-yes-security-no-license.png
Owners: @Mattp123, @KumarVivek

Added links
  powerapps-docs/developer/data-platform/register-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update collaboration.md
  powerapps-docs/user/collaboration.md
Owners: @mduelae, @KumarVivek

Update images path
  powerapps-docs/maker/model-driven-apps/app-access-checker
Owners: @Mattp123, @KumarVivek

acrolinx
  powerapps-docs/developer/data-platform/scalable-customization-design/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

typo
  powerapps-docs/developer/data-platform/org-service/entity-operations-update-delete.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update app-access-checker doc
  powerapps-docs/maker/model-driven-apps/app-access-checker
Owners: @Mattp123, @KumarVivek

Update app-access-checker doc
  powerapps-docs/maker/model-driven-apps/app-access-checker
Owners: @Mattp123, @KumarVivek

Update app-access-checker
  powerapps-docs/maker/model-driven-apps/app-access-checker
Owners: @Mattp123, @KumarVivek

Update app-access-checker
  powerapps-docs/maker/model-driven-apps/app-access-checker
Owners: @Mattp123, @KumarVivek

Update about-dialog.md
  powerapps-docs/user/about-dialog.md
Owners: @mduelae, @KumarVivek

Update about-dialog.md
  powerapps-docs/user/about-dialog.md
Owners: @mduelae, @KumarVivek

try fix pdf link
  powerapps-docs/developer/data-platform/scalable-customization-design/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly
