Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update elastic-tables.md
  powerapps-docs/developer/data-platform/elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

SEO updates
  powerapps-docs/developer/data-platform/elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Style updates
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update .acrolinx-config.edn
  .acrolinx-config.edn
Owners: none

Update .acrolinx-config.edn
  .acrolinx-config.edn
Owners: none

Update property.md
  powerapps-docs/developer/component-framework/manifest-schema-reference/property.md
Owners: @PHecke, @KumarVivek, @JimDaly

test
  powerapps-docs/developer/data-platform/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Adding `+` as invalid char for alternate keys
  powerapps-docs/developer/data-platform/define-alternate-keys-entity.md
  powerapps-docs/maker/data-platform/define-alternate-keys-portal.md
  powerapps-docs/maker/data-platform/define-alternate-keys-solution-explorer.md
Owners: @PHecke, @KumarVivek, @JimDaly, @Mattp123

`/`,`<`,`>`,`*`,`%`,`&`,`:`,`\\`,`?`,`+` everywhere
  powerapps-docs/developer/data-platform/use-alternate-key-reference-record.md
  powerapps-docs/developer/data-platform/webapi/retrieve-entity-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Created elastic-table-samples.md
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/elastic-table-samples.md
Owners: @PHecke, @KumarVivek, @JimDaly

add link to sample code
  powerapps-docs/developer/data-platform/bulk-operations-elastic-tables.md
  powerapps-docs/developer/data-platform/create-elastic-tables.md
  powerapps-docs/developer/data-platform/elastic-table-samples.md
  powerapps-docs/developer/data-platform/elastic-tables.md
  powerapps-docs/developer/data-platform/query-json-columns-elastic-tables.md
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

fit-n-finish
  powerapps-docs/developer/data-platform/elastic-table-samples.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix random broken link
  powerapps-docs/developer/data-platform/webapi/quick-start-blazor-server-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix broken link
  powerapps-docs/developer/data-platform/webapi/quick-start-blazor-server-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

partitionid value will remain null
  powerapps-docs/developer/data-platform/elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

you can..
  powerapps-docs/developer/data-platform/elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

invalid alternate key characters
  powerapps-docs/developer/data-platform/elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

partitionid value is null
  powerapps-docs/developer/data-platform/create-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

correct year in ms.date
  powerapps-docs/developer/data-platform/bulk-operations-elastic-tables.md
  powerapps-docs/developer/data-platform/create-elastic-tables.md
  powerapps-docs/developer/data-platform/elastic-table-samples.md
  powerapps-docs/developer/data-platform/elastic-tables.md
  powerapps-docs/developer/data-platform/query-json-columns-elastic-tables.md
  powerapps-docs/developer/data-platform/use-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add '+'
  powerapps-docs/developer/data-platform/elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

add note
  powerapps-docs/developer/data-platform/bulk-operations-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added prerelease banner
  powerapps-docs/developer/data-platform/elastic-table-samples.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update create-solution.md
  powerapps-docs/maker/data-platform/create-solution.md
Owners: @Mattp123, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

updates
  powerapps-docs/maker/canvas-apps/get-started-create-from-data.md
  powerapps-docs/maker/canvas-apps/get-started-test-drive.md
  powerapps-docs/maker/canvas-apps/help-desk-install.md
  powerapps-docs/maker/canvas-apps/preview-app.md
  powerapps-docs/maker/canvas-apps/sharepoint-lookup-fields.md
Owners: @tapanm-msft, @KumarVivek

upsert behavior
  powerapps-docs/developer/data-platform/use-elastic-tables.md
  powerapps-docs/developer/data-platform/use-upsert-insert-update-record.md
Owners: @PHecke, @KumarVivek, @JimDaly

elastic upsert
  powerapps-docs/developer/data-platform/use-upsert-insert-update-record.md
Owners: @PHecke, @KumarVivek, @JimDaly

h1 not allowed
  powerapps-docs/developer/data-platform/use-upsert-insert-update-record.md
Owners: @PHecke, @KumarVivek, @JimDaly

change heading
  powerapps-docs/developer/data-platform/use-upsert-insert-update-record.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Added alert
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

update sample topics
  powerapps-docs/developer/data-platform/org-service/samples/create-update-multiple.md
  powerapps-docs/developer/data-platform/org-service/samples/createmultiple-updatemultiple-plugin.md
Owners: @PHecke, @KumarVivek, @JimDaly

fit-n-finish
  powerapps-docs/developer/data-platform/org-service/samples/createmultiple-updatemultiple-plugin.md
Owners: @PHecke, @KumarVivek, @JimDaly

Minor change in alert
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

updates
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Added alert on File storage
  powerapps-docs/developer/data-platform/email-activity-entities.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/configure-entity-relationship-cascading-behavior.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update .acrolinx-config.edn
  .acrolinx-config.edn
Owners: none

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
