Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Heading change
  powerapps-docs/developer/component-framework/fluent-modern-theming.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update quick-start-org-service-console-app.md
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update openAlertDialog.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/Xrm-Navigation/openAlertDialog.md
Owners: @JimDaly, @KumarVivek

removed known issue
  powerapps-docs/developer/data-platform/bulk-operations.md
  powerapps-docs/developer/data-platform/deletemultiple.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update mobile-deep-links.md
  powerapps-docs/mobile/mobile-deep-links.md
Owners: @KumarVivek

Update mobile-deep-links.md
  powerapps-docs/mobile/mobile-deep-links.md
Owners: @KumarVivek

Update mobile-deep-links.md
  powerapps-docs/mobile/mobile-deep-links.md
Owners: @KumarVivek

Update mobile-deep-links.md
  powerapps-docs/mobile/mobile-deep-links.md
Owners: @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

Edited
  powerapps-docs/developer/data-platform/build-and-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update Azure-Synapse-Link-Build-Apps-with-Fabric.md
  powerapps-docs/maker/data-platform/powerapps-checker/rules/web/Azure-Synapse-Link-Build-Apps-with-Fabric.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/data-platform/media/Fabric/Fabric_to_App_GIF_demo.gif
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-Build-Apps-with-Fabric.md
  powerapps-docs/maker/data-platform/powerapps-checker/rules/web/Azure-Synapse-Link-Build-Apps-with-Fabric.md
Owners: @Mattp123, @KumarVivek

Update react-controls-platform-libraries.md
  powerapps-docs/developer/component-framework/react-controls-platform-libraries.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update Azure-Synapse-Link-Build-Apps-with-Fabric.md
  powerapps-docs/maker/data-platform/powerapps-checker/rules/web/Azure-Synapse-Link-Build-Apps-with-Fabric.md
Owners: @Mattp123, @KumarVivek

Update use-powerapps-checker.md
  powerapps-docs/maker/data-platform/use-powerapps-checker.md
Owners: @Mattp123, @KumarVivek

Update preferred-solution.md
  powerapps-docs/maker/data-platform/preferred-solution.md
Owners: @Mattp123, @KumarVivek

Removing preview tags for Excel2Table per 3694138
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Fixing bookmark
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Fixing bookmark
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Update create-report-with-wizard.md
  powerapps-docs/user/create-report-with-wizard.md
Owners: @mduelae, @KumarVivek

Fixing bookmark
  powerapps-docs/maker/common/faqs-excel-to-table-app.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

ICM 437802943
  powerapps-docs/developer/data-platform/webapi/execute-batch-operations-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Delete powerapps-docs/maker/canvas-apps/media/copresence/canvas-copresence.png
  powerapps-docs/maker/canvas-apps/media/copresence/canvas-copresence.png
Owners: @tapanm-msft, @KumarVivek

Update copresence-power-apps-studio.md
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

Create test.png
  powerapps-docs/maker/canvas-apps/media/copresence/test.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/copresence/canvas-copresence.png
Owners: @tapanm-msft, @KumarVivek

Delete powerapps-docs/maker/canvas-apps/media/copresence/canvas-copresence.png
  powerapps-docs/maker/canvas-apps/media/copresence/canvas-copresence.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/copresence/canvas-copresence.png
Owners: @tapanm-msft, @KumarVivek

Delete powerapps-docs/maker/canvas-apps/media/copresence/test.png
  powerapps-docs/maker/canvas-apps/media/copresence/test.png
Owners: @tapanm-msft, @KumarVivek

Update EnvironmentVariables.md
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek

Update copresence-power-apps-studio.md
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

Create test.png
  powerapps-docs/maker/canvas-apps/media/copresence/test.png
Owners: @tapanm-msft, @KumarVivek

Delete powerapps-docs/maker/canvas-apps/media/copresence/canvas-copresence.png
  powerapps-docs/maker/canvas-apps/media/copresence/canvas-copresence.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/copresence/canvas-copresence.png
Owners: @tapanm-msft, @KumarVivek

Update copresence-power-apps-studio.md
  powerapps-docs/maker/canvas-apps/copresence-power-apps-studio.md
Owners: @tapanm-msft, @KumarVivek

Delete powerapps-docs/maker/canvas-apps/media/copresence/test.png
  powerapps-docs/maker/canvas-apps/media/copresence/test.png
Owners: @tapanm-msft, @KumarVivek

Replacing absolute with relative links.
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek

Update add-manage-connections.md
  powerapps-docs/maker/canvas-apps/add-manage-connections.md
Owners: @tapanm-msft, @KumarVivek
