Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update toc.yml
  powerapps-docs/developer/component-framework/toc.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Minor edits
  powerapps-docs/maker/data-platform/behavior-format-date-time-field.md
Owners: @Mattp123, @KumarVivek

Update calendar-screen-overview.md
  powerapps-docs/maker/canvas-apps/screen-templates/calendar-screen-overview.md
Owners: @tapanm-msft, @KumarVivek

Correct broken links
  powerapps-docs/maker/data-platform/behavior-format-date-time-field.md
Owners: @Mattp123, @KumarVivek

Minor edits
  powerapps-docs/maker/data-platform/behavior-format-date-time-field.md
Owners: @Mattp123, @KumarVivek

Update broken link
  powerapps-docs/maker/data-platform/behavior-format-date-time-field.md
Owners: @Mattp123, @KumarVivek

Edits of developer article
  powerapps-docs/developer/data-platform/behavior-format-date-time-attribute.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add Xrm.Utility method for JS Scripts
  powerapps-docs/developer/data-platform/behavior-format-date-time-attribute.md
Owners: @PHecke, @KumarVivek, @JimDaly

Delete powerapps-docs/mobile/media/settings All.png
  powerapps-docs/mobile/media/settings All.png
Owners: @KumarVivek

Add files via upload
  powerapps-docs/mobile/media/mobile-offline-sync-settings.png
Owners: @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Update offline-sync-icon.md
  powerapps-docs/mobile/offline-sync-icon.md
Owners: @KumarVivek

Update mobile-offline-overview.md
  powerapps-docs/mobile/mobile-offline-overview.md
Owners: @KumarVivek

Update mobile-offline-overview.md
  powerapps-docs/mobile/mobile-offline-overview.md
Owners: @KumarVivek

Rename folder xMultipleSamples BulkOperations
  powerapps-docs/developer/data-platform/org-service/samples/create-update-multiple.md
  powerapps-docs/developer/data-platform/webapi/samples/create-update-multiple.md
Owners: @PHecke, @KumarVivek, @JimDaly

Removed preview indicators for long term data retention docs
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/data-retention-faq.yml
  powerapps-docs/maker/data-platform/data-retention-manage.md
  powerapps-docs/maker/data-platform/data-retention-overview.md
  powerapps-docs/maker/data-platform/data-retention-set.md
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @KumarVivek, @Mattp123

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Revised for style and terminology
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Resolving merge conflict
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

Attempting to fix malformed yaml
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

Revised for clarity
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Add use-appsidepane-api doc
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/powerapps-checker/rules/web/use-appsidepane-api.md
Owners: @KumarVivek, @Mattp123

Fix description
  powerapps-docs/maker/data-platform/powerapps-checker/rules/web/use-appsidepane-api.md
Owners: @Mattp123, @KumarVivek

Add rule to checker page
  powerapps-docs/maker/data-platform/use-powerapps-checker.md
Owners: @Mattp123, @KumarVivek

Update data-retention-overview.md
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Revised
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Update data-retention-overview.md
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Update data-retention-overview.md
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

Delete powerapps-docs/mobile/media/offline-first-2.png
  powerapps-docs/mobile/media/offline-first-2.png
Owners: @KumarVivek

Delete powerapps-docs/mobile/media/offline-first-1.png
  powerapps-docs/mobile/media/offline-first-1.png
Owners: @KumarVivek

Delete powerapps-docs/mobile/media/offline-first-3.png
  powerapps-docs/mobile/media/offline-first-3.png
Owners: @KumarVivek

Delete powerapps-docs/mobile/media/offline-first-4.png
  powerapps-docs/mobile/media/offline-first-4.png
Owners: @KumarVivek

Add files via upload
  powerapps-docs/mobile/media/mobile-offline-device-status-page.png
  powerapps-docs/mobile/media/mobile-offline-first-notification-1.PNG
  powerapps-docs/mobile/media/mobile-offline-first-notification-2.PNG
  powerapps-docs/mobile/media/mobile-offline-first-update-notification.PNG
Owners: @KumarVivek

Update work-in-offline-mode.md
  powerapps-docs/mobile/work-in-offline-mode.md
Owners: @KumarVivek

Update working-with-variables.md
  powerapps-docs/maker/canvas-apps/working-with-variables.md
Owners: @tapanm-msft, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
