Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update copilot-chat-in-webplayer.md
  powerapps-docs/user/copilot-chat-in-webplayer.md
Owners: @mduelae, @KumarVivek

Update copilot-chat-in-webplayer.md
  powerapps-docs/user/copilot-chat-in-webplayer.md
Owners: @mduelae, @KumarVivek

Update copilot-chat-in-webplayer.md
  powerapps-docs/user/copilot-chat-in-webplayer.md
Owners: @mduelae, @KumarVivek

Update connections-list.md
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Update connection-azure-sqldatabase.md
  powerapps-docs/maker/canvas-apps/connections/connection-azure-sqldatabase.md
Owners: @tapanm-msft, @KumarVivek

Update connection-sharepoint-online.md
  powerapps-docs/maker/canvas-apps/connections/connection-sharepoint-online.md
Owners: @tapanm-msft, @KumarVivek

Update fast-app-page-load.md
  powerapps-docs/maker/canvas-apps/fast-app-page-load.md
Owners: @tapanm-msft, @KumarVivek

Create azure-synapse-link-troubleshooting-guide.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-troubleshooting-guide.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-troubleshooting-guide.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-troubleshooting-guide.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-troubleshooting-guide.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-troubleshooting-guide.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-troubleshooting-guide.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-troubleshooting-guide.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

check
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update azure-synapse-link-troubleshooting-guide.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-troubleshooting-guide.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-troubleshooting-guide.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-troubleshooting-guide.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-troubleshooting-guide.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-troubleshooting-guide.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-troubleshooting-guide.md
  powerapps-docs/maker/data-platform/azure-synapse-link-troubleshooting-guide.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-select-FnO-data.md
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Update aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update aggregate-data.md
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
Owners: @PHecke, @KumarVivek, @JimDaly

add new examples
  powerapps-docs/developer/data-platform/asynchronous-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add rowaggregate
  powerapps-docs/developer/data-platform/fetchxml/aggregate-data.md
Owners: @PHecke, @KumarVivek, @JimDaly

revise and add content
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/use-ps-and-vscode-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

title & description change
  powerapps-docs/developer/data-platform/webapi/use-ps-and-vscode-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Download CSDL document
  powerapps-docs/developer/data-platform/webapi/quick-start-ps.md
  powerapps-docs/developer/data-platform/webapi/use-ps-and-vscode-web-api.md
  powerapps-docs/developer/data-platform/webapi/web-api-service-documents.md
  powerapps-docs/developer/data-platform/webapi/web-api-types-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/webapi/use-ps-and-vscode-web-api.md
  powerapps-docs/developer/data-platform/webapi/web-api-types-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update embed-powerbi-report-in-system-form.md
  powerapps-docs/maker/model-driven-apps/embed-powerbi-report-in-system-form.md
Owners: @Mattp123, @KumarVivek

remove latematerialize
  powerapps-docs/developer/data-platform/fetchxml/reference/attribute.md
Owners: @PHecke, @KumarVivek, @JimDaly

aggregatelimit
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
Owners: @PHecke, @KumarVivek, @JimDaly

Remove min-active-row-version
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
Owners: @PHecke, @KumarVivek, @JimDaly

no-lock description
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove datasource
  powerapps-docs/developer/data-platform/fetchxml/reference/fetch.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove forceseek
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-forceseek-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek
