Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update use-change-tracking-synchronize-data-external-systems.md
  powerapps-docs/developer/data-platform/use-change-tracking-synchronize-data-external-systems.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Remove # from URL
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove branch mapping
  .openpublishing.publish.config.json
Owners: none

adds deeplink troubleshooting to docs
  powerapps-docs/mobile/mobile-deep-links.md
Owners: @KumarVivek

add section about ServiceClient
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

one more try
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove snippet that doesn't work
  powerapps-docs/developer/data-platform/org-service/quick-start-org-service-console-app.md
Owners: @PHecke, @KumarVivek, @JimDaly

Duplicate records in payload
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Adding back preview indicators per 364032
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/data-retention-manage.md
  powerapps-docs/maker/data-platform/data-retention-overview.md
  powerapps-docs/maker/data-platform/data-retention-set.md
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @KumarVivek, @Mattp123

Adding back preview indicators per 364032
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Typo fix
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/data-platform/media/automated-plugin-infinite-correct.svg
  powerapps-docs/maker/data-platform/media/automated-plugin-infinite-incorrect.svg
Owners: @Mattp123, @KumarVivek

Update lowcode-plug-ins-examples.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Update mobile-deep-links.md
  powerapps-docs/mobile/mobile-deep-links.md
Owners: @KumarVivek

Update mobile-deep-links.md
  powerapps-docs/mobile/mobile-deep-links.md
Owners: @KumarVivek

Revised for style and clarity
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Acrolinx revisions
  powerapps-docs/maker/data-platform/lowcode-plug-ins-examples.md
Owners: @Mattp123, @KumarVivek

Update theming-description.md
  powerapps-docs/developer/component-framework/reference/includes/theming-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed broken link
  powerapps-docs/developer/data-platform/email-activity-entities.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update copilot-data-security-privacy.md
  shared/responsible-ai-faqs-includes/copilot-data-security-privacy.md
Owners: none

Wording change
  powerapps-docs/developer/data-platform/customer-entities-account-contact.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised wording
  powerapps-docs/developer/data-platform/customer-entities-account-contact.md
Owners: @PHecke, @KumarVivek, @JimDaly

Improved sample code snippet
  powerapps-docs/developer/data-platform/org-service/organizationservicecontext.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/bulk-operations.md
  powerapps-docs/developer/data-platform/org-service/samples/create-update-multiple.md
  powerapps-docs/developer/data-platform/org-service/samples/createmultiple-updatemultiple-plugin.md
  powerapps-docs/developer/data-platform/org-service/samples/toc.yml
  powerapps-docs/developer/data-platform/upsertmultiple.md
  powerapps-docs/developer/data-platform/webapi/create-entity-web-api.md
  powerapps-docs/developer/data-platform/webapi/samples/create-update-multiple.md
  powerapps-docs/developer/data-platform/webapi/samples/toc.yml
  powerapps-docs/developer/data-platform/webapi/update-delete-entities-using-web-api.md
  powerapps-docs/developer/data-platform/write-plugin-multiple-operation.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/org-service/samples/create-update-multiple.md
  powerapps-docs/developer/data-platform/upsertmultiple.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  powerapps-docs/developer/data-platform/upsertmultiple.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fix some typos
  powerapps-docs/developer/data-platform/webapi/query-data-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update copilot-data-security-privacy.md
  shared/responsible-ai-faqs-includes/copilot-data-security-privacy.md
Owners: none

Create ai-plugin.md
  powerapps-docs/maker/common/ai-plugin.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/common/media/ai-plugins.png
Owners: @Mattp123, @tapanm-msft, @KumarVivek

updates
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/common/ai-plugins.md
  powerapps-docs/maker/common/media/ai-plugins.png
Owners: @KumarVivek, @Mattp123, @tapanm-msft

Delete powerapps-docs/maker/common/ai-plugin.md
  powerapps-docs/maker/common/ai-plugin.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

check
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/bulk-operations.md
  powerapps-docs/developer/data-platform/deletemultiple.md
Owners: @PHecke, @KumarVivek, @JimDaly

Link fix
  powerapps-docs/developer/data-platform/org-service/samples/disable-a-user.md
Owners: @PHecke, @KumarVivek, @JimDaly

Tweaks
  shared/responsible-ai-faqs-includes/copilot-data-security-privacy.md
Owners: none

edits
  powerapps-docs/developer/data-platform/bulk-operations.md
  powerapps-docs/developer/data-platform/deletemultiple.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update create-edit-elastic-tables.md
  powerapps-docs/maker/data-platform/create-edit-elastic-tables.md
Owners: @Mattp123, @KumarVivek

edit
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly
