Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/model-driven-apps/media/Turnoff_Copilot_model_apps.png
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/model-driven-apps/media/Turnoff_Copilot_model_apps.png
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

fixed en-us issue
  powerapps-docs/maker/canvas-apps/efficient-calculations.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update efficient-calculations.md
  powerapps-docs/maker/canvas-apps/efficient-calculations.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update efficient-calculations.md
  powerapps-docs/maker/canvas-apps/efficient-calculations.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update formula-bar-find-replace.md
  powerapps-docs/maker/canvas-apps/formula-bar-find-replace.md
Owners: @tapanm-msft, @KumarVivek

Update working-with-formulas.md
  powerapps-docs/maker/canvas-apps/working-with-formulas.md
Owners: @tapanm-msft, @KumarVivek

Update optimize-for-devices-controls.md
  powerapps-docs/mobile/optimize-for-devices-controls.md
Owners: @KumarVivek

Update understand-charts-underlying-data-chart-representation.md
  powerapps-docs/developer/model-driven-apps/understand-charts-underlying-data-chart-representation.md
Owners: @JimDaly, @KumarVivek

Update optimize-for-devices-overview.md
  powerapps-docs/mobile/optimize-for-devices-overview.md
Owners: @KumarVivek

Update track-your-progress-with-dashboard-and-charts.md
  powerapps-docs/user/track-your-progress-with-dashboard-and-charts.md
Owners: @mduelae, @KumarVivek

Update track-your-progress-with-dashboard-and-charts.md
  powerapps-docs/user/track-your-progress-with-dashboard-and-charts.md
Owners: @mduelae, @KumarVivek

Review
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/EnvironmentVariables-azure-key-vault-secrets.md
  powerapps-docs/maker/data-platform/EnvironmentVariables-data-source-canvas-apps.md
  powerapps-docs/maker/data-platform/EnvironmentVariables-power-automate.md
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @KumarVivek, @Mattp123

Update data-retention-faq.yml
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

Fix
  powerapps-docs/maker/data-platform/EnvironmentVariables-power-automate.md
Owners: @Mattp123, @KumarVivek

Update
  powerapps-docs/maker/data-platform/EnvironmentVariables-power-automate.md
Owners: @Mattp123, @KumarVivek

Update
  powerapps-docs/maker/data-platform/EnvironmentVariables.md
Owners: @Mattp123, @KumarVivek

Update
  powerapps-docs/maker/data-platform/EnvironmentVariables-data-source-canvas-apps.md
Owners: @Mattp123, @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Updates
  powerapps-docs/maker/data-platform/EnvironmentVariables-azure-key-vault-secrets.md
  powerapps-docs/maker/data-platform/EnvironmentVariables-power-automate.md
Owners: @Mattp123, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Revised for style
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

Update working-with-formulas.md
  powerapps-docs/maker/canvas-apps/working-with-formulas.md
Owners: @tapanm-msft, @KumarVivek

Minor edits
  powerapps-docs/developer/data-platform/use-access-teams-owner-teams-collaborate-share-information.md
Owners: @PHecke, @KumarVivek, @JimDaly

BigInt columns can be added
  powerapps-docs/developer/data-platform/entity-attribute-metadata.md
  powerapps-docs/developer/data-platform/org-service/metadata-attributemetadata.md
  powerapps-docs/developer/data-platform/webapi/create-update-column-definitions-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix link
  powerapps-docs/developer/data-platform/webapi/create-update-column-definitions-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Formatting changes
  powerapps-docs/developer/data-platform/use-access-teams-owner-teams-collaborate-share-information.md
Owners: @PHecke, @KumarVivek, @JimDaly

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
