Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Update transparency-notes-copilot-panel.md
  powerapps-docs/maker/common/transparency-notes-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update transparency-note.md
  powerapps-docs/maker/common/transparency-note.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update transparency-note.md
  powerapps-docs/maker/common/transparency-note.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Added links for Dataverse for Teams
  powerapps-docs/maker/data-platform/data-platform-intro.md
Owners: @Mattp123, @KumarVivek

Initial updates
  powerapps-docs/index.yml
Owners: @KumarVivek

More tweaks
  powerapps-docs/index.yml
Owners: @KumarVivek

Tweaks
  powerapps-docs/index.yml
Owners: @KumarVivek

More updates
  powerapps-docs/index.yml
Owners: @KumarVivek

Updates
  powerapps-docs/index.yml
Owners: @KumarVivek

Tweaks
  powerapps-docs/index.yml
Owners: @KumarVivek

Updates
  powerapps-docs/index.yml
Owners: @KumarVivek

Style fixes
  powerapps-docs/mobile/use-custom-model-driven-app-on-mobile.md
Owners: @KumarVivek

More tweaks
  powerapps-docs/index.yml
Owners: @KumarVivek

Update form-component-control.md
  powerapps-docs/maker/model-driven-apps/form-component-control.md
Owners: @Mattp123, @KumarVivek

Fixed links
  powerapps-docs/index.yml
Owners: @KumarVivek

tweaks
  powerapps-docs/index.yml
Owners: @KumarVivek

Revised for accuracy
  powerapps-docs/maker/model-driven-apps/embedded-canvas-app-add-classic-designer.md
  powerapps-docs/maker/model-driven-apps/media/canvas-app-unique-name.png
Owners: @Mattp123, @KumarVivek

Revised for accuracy
  powerapps-docs/maker/model-driven-apps/embedded-canvas-app-add-classic-designer.md
Owners: @Mattp123, @KumarVivek

Revised for accuracy
  powerapps-docs/maker/model-driven-apps/embedded-canvas-app-add-classic-designer.md
Owners: @Mattp123, @KumarVivek

Revised for accuracy
  powerapps-docs/maker/model-driven-apps/embedded-canvas-app-add-classic-designer.md
Owners: @Mattp123, @KumarVivek

Tweaks
  powerapps-docs/index.yml
Owners: @KumarVivek

Correct case of "mime" to "MIME"
  powerapps-docs/developer/data-platform/files-images-overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updates
  powerapps-docs/index.yml
Owners: @KumarVivek

Update
  powerapps-docs/index.yml
Owners: @KumarVivek

update to move to full preview
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Update intro-maker-portal.md
  powerapps-docs/maker/canvas-apps/intro-maker-portal.md
Owners: @tapanm-msft, @KumarVivek

Update relevance-search-benefits.md
  powerapps-docs/user/relevance-search-benefits.md
Owners: @mduelae, @KumarVivek

Update connections-list.md
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Added "official" to the title metadata for SEO
  powerapps-docs/index.yml
Owners: @KumarVivek

Update transparency-note-build-apps-conversation.md
  powerapps-docs/maker/common/transparency-note-build-apps-conversation.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update transparency-note-build-apps-conversation.md
  powerapps-docs/maker/common/transparency-note-build-apps-conversation.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

minor updates
  powerapps-docs/maker/canvas-apps/connections-list.md
  powerapps-docs/maker/canvas-apps/media/connections-list/app-needs-attention.png
  powerapps-docs/maker/canvas-apps/media/connections-list/attention-alert.png
Owners: @tapanm-msft, @KumarVivek

Update connections-list.md
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Tweaks
  powerapps-docs/index.yml
Owners: @KumarVivek

Update data-retention-set.md to have important message about not supported retention tables.
  powerapps-docs/maker/data-platform/data-retention-set.md
Owners: @Mattp123, @KumarVivek

Update description as per guidelines
  powerapps-docs/index.yml
Owners: @KumarVivek

Tweaks
  powerapps-docs/index.yml
Owners: @KumarVivek

Create known-issues-activities.md
  powerapps-docs/user/known-issues-activities.md
Owners: @mduelae, @KumarVivek

Update known-issues-activities.md
  powerapps-docs/user/known-issues-activities.md
Owners: @mduelae, @KumarVivek

Doc feedback 4459
  powerapps-docs/developer/data-platform/org-service/samples/azure-aware-custom-plugin.md
  powerapps-docs/developer/data-platform/write-custom-azure-aware-plugin.md
Owners: @PHecke, @KumarVivek, @JimDaly
