Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update link-entity.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update link-type-matchfirstrowusingcrossapply-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-matchfirstrowusingcrossapply-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed the "subqueries" link in join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update define-ribbon-display-rules.md
  powerapps-docs/developer/model-driven-apps/define-ribbon-display-rules.md
Owners: @JimDaly, @KumarVivek

Update debug-workflow-activites.md
  powerapps-docs/developer/data-platform/workflow/debug-workflow-activites.md
Owners: @PHecke, @KumarVivek, @JimDaly

create stub article
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/search/custom-search-analyzer.md
Owners: @PHecke, @KumarVivek, @JimDaly

clean up
  powerapps-docs/developer/data-platform/search/custom-search-analyzer.md
Owners: @PHecke, @KumarVivek, @JimDaly

not valid
  powerapps-docs/developer/data-platform/search/custom-search-analyzer.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update custom-search-analyzer.md
  powerapps-docs/developer/data-platform/search/custom-search-analyzer.md
Owners: @PHecke, @KumarVivek, @JimDaly

address doc feedback
  powerapps-docs/developer/model-driven-apps/clientapi/get-update-setting-value-using-code.md
Owners: @JimDaly, @KumarVivek

remove old content
  powerapps-docs/developer/model-driven-apps/clientapi/get-update-setting-value-using-code.md
Owners: @JimDaly, @KumarVivek

Removed PVA
  powerapps-docs/index.yml
Owners: @KumarVivek

Revising link to remain reader in maker TOC even though article is in other repo
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

check
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-exists-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-in-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-matchfirstrowusingcrossapply-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

formatting
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

move filter-link type
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/join-tables.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-all-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-any-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-not-all-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-type-not-any-description.md
  powerapps-docs/developer/data-platform/fetchxml/reference/link-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix links
  powerapps-docs/developer/data-platform/fetchxml/filter-rows.md
  powerapps-docs/developer/data-platform/fetchxml/reference/filter.md
  powerapps-docs/developer/data-platform/fetchxml/reference/includes/link-entity-description.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

refactor retrieve-data and samples
  .openpublishing.redirection.json
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/fetchxml/overview.md
  powerapps-docs/developer/data-platform/fetchxml/retrieve-data.md
  powerapps-docs/developer/data-platform/fetchxml/sample.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix links
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/fetchxml/select-columns.md
  powerapps-docs/developer/data-platform/webapi/compose-http-requests-handle-errors.md
Owners: @PHecke, @KumarVivek, @JimDaly

TOC changes plus
  powerapps-docs/developer/data-platform/TOC.yml
  powerapps-docs/developer/data-platform/fetchxml/sample.md
  powerapps-docs/developer/data-platform/webapi/execute-batch-operations-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

move up in TOC
  powerapps-docs/developer/data-platform/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Set an app as startup - PM Devang Pandya - due 2/12
  powerapps-docs/mobile/media/set-startup-app-mobile/app-no-longer-opens-as-startup.png
  powerapps-docs/mobile/media/set-startup-app-mobile/can-mark-app-from-app-details.png
  powerapps-docs/mobile/media/set-startup-app-mobile/dismiss-suggestions-dialogue.png
  powerapps-docs/mobile/media/set-startup-app-mobile/remove-from-startup-icon.png
  powerapps-docs/mobile/media/set-startup-app-mobile/set-app-from-deatils-page.png
  powerapps-docs/mobile/media/set-startup-app-mobile/startup-app-icon-near-app-title.png
  powerapps-docs/mobile/media/set-startup-app-mobile/startup-app-suggestion.png
  powerapps-docs/mobile/media/set-startup-app-mobile/success-message-after-tap.png
  powerapps-docs/mobile/media/set-startup-app-mobile/usage-message-from-details-page.png
  powerapps-docs/mobile/media/set-startup-app-mobile/user-asked-about-replacement-app.png
  powerapps-docs/mobile/set-startup-app-mobile.md
Owners: @KumarVivek

lower case
  powerapps-docs/developer/data-platform/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

refactor toc
  powerapps-docs/developer/data-platform/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Added link to xref
  powerapps-docs/developer/data-platform/handle-exceptions.md
Owners: @PHecke, @KumarVivek, @JimDaly

Minor change
  powerapps-docs/developer/data-platform/handle-exceptions.md
Owners: @PHecke, @KumarVivek, @JimDaly

Acrolinx corrections
  powerapps-docs/developer/data-platform/handle-exceptions.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added code sample link
  powerapps-docs/developer/data-platform/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Preview banners
  powerapps-docs/mobile/set-startup-app-mobile.md
Owners: @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Update set-startup-app-mobile.md
  powerapps-docs/mobile/set-startup-app-mobile.md
Owners: @KumarVivek

Updates
  powerapps-docs/mobile/media/set-startup-app-mobile/app-no-longer-opens-as-startup.png
  powerapps-docs/mobile/media/set-startup-app-mobile/can-mark-app-from-app-details.png
  powerapps-docs/mobile/media/set-startup-app-mobile/dismiss-suggestions-dialogue.png
  powerapps-docs/mobile/media/set-startup-app-mobile/remove-from-startup-icon.png
  powerapps-docs/mobile/media/set-startup-app-mobile/set-app-from-deatils-page.png
  powerapps-docs/mobile/media/set-startup-app-mobile/startup-app-icon-near-app-title.png
  powerapps-docs/mobile/media/set-startup-app-mobile/startup-app-suggestion.png
  powerapps-docs/mobile/media/set-startup-app-mobile/success-message-after-tap.png
  powerapps-docs/mobile/media/set-startup-app-mobile/usage-message-from-details-page.png
  powerapps-docs/mobile/media/set-startup-app-mobile/user-asked-about-replacement-app.png
  powerapps-docs/mobile/set-startup-app-mobile.md
Owners: @KumarVivek

Update well-written-input-text-copilot.md
  powerapps-docs/user/well-written-input-text-copilot.md
Owners: @mduelae, @KumarVivek

Updates
  powerapps-docs/mobile/set-startup-app-mobile.md
Owners: @KumarVivek

Update get-started-ve.md
  powerapps-docs/developer/data-platform/virtual-entities/get-started-ve.md
Owners: @PHecke, @KumarVivek, @JimDaly

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
