Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update control-stream-video.md
  powerapps-docs/maker/canvas-apps/controls/control-stream-video.md
Owners: @tapanm-msft, @KumarVivek

check
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added note
  powerapps-docs/developer/data-platform/analyze-performance.md
Owners: @PHecke, @KumarVivek, @JimDaly

tweaks
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
Owners: @PHecke, @KumarVivek, @JimDaly

tweak
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
Owners: @PHecke, @KumarVivek, @JimDaly

change navigateTo to just 'navigate'
  powerapps-docs/developer/model-driven-apps/clientapi/reference/xrm-app-sidepanes.md
Owners: @JimDaly, @KumarVivek

set date
  powerapps-docs/developer/model-driven-apps/clientapi/reference/xrm-app-sidepanes.md
Owners: @JimDaly, @KumarVivek

Updating sample links for clarity.
  powerapps-docs/developer/data-platform/org-service/samples/early-bound-entity-operations.md
  powerapps-docs/developer/data-platform/org-service/samples/enable-duplicate-detection-and-retrieve-duplicates.md
  powerapps-docs/developer/data-platform/org-service/samples/enable-field-security-entity.md
  powerapps-docs/developer/data-platform/org-service/samples/end-recurring-appointment-series.md
  powerapps-docs/developer/data-platform/org-service/samples/execute-multiple-requests.md
  powerapps-docs/developer/data-platform/org-service/samples/execute-multiple-transaction.md
  powerapps-docs/developer/data-platform/org-service/samples/export-import-data-map.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update Cards docs for Adaptive Cards 1.5
  powerapps-docs/cards/controls/button.md
  powerapps-docs/cards/controls/control-reference.md
  powerapps-docs/cards/controls/table.md
Owners: @KumarVivek

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/export-ribbon-definitions.md
  powerapps-docs/developer/data-platform/org-service/samples/get-report-history-limit.md
  powerapps-docs/developer/data-platform/org-service/samples/import-data-complex-data-map.md
  powerapps-docs/developer/data-platform/org-service/samples/import-files-as-web-resources.md
  powerapps-docs/developer/data-platform/org-service/samples/initialize-record-from-existing-record.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update control-stream-video.md
  powerapps-docs/maker/canvas-apps/controls/control-stream-video.md
Owners: @tapanm-msft, @KumarVivek

Updating links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/insert-update-record-upsert.md
  powerapps-docs/developer/data-platform/org-service/samples/issystemadmin-customapi-sample-plugin.md
  powerapps-docs/developer/data-platform/org-service/samples/late-bound-entity-operations.md
  powerapps-docs/developer/data-platform/org-service/samples/link-custom-attributes-between-series-instances.md
  powerapps-docs/developer/data-platform/org-service/samples/make-report-available-to-organization.md
Owners: @PHecke, @KumarVivek, @JimDaly

Draft include
  shared/cross-geo-support.md
Owners: none

tweaks
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
Owners: @PHecke, @KumarVivek, @JimDaly

operations per request
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised for style and date metadata
  powerapps-docs/maker/monitor-collaborative-debugging.md
  powerapps-docs/maker/monitor-modelapps.md
Owners: @KumarVivek

Revised for style and date metadata
  powerapps-docs/maker/monitor-collaborative-debugging.md
Owners: @KumarVivek

move test-engine content
  powerapps-docs/developer/test-engine/controlsupport.md
  powerapps-docs/developer/test-engine/media/download-test-suite-individual.png
  powerapps-docs/developer/test-engine/media/download-test-suite.png
  powerapps-docs/developer/test-engine/overview.md
  powerapps-docs/developer/test-engine/powerfx.md
  powerapps-docs/developer/test-engine/yaml.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update working-with-formulas.md
  powerapps-docs/maker/canvas-apps/working-with-formulas.md
Owners: @tapanm-msft, @KumarVivek

Update working-with-formulas.md
  powerapps-docs/maker/canvas-apps/working-with-formulas.md
Owners: @tapanm-msft, @KumarVivek

add to toc and other changes
  powerapps-docs/developer/test-engine/controlsupport.md
  powerapps-docs/developer/test-engine/overview.md
  powerapps-docs/developer/test-engine/powerfx.md
  powerapps-docs/developer/test-engine/yaml.md
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/canvas-apps/test-engine.md
Owners: @PHecke, @KumarVivek, @JimDaly, @tapanm-msft

'ms.subservice': 'developer' conflict
  powerapps-docs/developer/test-engine/controlsupport.md
  powerapps-docs/developer/test-engine/overview.md
  powerapps-docs/developer/test-engine/powerfx.md
  powerapps-docs/developer/test-engine/yaml.md
Owners: @PHecke, @KumarVivek, @JimDaly

add link to pac tests run
  powerapps-docs/developer/test-engine/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/merge-two-records.md
  powerapps-docs/developer/data-platform/org-service/samples/modify-query-preoperation-stage.md
  powerapps-docs/developer/data-platform/org-service/samples/one-way-listener.md
  powerapps-docs/developer/data-platform/org-service/samples/override-goal-total-count-close-goal.md
  powerapps-docs/developer/data-platform/org-service/samples/promote-email-message.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/publish-report.md
  powerapps-docs/developer/data-platform/org-service/samples/query-connection-roles-entity-type-code-early-bound.md
  powerapps-docs/developer/data-platform/org-service/samples/query-connections-reciprocal-roles-early-bound.md
  powerapps-docs/developer/data-platform/org-service/samples/query-connections-record-early-bound.md
  powerapps-docs/developer/data-platform/org-service/samples/query-using-linq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Delete Copilot-choose-data-properties.png
  powerapps-docs/maker/canvas-apps/media/copilot/Copilot-choose-data-properties.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/copilot/copilot-choose-data-properties.png
Owners: @tapanm-msft, @KumarVivek

Adding FAQ for MDA Copilot
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/common/faqs-copilot-model-driven-app.md
Owners: @KumarVivek, @Mattp123, @tapanm-msft

Adding FAQ for MDA Copilot
  powerapps-docs/maker/common/faqs-copilot-model-driven-app.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/query-working-hours-multiple-users.md
  powerapps-docs/developer/data-platform/org-service/samples/query-working-hours-user.md
  powerapps-docs/developer/data-platform/org-service/samples/release-queue-item-queue-early-bound.md
  powerapps-docs/developer/data-platform/org-service/samples/remove-role-for-user.md
  powerapps-docs/developer/data-platform/org-service/samples/reschedule-cancel-recurring-appointment.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating sample links for clarity
  powerapps-docs/developer/data-platform/org-service/samples/rest-listener.md
  powerapps-docs/developer/data-platform/org-service/samples/retrieve-charts-attached-to-entity.md
  powerapps-docs/developer/data-platform/org-service/samples/retrieve-currency-exchange-rate.md
  powerapps-docs/developer/data-platform/org-service/samples/retrieve-email-attachments-email-template.md
  powerapps-docs/developer/data-platform/org-service/samples/retrieve-field-permissions.md
Owners: @PHecke, @KumarVivek, @JimDaly

Delete Updated-Copilot-properties.png
  powerapps-docs/maker/canvas-apps/media/copilot/Updated-Copilot-properties.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/copilot/updated-copilot-properties.png
Owners: @tapanm-msft, @KumarVivek

Update add-ai-copilot.md
  powerapps-docs/maker/canvas-apps/add-ai-copilot.md
Owners: @tapanm-msft, @KumarVivek

Adding FAQ for MDA Copilot
  powerapps-docs/maker/common/faqs-copilot-model-driven-app.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Adding FAQ for MDA Copilot
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update retrieve-charts-attached-to-entity.md
  powerapps-docs/developer/data-platform/org-service/samples/retrieve-charts-attached-to-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Adding link to FAQ
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
Owners: @Mattp123, @KumarVivek

changed heading
  powerapps-docs/developer/data-platform/optimize-performance-create-update.md
Owners: @PHecke, @KumarVivek, @JimDaly

Adding more prereq detail and updating screenshot
  powerapps-docs/maker/model-driven-apps/add-ai-copilot.md
  powerapps-docs/maker/model-driven-apps/media/model-driven-app-copilot.png
Owners: @Mattp123, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
