Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Date reversal
  powerapps-docs/maker/portals/manage-existing-portals.md
Owners: @nickdoelman, @KumarVivek

Date reversal
  powerapps-docs/maker/portals/portal-designer-anatomy.md
Owners: @nickdoelman, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Reconciling open issues
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

updates
  powerapps-docs/maker/portals/create-additional-portals.md
  powerapps-docs/maker/portals/terminology-changes.md
Owners: @nickdoelman, @KumarVivek

updates
  powerapps-docs/maker/portals/create-additional-portals.md
  powerapps-docs/maker/portals/terminology-changes.md
Owners: @nickdoelman, @KumarVivek

Update Azure-Synapse-Link-view-in-Fabric.md
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Reconciling tech review
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Reconciling tech review
  powerapps-docs/maker/data-platform/Azure-Synapse-Link-view-in-Fabric.md
Owners: @Mattp123, @KumarVivek

Update add-app-solution-default.md
  powerapps-docs/maker/canvas-apps/add-app-solution-default.md
Owners: @tapanm-msft, @KumarVivek

Removed the Privacy note section as per feedback
  powerapps-docs/maker/data-platform/data-platform-intro.md
Owners: @Mattp123, @KumarVivek

Update rich-text-editor-control.md
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
Owners: @Mattp123, @KumarVivek

Refining to bookmark link in article for clarity
  powerapps-docs/maker/model-driven-apps/use-copilot-email-assist.md
Owners: @Mattp123, @KumarVivek

App settings not need admin to set.
  powerapps-docs/maker/model-driven-apps/use-copilot-email-assist.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/model-driven-apps/media/pin-unpin-configuration.png
Owners: @Mattp123, @KumarVivek

Update set-up-timeline-control.md
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/model-driven-apps/media/set-up-pin-unpin.png
Owners: @Mattp123, @KumarVivek

Update set-up-timeline-control.md
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update create-and-use-dataflows.md
  powerapps-docs/maker/data-platform/create-and-use-dataflows.md
Owners: @Mattp123, @KumarVivek

Update create-and-use-dataflows.md
  powerapps-docs/maker/data-platform/create-and-use-dataflows.md
Owners: @Mattp123, @KumarVivek

Update create-and-use-dataflows.md
  powerapps-docs/maker/data-platform/create-and-use-dataflows.md
Owners: @Mattp123, @KumarVivek

Updates from Anantha Ganjam
  powerapps-docs/maker/data-platform/create-and-use-dataflows.md
Owners: @Mattp123, @KumarVivek

Formatting, Acrolinx, and ms.date changes
  powerapps-docs/maker/data-platform/create-and-use-dataflows.md
Owners: @Mattp123, @KumarVivek

Update file-attributes.md
  powerapps-docs/developer/data-platform/file-attributes.md
Owners: @PHecke, @KumarVivek, @JimDaly

removed_file_datatype_from_unsupported_list
  powerapps-docs/user/relevance-search.md
Owners: @mduelae, @KumarVivek

edit and build warning
  powerapps-docs/developer/data-platform/file-attributes.md
  powerapps-docs/developer/data-platform/image-attributes.md
Owners: @PHecke, @KumarVivek, @JimDaly

Tweaks
  powerapps-docs/user/relevance-search.md
Owners: @mduelae, @KumarVivek

groupby with datetime values is not supported.
  powerapps-docs/developer/data-platform/webapi/query-data-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update copilot-data-security-privacy.md
  shared/responsible-ai-faqs-includes/copilot-data-security-privacy.md
Owners: none

Adding new feature
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Revising per 3590784
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Revising per 3590784
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Removed preview tag
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Revising per 3590784
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Revising per 3590784
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Revising per 3590784
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Revising per 3590784
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
