Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update known-issues-activities.md
  powerapps-docs/user/known-issues-activities.md
Owners: @mduelae, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Update transparency-notes-copilot-panel.md
  powerapps-docs/maker/common/transparency-notes-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update transparency-notes-copilot-panel.md
  powerapps-docs/maker/common/transparency-notes-copilot-panel.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update add-manage-connections.md
  powerapps-docs/maker/canvas-apps/add-manage-connections.md
Owners: @tapanm-msft, @KumarVivek

Revised per 3452313
  powerapps-docs/maker/data-platform/data-retention-set.md
Owners: @Mattp123, @KumarVivek

Update unified-interface.md
  powerapps-docs/user/unified-interface.md
Owners: @mduelae, @KumarVivek

Add files via upload
  powerapps-docs/user/media/Reflow.png
Owners: @mduelae, @KumarVivek

Revised per 3452313
  powerapps-docs/maker/data-platform/data-retention-set.md
Owners: @Mattp123, @KumarVivek

Update unified-interface.md
  powerapps-docs/user/unified-interface.md
Owners: @mduelae, @KumarVivek

Update add-manage-connections.md
  powerapps-docs/maker/canvas-apps/add-manage-connections.md
Owners: @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Order
  powerapps-docs/index.yml
Owners: @KumarVivek

Update known-issues-activities.md
  powerapps-docs/user/known-issues-activities.md
Owners: @mduelae, @KumarVivek

Update known-issues-activities.md
  powerapps-docs/user/known-issues-activities.md
Owners: @mduelae, @KumarVivek

Update known-issues-activities.md
  powerapps-docs/user/known-issues-activities.md
Owners: @mduelae, @KumarVivek

Order
  powerapps-docs/index.yml
Owners: @KumarVivek

Updates for Dataverse Actions going to Preview
  powerapps-docs/maker/canvas-apps/connections/connection-common-data-service.md
  powerapps-docs/maker/canvas-apps/connections/media/connection-common-data-service/common-data-service-connection-dataverse-action-switch-preview.png
Owners: @tapanm-msft, @KumarVivek

Update connection-common-data-service.md
  powerapps-docs/maker/canvas-apps/connections/connection-common-data-service.md
Owners: @tapanm-msft, @KumarVivek

Update connection-common-data-service.md
  powerapps-docs/maker/canvas-apps/connections/connection-common-data-service.md
Owners: @tapanm-msft, @KumarVivek

Update connection-common-data-service.md
  powerapps-docs/maker/canvas-apps/connections/connection-common-data-service.md
Owners: @tapanm-msft, @KumarVivek

Update connection-common-data-service.md
  powerapps-docs/maker/canvas-apps/connections/connection-common-data-service.md
Owners: @tapanm-msft, @KumarVivek

Update azure-synapse-link-synapse.md
  powerapps-docs/maker/data-platform/azure-synapse-link-synapse.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-data-lake.md
  powerapps-docs/maker/data-platform/azure-synapse-link-data-lake.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update connection-common-data-service.md
  powerapps-docs/maker/canvas-apps/connections/connection-common-data-service.md
Owners: @tapanm-msft, @KumarVivek

Remove sentance
  powerapps-docs/developer/data-platform/webapi/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revised for style
  powerapps-docs/maker/data-platform/azure-synapse-link-synapse.md
Owners: @Mattp123, @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/azure-synapse-link-data-lake.md
Owners: @Mattp123, @KumarVivek

Remove unsupported media file formats
  powerapps-docs/maker/canvas-apps/add-images-pictures-audio-video.md
Owners: @tapanm-msft, @KumarVivek

Update relevance-search-benefits.md
  powerapps-docs/user/relevance-search-benefits.md
Owners: @mduelae, @KumarVivek

Update azure-synapse-incremental-updates.md
  powerapps-docs/maker/data-platform/azure-synapse-incremental-updates.md
Owners: @Mattp123, @KumarVivek

Update azure-synapse-link-advanced-configuration.md
  powerapps-docs/maker/data-platform/azure-synapse-link-advanced-configuration.md
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/media/img1.png
  powerapps-docs/maker/media/img2.gif
  powerapps-docs/maker/media/img2.png
  powerapps-docs/maker/media/img3.png
  powerapps-docs/maker/media/img4.png
  powerapps-docs/maker/media/img5.png
  powerapps-docs/maker/media/img6.png
  powerapps-docs/maker/media/img7.gif
Owners: @KumarVivek

Update data-retention-faq.yml
  powerapps-docs/maker/data-platform/data-retention-faq.yml
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/data-platform/media/dv-home-scr.png
  powerapps-docs/maker/data-platform/media/excel-data-folder.png
  powerapps-docs/maker/data-platform/media/excel-data.png
  powerapps-docs/maker/data-platform/media/extdata-virtual-table.png
  powerapps-docs/maker/data-platform/media/ppd-template-exc.gif
  powerapps-docs/maker/data-platform/media/ppp-main.png
  powerapps-docs/maker/data-platform/media/pq-edit-scr.png
Owners: @Mattp123, @KumarVivek

Update import-export-data.md
  powerapps-docs/maker/data-platform/import-export-data.md
Owners: @Mattp123, @KumarVivek

update for tenant publish
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Update connections-list.md
  powerapps-docs/maker/canvas-apps/connections-list.md
Owners: @tapanm-msft, @KumarVivek

Update import-export-data.md
  powerapps-docs/maker/data-platform/import-export-data.md
Owners: @Mattp123, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
