Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update modern-control-dropdown.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-dropdown.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-info-button.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-info-button.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-link.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-link.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-progress-bar.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-progress-bar.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-spinner.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-spinner.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-table.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-table.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-tabs-or-tabs-list.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-tabs-or-tabs-list.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-text-input.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-text-input.md
Owners: @tapanm-msft, @KumarVivek

Update modern-controls-badge.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-badge.md
Owners: @tapanm-msft, @KumarVivek

Update modern-controls-date-picker.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-date-picker.md
Owners: @tapanm-msft, @KumarVivek

Update modern-controls-header.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-header.md
Owners: @tapanm-msft, @KumarVivek

Update modern-controls-radio-group.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-radio-group.md
Owners: @tapanm-msft, @KumarVivek

Update modern-controls-badge.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-badge.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-progress-bar.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-progress-bar.md
Owners: @tapanm-msft, @KumarVivek

Update portal-designer-anatomy.md
  powerapps-docs/maker/portals/portal-designer-anatomy.md
Owners: @nickdoelman, @KumarVivek

Update modern-control-table.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-table.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-progress-bar.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-progress-bar.md
Owners: @tapanm-msft, @KumarVivek

Update modern-controls-badge.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-badge.md
Owners: @tapanm-msft, @KumarVivek

Update modern-controls-header.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-header.md
Owners: @tapanm-msft, @KumarVivek

Update modern-control-info-button.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-control-info-button.md
Owners: @tapanm-msft, @KumarVivek

grammar
  powerapps-docs/developer/data-platform/fetchxml/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Create modern-theme-overrides.md
  powerapps-docs/maker/model-driven-apps/modern-theme-overrides.md
Owners: @Mattp123, @KumarVivek

Update modern-theme-overrides.md
  powerapps-docs/maker/model-driven-apps/modern-theme-overrides.md
Owners: @Mattp123, @KumarVivek

Update modern-fluent-design.md
  powerapps-docs/user/modern-fluent-design.md
Owners: @mduelae, @KumarVivek

Update setup-mobile-offline.md
  powerapps-docs/mobile/setup-mobile-offline.md
Owners: @KumarVivek

Adding links to PPAC article
  powerapps-docs/maker/data-platform/preferred-solution.md
Owners: @Mattp123, @KumarVivek

Add note about multi-select picklists to ReportWizard page
  powerapps-docs/user/create-report-with-wizard.md
Owners: @mduelae, @KumarVivek

Revising bookmark
  powerapps-docs/maker/data-platform/preferred-solution.md
Owners: @Mattp123, @KumarVivek

Update limits-and-config.md
  powerapps-docs/limits-and-config.md
Owners: @KumarVivek

Fixing bookmark link
  powerapps-docs/maker/data-platform/preferred-solution.md
Owners: @Mattp123, @KumarVivek

Added more info on plug-in limitations
  powerapps-docs/developer/data-platform/dependent-assembly-plugins.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Update ai-conversations-create-app.md
  powerapps-docs/maker/canvas-apps/ai-conversations-create-app.md
Owners: @tapanm-msft, @KumarVivek

Update ai-overview.md
  powerapps-docs/maker/canvas-apps/ai-overview.md
Owners: @tapanm-msft, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update faqs-build-apps-conversation.md
  powerapps-docs/maker/common/faqs-build-apps-conversation.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Removing preview indicators from NL2Table AI feature
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Fixing bookmark and link title to remove preview
  powerapps-docs/maker/data-platform/create-edit-entities-portal.md
Owners: @Mattp123, @KumarVivek

Update data-retention-view.md
  powerapps-docs/maker/data-platform/data-retention-view.md
Owners: @Mattp123, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
