Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

check
  powerapps-docs/developer/data-platform/webapi/TOC.yml
  powerapps-docs/developer/data-platform/webapi/create-update-column-definitions-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/create-update-entity-definitions-using-web-api.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  powerapps-docs/developer/data-platform/webapi/TOC.yml
  powerapps-docs/developer/data-platform/webapi/create-update-column-definitions-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/create-update-entity-definitions-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/create-update-entity-relationships-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/multitable-lookup.md
  powerapps-docs/developer/data-platform/webapi/query-metadata-web-api.md
  powerapps-docs/developer/data-platform/webapi/retrieve-metadata-name-metadataid.md
  powerapps-docs/developer/data-platform/webapi/use-web-api-metadata.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added notice to advise about instrumentation keys
  powerapps-docs/maker/canvas-apps/application-insights.md
Owners: @tapanm-msft, @KumarVivek

Update export-import-app.md
  powerapps-docs/maker/canvas-apps/export-import-app.md
Owners: @tapanm-msft, @KumarVivek

Update data-retention-overview.md
  powerapps-docs/maker/data-platform/data-retention-overview.md
Owners: @Mattp123, @KumarVivek

fix links
  powerapps-docs/developer/data-platform/auditing/configure.md
  powerapps-docs/developer/data-platform/create-elastic-tables.md
  powerapps-docs/developer/data-platform/entity-attribute-metadata-messages.md
  powerapps-docs/developer/data-platform/file-attributes.md
  powerapps-docs/developer/data-platform/image-attributes.md
  powerapps-docs/developer/data-platform/webapi/create-update-optionsets.md
  powerapps-docs/developer/data-platform/webapi/web-api-metadata-operations-sample.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix links
  powerapps-docs/developer/data-platform/webapi/TOC.yml
  powerapps-docs/developer/data-platform/webapi/create-update-optionsets.md
  powerapps-docs/developer/data-platform/webapi/web-api-metadata-operations-sample.md
Owners: @PHecke, @KumarVivek, @JimDaly

Delete copilot-pane.png
  powerapps-docs/maker/canvas-apps/media/artificial-intelligence/copilot-pane.png
Owners: @tapanm-msft, @KumarVivek

Add files via upload
  powerapps-docs/maker/canvas-apps/media/artificial-intelligence/copilot-pane.png
Owners: @tapanm-msft, @KumarVivek

Update ai-edit-app.md
  powerapps-docs/maker/canvas-apps/ai-edit-app.md
Owners: @tapanm-msft, @KumarVivek

Shared preview disclaimers
  shared/preview-includes/preview-banner.md
  shared/preview-includes/preview-note.md
  shared/preview-includes/production-ready-preview-dynamics365.md
  shared/preview-includes/production-ready-preview-powerplatform.md
Owners: none

Added exception handling for Elastic Bulk APIs
  powerapps-docs/developer/data-platform/bulk-operations-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

v9.2
  powerapps-docs/developer/data-platform/webapi/create-update-column-definitions-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/create-update-entity-definitions-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/create-update-entity-relationships-using-web-api.md
  powerapps-docs/developer/data-platform/webapi/multitable-lookup.md
  powerapps-docs/developer/data-platform/webapi/query-metadata-web-api.md
  powerapps-docs/developer/data-platform/webapi/retrieve-metadata-name-metadataid.md
  powerapps-docs/developer/data-platform/webapi/use-web-api-metadata.md
Owners: @PHecke, @KumarVivek, @JimDaly

updates for recent updates in delegation support
  powerapps-docs/maker/canvas-apps/delegation-overview.md
Owners: @tapanm-msft, @KumarVivek

acrolinx
  powerapps-docs/developer/data-platform/create-elastic-tables.md
  powerapps-docs/developer/data-platform/webapi/multitable-lookup.md
  powerapps-docs/developer/data-platform/webapi/retrieve-metadata-name-metadataid.md
  powerapps-docs/developer/data-platform/webapi/web-api-metadata-operations-sample.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update
  powerapps-docs/maker/canvas-apps/sharepoint/scenarios-customize-view-based-on-column-status.md
  shared/preview-includes/preview-banner.md
  shared/preview-includes/preview-note.md
  shared/preview-includes/production-ready-preview-dynamics365.md
  shared/preview-includes/production-ready-preview-powerplatform.md
Owners: @tapanm-msft, @KumarVivek

Check
  powerapps-docs/maker/canvas-apps/sharepoint/scenarios-customize-view-based-on-column-status.md
Owners: @tapanm-msft, @KumarVivek

Fix
  powerapps-docs/maker/canvas-apps/sharepoint/scenarios-customize-view-based-on-column-status.md
Owners: @tapanm-msft, @KumarVivek

Updates for mobile offline-first
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
  powerapps-docs/mobile/mobile-offline-overview.md
Owners: @KumarVivek

Update delegation-overview.md
  powerapps-docs/maker/canvas-apps/delegation-overview.md
Owners: @tapanm-msft, @KumarVivek

Update canvas-mobile-offline-overview.md
  powerapps-docs/mobile/canvas-mobile-offline-overview.md
Owners: @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

edited
  powerapps-docs/developer/data-platform/bulk-operations-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/bulk-operations-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove the
  powerapps-docs/developer/data-platform/bulk-operations-elastic-tables.md
Owners: @PHecke, @KumarVivek, @JimDaly

Removing supported operator and functions per 3438036
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Update overview.md
  powerapps-docs/cards/overview.md
Owners: @KumarVivek

Update azure-synapse-link-msi.md
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
Owners: @Mattp123, @KumarVivek

Update designer-overview.md
  powerapps-docs/cards/make-a-card/designer-overview.md
Owners: @KumarVivek

Update controls.md
  powerapps-docs/cards/make-a-card/ui-elements/controls.md
Owners: @KumarVivek

Update use-buttons.md
  powerapps-docs/cards/make-a-card/ui-elements/use-buttons.md
Owners: @KumarVivek

Update use-buttons.md
  powerapps-docs/cards/make-a-card/ui-elements/use-buttons.md
Owners: @KumarVivek

Update controls.md
  powerapps-docs/cards/make-a-card/ui-elements/controls.md
Owners: @KumarVivek

Revised for style and clarity
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
Owners: @Mattp123, @KumarVivek

Revised for style and clarity
  powerapps-docs/maker/data-platform/azure-synapse-link-msi.md
Owners: @Mattp123, @KumarVivek

Update controls.md
  powerapps-docs/cards/make-a-card/ui-elements/controls.md
Owners: @KumarVivek

Update controls.md
  powerapps-docs/cards/make-a-card/ui-elements/controls.md
Owners: @KumarVivek

Removing preview indicators
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/data-platform/create-virtual-tables-using-connectors.md
Owners: @KumarVivek, @Mattp123

Update controls.md
  powerapps-docs/cards/make-a-card/ui-elements/controls.md
Owners: @KumarVivek

Update controls.md
  powerapps-docs/cards/make-a-card/ui-elements/controls.md
Owners: @KumarVivek
