Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

Update add-screen-context-variables.md
  powerapps-docs/maker/canvas-apps/add-screen-context-variables.md
Owners: @tapanm-msft, @KumarVivek

Update create-blank-app.md
  powerapps-docs/maker/canvas-apps/create-blank-app.md
Owners: @tapanm-msft, @KumarVivek

Update data-platform-create-app-scratch.md
  powerapps-docs/maker/canvas-apps/data-platform-create-app-scratch.md
Owners: @tapanm-msft, @KumarVivek

Update create-key-vault-for-code-signing.md
  powerapps-docs/maker/common/wrap/create-key-vault-for-code-signing.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update wrap-how-to.md
  powerapps-docs/maker/common/wrap/wrap-how-to.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update overview.md
  powerapps-docs/maker/common/wrap/overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

check
  powerapps-docs/developer/data-platform/bulk-operations.md
  powerapps-docs/developer/data-platform/delete-data-bulk.md
  powerapps-docs/developer/data-platform/org-service/entity-operations-update-delete.md
Owners: @PHecke, @KumarVivek, @JimDaly

add DeleteMultiple example
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

links to samples
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

edit
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Rename ai-app-descriptions-faq to ai-app-descriptions-faq.md
  powerapps-docs/maker/common/ai-app-descriptions-faq.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update form-onsave.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/form-onsave.md
Owners: @JimDaly, @KumarVivek

Add files via upload
  powerapps-docs/user/media/timeline-what-you-missed.png
Owners: @mduelae, @KumarVivek

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Update set-up-timeline-control.md
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update set-up-timeline-control.md
  powerapps-docs/maker/model-driven-apps/set-up-timeline-control.md
Owners: @Mattp123, @KumarVivek

Update add-activities.md
  powerapps-docs/user/add-activities.md
Owners: @mduelae, @KumarVivek

Add files via upload
  powerapps-docs/user/media/timeline-pin-unpin-activity.png
Owners: @mduelae, @KumarVivek

Revised per 3510328
  powerapps-docs/maker/data-platform/data-retention-set.md
Owners: @Mattp123, @KumarVivek

applying Daryl's change
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events/form-onsave.md
Owners: @JimDaly, @KumarVivek

Added H2 for sync status icons
  powerapps-docs/mobile/canvas-mobile-offline-working.md
Owners: @KumarVivek

Update data-retention-manage.md
  powerapps-docs/maker/data-platform/data-retention-manage.md
Owners: @Mattp123, @KumarVivek

Update offline-capabilities.md
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Revised for style
  powerapps-docs/maker/data-platform/formula-columns.md
  powerapps-docs/maker/model-driven-apps/the-power-apps-grid-control.md
Owners: @Mattp123, @KumarVivek

Add Known Issue with DeleteMultiple
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Adding new section per 3508778
  powerapps-docs/maker/data-platform/formula-columns.md
  powerapps-docs/maker/data-platform/media/formula-column-currency.png
  powerapps-docs/maker/data-platform/media/formula-column-datetime.png
  powerapps-docs/maker/data-platform/media/formula-column-number.png
  powerapps-docs/maker/data-platform/media/formula-column-rollup1.png
  powerapps-docs/maker/data-platform/media/formula-column-rollup2.png
Owners: @Mattp123, @KumarVivek

Move note
  powerapps-docs/developer/data-platform/bulk-operations.md
Owners: @PHecke, @KumarVivek, @JimDaly

Adding new section per 3508778
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Adding new section per 3508778
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

edits
  powerapps-docs/maker/common/ai-app-descriptions-faq.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update TOC.yml
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Adding new section per 3508778
  powerapps-docs/maker/data-platform/formula-columns.md
Owners: @Mattp123, @KumarVivek

Update save-publish-app.md
  powerapps-docs/maker/canvas-apps/save-publish-app.md
Owners: @tapanm-msft, @KumarVivek

Update save-publish-app.md
  powerapps-docs/maker/canvas-apps/save-publish-app.md
Owners: @tapanm-msft, @KumarVivek

Update ai-app-descriptions-faq.md
  powerapps-docs/maker/common/ai-app-descriptions-faq.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update save-publish-app.md
  powerapps-docs/maker/canvas-apps/save-publish-app.md
Owners: @tapanm-msft, @KumarVivek

Update responsible-ai-overview.md
  powerapps-docs/maker/common/responsible-ai-overview.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

Update save-publish-app.md
  powerapps-docs/maker/canvas-apps/save-publish-app.md
Owners: @tapanm-msft, @KumarVivek

Update ai-app-descriptions-faq.md
  powerapps-docs/maker/common/ai-app-descriptions-faq.md
Owners: @Mattp123, @tapanm-msft, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek
