Repository MicrosoftDocs/powerapps-docs, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @jimholtz, @PHecke, @JimDaly, @tapanm-msft, @Mattp123, @nickdoelman, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/powerapps-docs/                                    @KumarVivek
/powerapps-docs/administrator/                      @jimholtz @KumarVivek
/powerapps-docs/developer/                          @PHecke @KumarVivek @JimDaly
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/data-platform/cli         @JimDaly @KumarVivek
/powerapps-docs/developer/model-driven-apps         @JimDaly @KumarVivek
/powerapps-docs/maker/canvas-apps                   @tapanm-msft @KumarVivek
/powerapps-docs/maker/data-platform                 @Mattp123 @KumarVivek
/powerapps-docs/maker/model-driven-apps             @Mattp123 @KumarVivek
/powerapps-docs/maker/common                        @Mattp123 @tapanm-msft @KumarVivek
/powerapps-docs/maker/portals                       @nickdoelman @KumarVivek
/powerapps-docs/user/                               @mduelae @KumarVivek
/powerapps-docs/teams/                              @tapanm-msft @KumarVivek

Remove preview indicators for table-settings-for-copilot.md
  powerapps-docs/maker/data-platform/table-settings-for-copilot.md
Owners: @Mattp123, @KumarVivek

Removing preview indicator
  powerapps-docs/maker/TOC.yml
Owners: @KumarVivek

Removing "preview" per forked PR
  powerapps-docs/maker/data-platform/azure-synapse-link-select-FnO-data.md
Owners: @Mattp123, @KumarVivek

Review
  powerapps-docs/maker/model-driven-apps/add-calendar-control.md
Owners: @Mattp123, @KumarVivek

Update add-calendar-control.md
  powerapps-docs/maker/model-driven-apps/add-calendar-control.md
Owners: @Mattp123, @KumarVivek

Update add-calendar-control.md
  powerapps-docs/maker/model-driven-apps/add-calendar-control.md
Owners: @Mattp123, @KumarVivek

Editing in progress
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/model-driven-apps/copilot-control.md
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
Owners: @KumarVivek, @Mattp123

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Updates
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Update canvas-mobile-offline-setup.md
  powerapps-docs/mobile/canvas-mobile-offline-setup.md
Owners: @KumarVivek

Update offline-capabilities.md
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Update signup-for-powerapps.md
  powerapps-docs/maker/signup-for-powerapps.md
Owners: @KumarVivek

Update get-started-test-drive.md
  powerapps-docs/maker/canvas-apps/get-started-test-drive.md
Owners: @tapanm-msft, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Create low-code-plugins
  powerapps-docs/maker/data-platform/media/low-code-plugins
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/data-platform/media/low-code-plugin-automated-create.png
  powerapps-docs/maker/data-platform/media/low-code-plugin-instant-create.png
  powerapps-docs/maker/data-platform/media/low-code-plugin-instant-integrate.png
  powerapps-docs/maker/data-platform/media/low-code-plugin-instant-newform.png
  powerapps-docs/maker/data-platform/media/low-code-plugin-test-home.png
  powerapps-docs/maker/data-platform/media/low-code-plugin-test.png
Owners: @Mattp123, @KumarVivek

Add files via upload
  powerapps-docs/maker/data-platform/media/low-code-plugin-instant-newform.png
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Update low-code-plug-ins.md
  powerapps-docs/maker/data-platform/low-code-plug-ins.md
Owners: @Mattp123, @KumarVivek

Fixed bad link
  powerapps-docs/maker/model-driven-apps/copilot-control.md
Owners: @Mattp123, @KumarVivek

[Offline Capabilities] Add required value in custom code for msdyn_lineorder during Work Order Service Tasks creation in offline
  powerapps-docs/mobile/offline-capabilities.md
Owners: @KumarVivek

Editing complete
  powerapps-docs/maker/TOC.yml
  powerapps-docs/maker/model-driven-apps/copilot-control.md
  powerapps-docs/maker/model-driven-apps/rich-text-editor-control.md
  powerapps-docs/maker/model-driven-apps/use-copilot-email-assist.md
Owners: @KumarVivek, @Mattp123

Update events.md
  powerapps-docs/developer/model-driven-apps/clientapi/reference/events.md
Owners: @JimDaly, @KumarVivek

Update activityparty-entity.md
  powerapps-docs/developer/data-platform/activityparty-entity.md
Owners: @PHecke, @KumarVivek, @JimDaly

Create modern-header.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-header.md
Owners: @tapanm-msft, @KumarVivek

Update and rename modern-header.md to modern-controls-header.md
  powerapps-docs/maker/canvas-apps/controls/modern-controls/modern-controls-header.md
Owners: @tapanm-msft, @KumarVivek
